<template>
  <div class="face-location-map">
    <map
      id="map"
      :markers="markers"
      :scale="scale"
      :latitude="location.lat"
      :longitude="location.lon"
      @end="regionchange"
      @begin="regionchange"
      @regionchange="regionchange"
      show-location
      style="width: 100%; height: 100vh"
    />
  </div>
</template>

<script>
import dayjs from "dayjs";
import card from "@/components/card";
import { lastVisitTypeMap } from '@/utils';
import { visitPersonTypeMap } from '@/utils';
import { DOWNLOAD_FILE_URL, REQUEST_URL } from '@/utils/config';
export default {
  data() {
    return {
      location: {
        lon: '',
        lat: '',
      },
      markers: [],
      scale: 18,
      distance: 0
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
   getDistance(lat1, lng1, lat2, lng2) { 
      var dis = 0;
      var radLat1 = toRadians(lat1);
      var radLat2 = toRadians(lat2);
      var deltaLat = radLat1 - radLat2;
      var deltaLng = toRadians(lng1) - toRadians(lng2);
      var dis = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(deltaLat / 2), 2) + Math.cos(radLat1) * Math.cos(radLat2) * Math.pow(Math.sin(deltaLng / 2), 2)));
      return dis * 6378137;

      function toRadians(d) {  return d * Math.PI / 180;}
    } 
  },
  watch: {
    
  },
  computed: {
   
  },
  mounted() {
    const query = this.$root.$mp.query || {};
    const { lon, lat } = query;
    let that = this;
    mpvue.getLocation({
      type: "gcj02",
      success(res) {
        console.log(res);
        const latitude = res.latitude;
        const longitude = res.longitude;
        that.location.lon = longitude;
        that.location.lat = latitude;
        if(lon && lat) {
          that.$api.getDistance({
            origins: that.location.lon + ',' + that.location.lat,
            destination: lon + ',' + lat
          }).then(res => {
            const { results,infocode, status, info } = res;
            if(status !== '0') {
              that.distance = results[0].distance;
            } else {
              that.$toast.error(info);
            }
          })
        }
      }
    });
    if(lon && lat) {
      this.markers.push({
        id: '1',
        longitude: lon,
        latitude: lat,
        iconPath: '/static/icons/point.png',
        width: 14,
        height: 20,
        callout: {
          content: '签到定位',
          bgColor: '#fff',
          borderWidth: 1,
          padding: 5,
          borderRadius: 5,
          display: 'ALWAYS',
          borderColor: '#fff',
          color: '#FC984C'
        }
      });
    }
  },
  watch: {
    distance(newValue) {
      const zoom = ['50','100', '200', '500','1000','2000', '5000', '10000','20000','25000', '50000', '100000','200000','5000000']
      for(let i = 0; i< zoom.length; i++) {
        if(zoom[i] - newValue > 0) {
          this.scale = 18 - i;
          console.log(this.scale);
          break;
        }
      }
    }
  },
  created() {
    
  },
  onUnload() {
    this.location = {
      lon: '',
      lat: '',
    };
    this.markers = [],
    this.scale = 16
  }
};
</script>

<style lang="scss" scoped>
.phone-call-record {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
   margin: 20px 0 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
  }
  .level-block {
    width: 40px;
    height: 20px;
    opacity: 1;
    border-radius: 5px;
    color: white;
    text-align: center;
    float: right;
  }
  .record-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 10PX 15PX;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    .time {
      margin-right: 10px;
    }
    .content {
      flex: 1;
    }
    .right-arrow {
      width: 8px;
      height: 11px;
      margin-right: 10px;
    }
    &:after {
      content: " ";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      -webkit-transform-origin: center;
      transform-origin: center;
      top: auto;
      left: 15px;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      border-bottom: 1PX solid #eee;
    }
    .label,
    .value {
      -webkit-flex: 1;
      flex: 1;
    }
    .value {
      overflow: hidden;
      color: #999;
      text-align: right;
      vertical-align: middle;
    }
  }
  .voice {
    width: 91px;
    height: 20px;
    margin-left: 10px;
  }
  .textarea-content {
    width: 100%;
    background: white;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  .attachment-list {
    padding: 0 20px;
    .attachment-item {
      position: relative;
      display: inline-block;
      .delete-icon {
        width: 11px;
        height: 11px;
        position: absolute;
        top: 0;
        right: 3px;
      }
      .attachment-img {
        width: 56px;
        height: 56px;
        background: gray;
        margin: 5px 10px;
        box-sizing: border-box;
      }
    }
  }
  .medicine-item {
    background: white;
    display: flex;
    align-items: center;
    padding: 15PX;
    font-size: 14px;
  }
}
</style>