<template>
  <div class="task-detail">
    <div class="user-card">
      <img class="avatar" src="https://pic.qqtn.com/up/2017-11/15114862092111097.jpg" alt />
      <div class="info">
        <div class="name">小夏</div>
        <div class="workplace">温州市人民医院</div>
      </div>
      <img src="/static/icons/phone.png" alt class="phone-call" />
    </div>
    <div class="content">
      <van-cell title="主题" value="去买票" value-class="text-left" />
      <div class="theme-content">交换的数据方式方式方式方式发</div>
      <van-cell title="处理时间" :value="formattedDate" value-class="text-left" />
      <div class="attachments">
        <div class="title">附件</div>
        <div class="item">image.png</div>
        <div class="item">image.png</div>
      </div>
      <van-cell title="接收人" is-link use-label-slot @click="toReceiveStaff">
        <div slot="label">
          <div class="right-content">
            嘻嘻哈哈等五人
            <span class="right-status">已处理</span>
          </div>
        </div>
      </van-cell>
      <div class="history-title">
        <div class="line">
          <div class="text">历史交办事项</div>
        </div>
      </div>
      <div class="history-info">
        <div class="info-item">发件人：</div>
        <div class="info-item">发送时间：</div>
        <div class="info-item">收件人：</div>
        <div class="info-item">主题：</div>
      </div>
      <div class="history-content">
        属性 类型 默认值 描述 最低版本
        navigationBarBackgroundColor HexColor #000000 导航栏背景颜色，如 #000000
        navigationBarTextStyle string white 导航栏标题颜色，仅支持 black / white
        navigationBarTitleText string 导航栏标题文字内容
        navigationStyle string default 导航栏样式，仅支持以下值：
        default 默认样式
        custom 自定义导航栏，只保留右上角胶囊按钮 微信客户端 7.0.0
        backgroundColor HexColor #ffffff 窗口的背景色
        backgroundTextStyle string dark 下拉 loading 的样式，仅支持 dark / light
      </div>
      <div class="history-title">
        <div class="line">
          <div class="text">信息确认</div>
        </div>
      </div>
      <div class="reply-title">回复信息</div>
      <div class="history-content">
        属性 类型 默认值 描述 最低版本
        navigationBarBackgroundColor HexColor #000000 导航栏背景颜色，如 #000000
        navigationBarTextStyle string white 导航栏标题颜色，仅支持 black / white
        navigationBarTitleText string 导航栏标题文字内容
        navigationStyle string default 导航栏样式，仅支持以下值：
        default 默认样式
        custom 自定义导航栏，只保留右上角胶囊按钮 微信客户端 7.0.0
        backgroundColor HexColor #ffffff 窗口的背景色
        backgroundTextStyle string dark 下拉 loading 的样式，仅支持 dark / light
      </div>
      <div class="reply-title">附件</div>
      <div class="attachments">
        <div class="item">image.png</div>
        <div class="item">image.png</div>
      </div>
    </div>
    <custom-modal :show="showConfirmModal" title="信息确认" :customStyle="'width: 80%;'">
      <div slot="content">
        <div class="modal-content">
          <div class="title">备注</div>
          <textarea name id rows="5" class="textarea-content"></textarea>
          <div class="add-attachment">
            <div class="add-btn">
              <img src="/static/icons/paper-clip.png" class="paper-clip" />添加附件
            </div>
            <div class="attachment-list">
              <div class="attachment-item">
                asdfa.png
                <div class="delete-btn">删除</div>
              </div>
              <div class="attachment-item">
                asdfa.png
                <div class="delete-btn">删除</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </custom-modal>
  </div>
</template>

<script>
import dayjs from "dayjs";
import CustomModal from "@/components/custom-modal";
export default {
  data() {
    return {
      form: {
        theme: ""
      },
      showDatePicker: false,
      currentDate: new dayjs(),
      showConfirmModal: false
    };
  },
  components: {
    "custom-modal": CustomModal
  },

  methods: {
    onInput() {},
    toReceiveStaff() {
      mpvue.navigateTo({
        url: "/pages/tasks/receive-staff/main"
      });
    },
    navigateToForward() {
      mpvue.navigateTo({
        url: "/pages/tasks/forward/main"
      });
    },
    changeModalVisible(flag) {
      this.showConfirmModal = flag;
    }
  },
  computed: {
    formattedDate() {
      return this.currentDate.format("YYYY-MM-DD HH:mm");
    }
  },

  created() {
    // let app = getApp()
  }
};
</script>

<style lang="scss">
.task-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  .user-card {
    display: flex;
    align-items: center;
    width: 344px;
    height: 56px;
    border-radius: 8px;
    background: white;
    align-self: center;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
    .info {
      flex: 1;
      color: #5b5b5b;
      font-size: 14px;
    }
    .avatar {
      margin: 0 10px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    .phone-call {
      width: 27px;
      height: 27px;
      margin-right: 9px;
    }
  }
  .text-left {
    text-align: left;
  }
  .content {
    width: 344px;
    align-self: center;
    .theme-content {
      min-height: 104px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      font-size: 12px;
      padding: 8px;
      align-self: center;
      margin: 8px auto 8px auto;
    }
    .attachments {
      margin: 10px 0;
      .title {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: rgba(57, 56, 56, 1);
        opacity: 1;
        margin-left: 15px;
      }
      .item {
        margin: 10px 0;
        height: 25px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        padding: 5px 10px;
        font-size: 14px;
      }
    }
    .history-title {
      margin: 30px 0;
      .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #393838;
        position: relative;
      }
      .text {
        width: 136px;
        text-align: center;
        background: #f7f8fa;
        position: absolute;
        left: 104px;
        top: -10px;
        font-size: 14px;
      }
    }
    .history-info {
      width: 100%;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
      .info-content {
        margin: 5px 0;
      }
    }
    .history-content {
      margin: 10px 0;
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 1);
      padding: 10px;
      font-size: 14px;
    }
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 40px;
      .btn {
        width: 80px;
        height: 40px;
        background: rgba(103, 172, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 14px;
        color: white;
        padding: 0;
      }
    }
  }
  .reply-title {
    font-size: 14px;
  }
  .right-content {
    position: absolute;
    right: 150px;
    top: 13px;
    font-size: 16px;
    .right-status {
      text-align: right;
      position: absolute;
      left: 150px;
      top: 0px;
      width: 50px;
    }
  }
  .modal-content {
    padding: 10px;
    box-sizing: border-box;
    .textarea-content {
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(112, 112, 112, 0.21176470588235294);
      opacity: 1;
      width: 100%;
      height: 80px;
      margin: 5px 0;
      font-size: 12px;
      padding: 5px;
      box-sizing: border-box;
      overflow: scroll;
    }
    .add-attachment {
      .add-btn {
        width: 77px;
        height: 24px;
        background: rgba(44, 167, 249, 1);
        opacity: 1;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        .paper-clip {
          width: 8px;
          height: 14px;
          margin: 0 9px;
        }
      }
    }
    .attachment-list {
      .attachment-item {
        margin: 5px auto;
        width: 100%;
        height: 24px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(107, 107, 107, 1);
        opacity: 1;
        .delete-btn {
          width: 44px;
          height: 22px;
          background: rgba(255, 0, 0, 1);
          opacity: 1;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: rgba(255, 255, 255, 1);
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;
        }
      }
    }
  }
}
</style>
