<template>
  <div class="patient-search">
    <div class="overlay" />
    <div class="content">
      <div class="search-bar">
        <input class="input" type="text" placeholder="请在此输入患者姓名" v-model="searchName" @confirm="search"/>
        <img class="search-icon" src="/static/icons/search-icon.png" alt />
        <div class="search-text" @click="search">搜索</div>
      </div>
      <scroll-view class="patient-list" scroll-y="true" enable-flex="true" @scrolltolower="onReachLower">
        <patient-card
          v-for="(item, index) in patientsList"
          :key="index"
          :patient="item"
          :index="index"
          @click="navigateToPatientDetail(item.id)"
        >
          <div slot="more">查看详情</div>
        </patient-card>
      </scroll-view>
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
import { navigateToPatientDetail as navigateToDetail } from "@/utils/index";
export default {
  data() {
    return {
      activeIndex: 0,
      isOpenList: false,
      patientsList: [],
      show: false,
      searchName: "",
      page: 1,
      pageSize: 10
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    showMoveOutDialog(flag) {
      this.moveOutDialog = flag;
    },
    confirmMoveOut() {},
    changeIndex(index) {
      this.activeIndex = index;
    },
    changeOpenList(flag) {
      this.isOpenList = flag;
    },
    onChangeFlag(index) {
      this.patientsList[index].careFlag = !this.patientsList[index].careFlag;
      if (this.patientsList[index].careFlag) {
        this.show = true;
        setTimeout(() => (this.show = false), 800);
      }
    },
    navigateToPatientDetail(id) {
      mpvue.navigateTo({
        url: "/pages/my-patient/patient-guide/main?patientId=" + id
      });
    },
    search() {
      this.patientsList = [];
      this.fetchPatientList(1, this.pageSize, this.searchName);
    },
    fetchPatientList(page = 1, pageSize = 10, name= '') {
      let personId = mpvue.getStorageSync('personId');
      mpvue.showLoading({title: '请稍候'});
      let params = {
        personId,
        page,
        pageSize
      };
      if(name) params.name = name;
      this.$api.getPatientList(params).then(res => {
        mpvue.hideLoading();
        const { pager } = res;
        if(pager && pager.list.length > 0) {
          this.patientsList = this.patientsList.concat(pager.list);
        } else {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
        }
      });
    },
    onReachLower() {
      this.page++;
      this.fetchPatientList(this.page, this.pageSize, this.searchName);
    }
  },
  mounted() {
    this.fetchPatientList();
  },
  onUnload() {
    this.activeIndex = 0;
    this.isOpenList = false;
    this.patientsList = [];
    this.show = false;
    this.searchName = "";
    this.page = 1;
    this.pageSize = 10;
  }
};
</script>

<style lang="scss" scoped>
.patient-search {
  .overlay {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .search-bar {
      position: relative;
      .input {
        width: 296px;
        height: 32px;
        background:rgba(175,175,175,0.12);
        opacity: 1;
        border-radius: 7px;
        margin: 10px auto;
        padding: 0 35px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .search-icon {
        position: absolute;
        top: 8px;
        left: 50px;
        width: 16px;
        height: 16px;
      }
      .search-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(56, 136, 231, 1);
        opacity: 1;
        position: absolute;
        right: 50px;
        top: 6px;
      }
    }
    .patient-list {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
</style>