<template>
  <div class="history-version">
    <div class="block" @click="showPop = true">
      <div class="left">
        <div class="left-para">智慧e护新版本发布</div>
        <div class="left-para">2019.09.19</div>
      </div>
      <img src="/static/icons/right-arrow.png" alt="" class="icon">
    </div>
    <van-popup :show="showPop" @close="showPop = false" custom-style="border-radius: 15px; width: 50%;">
      <div class="modal-content">
        <div class="header">
          <div class="name">智慧e护</div>
          <div class="date">2019-09-19</div>
        </div>
        <div class="content">
          新版本发布
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showPop: false
    };
  },

  components: {},

  methods: {
    onClose() {

    }
  },

  created() {
    
  }
};
</script>

<style lang="scss" scoped>
.history-version {
  .block {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    width:100%;
    height:48px;
    background:rgba(255,255,255,1);
    opacity:1;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    .left {
      flex: 1;
      .left-para {
        margin: 5px 0;
      }
    }
    .icon {
      width: 9px;
      height: 16px;
    }
  }
  .modal-content {
    font-size: 14px;
    .header {
      width: 100%;
      box-sizing: border-box;
      background:rgba(103,172,255,1);
      opacity:1;
      text-align: center;
      padding: 10px;
      color: white;
      .name {
        font-size: 16px;
      }
    }
    .content {
      text-align: center;
      min-height: 50px;
    }
  }
}
</style>
