<template>
  <div class="forward">
    <receiver-select-modal
      :show="showStaffModal"
      @cancel="showStaffModal = false"
      @confirm="pickReceiver"
      ref="receiverselectmodal"
    >
    </receiver-select-modal>
    <div class="form">
      <div class="record-block is-required">
        <div class="label">主题：</div>
        <div class="value">
          <input type="text" placeholder="请输入主题" v-model="form.title" />
        </div>
      </div>
      <textarea name id rows="5" class="textarea-content" v-model="form.content" placeholder="请在此输入文本" v-if="!isPickerVisible"></textarea>
      <text class="textarea-content" v-else>{{form.content || '请在此输入文本'}}</text>
      <div class="dealtime">
        处理时间：
         <div :class="['timeblock', dealTimeSelected ? 'selected' : '']" @click="dealTimePickerVisible = true">
          <div class="time">{{formattedDealTime || '请选择'}}</div>
          <img class="arrow-down" src="/static/icons/arrow-down.png" alt />
        </div>
        <van-popup :show="dealTimePickerVisible" position="bottom">
          <van-datetime-picker
            type="datetime"
            :value="dealTimeTimeStamp"
            @confirm.prevent="confirmDatePick"
            @cancel="dealTimePickerVisible = false"
          />
        </van-popup>
      </div>
      <div class="dealtime" style="display: flex; align-items: center;">
        接收人员: {{receiversName}}
        <div style="flex: 1; justify-content: flex-end; display: flex;">
          <img
            src="/static/icons/add.png"
            style="width: 21px; height: 21px;"
            @click="showStaffModal = true"
          />
        </div>
      </div>
      <div class="add-attachment">
        <div class="add-btn" @click="addAttachment">
          <img src="/static/icons/paper-clip.png" class="paper-clip" />添加附件
        </div>
        <div class="attachment-list">
          <div class="attachment-item" v-for="(item, index) in attachmentList" :key="index">
            {{item.originName || item.name}}
            <div class="right">
              <div class="delete-btn" @click="deleteAttachment(index)">删除</div>
            </div>
          </div>
        </div>
      </div>
      <div class="history-block" v-for="(item,index) in pTaskList" :key="index">
        <div class="history-title">
          <div class="line">
            <div class="text">历史交办事项</div>
          </div>
        </div>
        <div class="history-item" >
          <div class="history-info">
            <div class="info-item">发件人：{{item.createrName}}</div>
            <div class="info-item">发送时间：{{item.created}}</div>
            <div class="info-item">收件人：{{item.receiverName}}</div>
            <div class="info-item">主题：{{item.title}}</div>
          </div>
          <!-- <div class="history-content">{{item.content}}</div> -->
          <textarea name id rows="3" class="history-content" v-if="!isPickerVisible" v-model="item.content"></textarea>
          <div class="history-content" v-else>{{item.content}}</div>
        </div>
      </div>
    </div>
    <div class="submit" @click="confirmForward">确定</div>
  </div>
</template>

<script>
import ReceiveStaffModal from "@/components/receiver-select-modal";
import dayjs from "dayjs";
import { debounce } from '@/utils';
import { REQUEST_URL, DOWNLOAD_FILE_URL } from '@/utils/config';
export default {
  data() {
    return {
      showStaffModal: false,
      result: [],
      form: {
        title: "",
        content: ""
      },
      dealTime: new dayjs(),
      dealTimePickerVisible: false,
      dealTimeSelected: false,
      attachmentList: [],
      historyTask: {},
      receiverList: [],
      pTaskList: []
    };
  },

  components: {
    "receiver-select-modal": ReceiveStaffModal
  },

  methods: {
    changeModalVisible(flag) {
      this.showStaffModal = flag;
    },
    onItemChange(e) {
      this.result = e.mp.detail;
    },
    confirmDatePick(e) {
      this.dealTime = dayjs(e.mp.detail);
      this.dealTimePickerVisible = false;
      this.dealTimeSelected = true;
    },
    addAttachment() {
      const promise = new Promise((resolve, reject) => {
        wx.chooseMessageFile({
          count: 10,
          type: 'all',
          success (res) {
            const tempFilePaths = res.tempFiles;
            resolve(tempFilePaths)
          }
        });
      }).then(res => {
        this.attachmentList = this.attachmentList.concat(res);
      });
    },
    uploadAttachments() {
      const token = wx.getStorageSync('token');
      return Promise.all(this.attachmentList.map(item => {
        return new Promise((resolve, reject) => {
          mpvue.showLoading({title: '上传附件中'})
          if(item.originName) {
            item.fileName = item.name;
            item.name = item.originName;
            item.url = item.path;
            resolve(item);
            mpvue.hideLoading();
          }
          wx.uploadFile({
            url: `${REQUEST_URL}/sys/file/upload`, 
            filePath: item.path,
            name: 'file',
            header: {
              token
            },
            success (res){
              const data = res.data;
              let parsedData = JSON.parse(data);
              if(parsedData.status == 300) {
                mpvue.showToast({
                  title: '附件内容不能为空',
                  icon: 'none'
                })
                reject();
                return;
              }
              resolve(parsedData.data[0]);
            },
            fail(res) {
              console.log(res);
              reject(res);
            },
            complete(res) {
              mpvue.hideLoading();
            }
          })
        }).catch(err => console.log(err))
      })).catch(err => {
        mpvue.showToast({
          title: err,
          icon: 'none'
        });
      }).finally(() => mpvue.hideLoading())
    },
    deleteAttachment(index) {
      this.attachmentList.splice(index, 1);
    },
    pickReceiver(list) {
      this.receiverList = list;
    },
    checkForm() {
      const { title, content } = this.form;
      if(!title) {
        this.$toast.error('请输入主题');
        return false;
      }
      if(!content) {
        this.$toast.error('请输入内容');
        return false;
      }
      if(!this.receiverList.length) {
        this.$toast.error('请选择接收人员');
        return false;
      }
      if(!this.dealTimeSelected) {
        this.$toast.error('请选择处理时间');
        return false;
      }
      return true;
    },
    confirmForward: debounce(function() {
      if(!this.checkForm()) {
        return;
      }
      this.uploadAttachments().then(res => {
        console.log(res);
        let params = {};
        const fileList = res;
        const originNames = [],
              fileNames = [],
              urls = [];
        const receiverIds = this.receiverList.map(item => {
          return item.split(',')[1]
        });
        for(let item of fileList) {
          fileNames.push(item.fileName);
          urls.push(item.url);
        }
        for(let item of this.attachmentList) {
          originNames.push(item.name);
        }
        

        const query = this.$root.$mp.query || {};
        let personId = mpvue.getStorageSync('personId');
        const { taskId } = query;
        params.parentId = taskId;
        params.personId = personId;

        const pTaskContent = this.pTaskList.map(item => item.content).join('-------历史交办事项-------');

        params.title = this.form.title;
        params.handleDateStr = this.dealTime.format('YYYY-MM-DD HH:mm');
        params.receiverIds = receiverIds.join(',') || '';
        params.content = this.form.content + '-------历史交办事项-------' + pTaskContent;
        params.originName = originNames;
        params.fileName = fileNames;
        params.url = urls;
        
        for(let prop in params) {
          if(!params[prop]) delete params[prop];
          if(Array.isArray(params[prop]) && !params[prop].length) delete params[prop];
        }
        mpvue.showLoading({title: '请稍候'});
        this.$api.saveTask(params).then(res => {
          mpvue.hideLoading();
          if(res.status === 200) {
            mpvue.showToast({
              title: '发布任务成功',
              icon: 'success'
            });
            var pages = getCurrentPages(); //获取加载的页面
            var currentPage = pages[pages.length - 1]; //获取当前页面的对象
            var url = currentPage.route; //当前页面url
            const index= pages.findIndex(e => e.route.indexOf('pages/tasks/main') > -1);
            if(index > -1) {
              mpvue.navigateBack({
                delta: (pages.length - 1) - index
              })
            }
          } else {
            mpvue.showToast({
              title: res.msg,
              icon: 'none'
            })
          }
        })
      })
    }, 300)
  },
  computed: {
    formattedDealTime() {
      return this.dealTime.format("YYYY-MM-DD HH:mm");
    },
    isPickerVisible() {
      return this.dealTimePickerVisible || this.showStaffModal;
    },
    dealTimeTimeStamp() {
      return this.dealTime.valueOf();
    },
    receiversName() {
      let names = [];
      for(let item of this.receiverList) {
        names.push(item.split(',')[2]);
      }
      return names.join('、');
    },
    isPickerVisible() {
      return this.showStaffModal || this.dealTimePickerVisible;
    }
  },
  mounted() {
    const query = this.$root.$mp.query || {};
    let personId = mpvue.getStorageSync('personId');
    const { taskId } = query;
    mpvue.showLoading({title: '请稍候'});
    this.$api.getTaskDetail({
      taskId,
      personId
    }).then(res => {
      mpvue.hideLoading();
      console.log(res);
      const { task, fileList = [], pTaskList = [] } = res;
      if(task) {
        this.historyTask = task;
        this.attachmentList = fileList;
        this.pTaskList.push(task);
        this.pTaskList = this.pTaskList.concat(pTaskList);
      }
    });
    this.$refs.receiverselectmodal.refresh();
  },
  onUnload() {
    this.showStaffModal = false;
    this.dealTimePickerVisible = false;
    this.form =  {
      title: "",
      content: ""
    },
    this.attachmentList = [];
    this.historyTask = {};
    this.receiverList = [];
    this.pTaskList = []; 
    this.dealTimeSelected = false;
  }
};
</script>

<style lang="scss">
.van-cell__title,
.van-cell__value {
  flex: none !important;
}
.forward {
  padding: 10px;
  .submit {
    width:216px;
    height:40px;
    background:rgba(56,136,231,1);
    opacity:1;
    border-radius:6px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    margin: 48px auto;
    text-align: center;
  }
  .content {
    font-size: 16px;
    padding: 10px 20px;
    overflow: scroll;
    display: flex;
    .group-name {
      position: relative;
      margin: 10px 0;
      .group-sign {
        width: 13px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: -17px;
      }
    }
    .group-children {
      .children-item {
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }
  .form {
    .textarea-content {
      width: 100%;
      background: white;
      padding: 10PX 15PX;
      font-size: 14px;
      box-sizing: border-box;
      margin: 10px 0;
      height: 100px;
      display: block;
      color: #999;
    }
    text.textarea-content {
      overflow: hidden;
    }
    .record-block {
      position: relative;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding: 15px 18px;
      font-size: 14px;
      line-height: 24px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
      align-items: center;
      .value {
        color: #999;
        display: flex;
        flex-direction: row;
        flex: 1;
        .time {
          flex: 1;
          text-align: right;
        }
        .right-arrow {
          width: 8px;
          height: 14px;
        }
      }
      &.is-required:before {
        position: absolute;
        left: 12px;
        font-size: 14px;
        color: #f44;
        content: "*";
      }
    }
    .dealtime {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background: white;
      font-size: 14px;
      margin: 10px 0;
      .timeblock {
        margin: 0 10px;
        position: relative;
        width: 132px;
        height: 24px;
        background: rgba(170, 159, 159, 0.48);
        border-radius: 5px;
        color: rgba(91, 91, 91, 1);
        font-size: 12px;
        padding: 5px;
        display: flex;
        align-items: center;
        &.selected {
          background: #67ACFF;
          color: white;
        }
        .time {
          text-align: center;
          flex: 1;
        }
        .arrow-down {
          width: 12px;
          height: 7px;
          position: absolute;
          right: 5px;
        }
      }
    }

    .history-title {
      margin: 30px 0;
      .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #393838;
        position: relative;
      }
      .text {
        width: 136px;
        text-align: center;
        background: #f7f8fa;
        position: absolute;
        left: 104px;
        top: -10px;
        font-size: 14px;
      }
    }
    .history-info {
      width: 100%;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
      .info-content {
        margin: 5px 0;
      }
    }
    .history-content {
      margin: 10px 0;
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 1);
      padding: 10px;
      font-size: 14px;
    }
    .add-attachment {
      .add-btn {
        width: 77px;
        height: 24px;
        background: rgba(44, 167, 249, 1);
        opacity: 1;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        .paper-clip {
          width: 8px;
          height: 14px;
          margin: 0 9px;
        }
      }
    }
    .attachment-list {
      .attachment-item {
        margin: 10px auto;
        width: 100%;
        height: 24px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(107, 107, 107, 1);
        opacity: 1;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          .delete-btn {
            width: 44px;
            height: 24px;
            background: rgba(255, 0, 0, 1);
            opacity: 1;
            line-height: 24px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
