<template>
  <div class="patient-container">
    <div class="header">
      <patient-card :patient="patient" @more-click="moreClick" :showMethod="true">
        <div slot="more">
          <div>{{patient.dicStatusKey == '13001'? '挂起': '取消挂起'}}</div>
        </div>
      </patient-card>
    </div>
    <div class="title" style="display: flex; align-items: center;">
      基本信息
      <div style="flex: 1;"></div>
      <div class="edit-block" @click="navigateToEdit"><img src="/static/icons/edit.png" class="edit-icon" alt="">编辑资料</div>
    </div>
    <van-cell-group>
      <van-cell title="性别" :value="formattedGender" value-class="content-class" />
      <van-cell title="身份证号码" :value="patient.identification" value-class="content-class" />
      <van-cell title="是否领取残疾人证" :value="patient.isDisable ? '否': '是'" value-class="content-class" />
      <van-cell title="残疾鉴定证号" :value="patient.disableCard || '暂无'" value-class="content-class" />
      <van-cell title="是否领取低保证" :value="patient.isAllowance? '否': '是'" value-class="content-class" />
      <van-cell title="低保证号" :value="patient.allowanceCard || '暂无'" value-class="content-class" />
      <van-cell title="状态" :value="formattedStatus" value-class="content-class" />
      <van-cell title="目前诊断" :value="patient.diacrisis" value-class="content-class" />
      <van-cell title="管理所在行政区" :value="formattedGroup" value-class="content-class" />
      <van-cell title="居住地址" :value="patient.address" value-class="content-class" />
    </van-cell-group>
    <div class="title">监护人信息</div>
    <van-cell-group>
      <van-cell title="监护人姓名" :value="patient.guarderName" value-class="content-class" />
      <van-cell title="监护人与患者关系" :value="patient.guarderRelation" value-class="content-class" />
      <van-cell title="监护人联系方式" :value="patient.guarderPhoto" value-class="content-class blue" @click="makeGuarderPhoneCall"/>
    </van-cell-group>
    <!-- <div class="title">设备信息</div>
    <van-cell-group>
      <van-cell title="设备类型" value="手环" value-class="content-class" />
      <van-cell title="设备ID" value="23625663" value-class="content-class" />
      <van-cell title="设备状态" value="在线" value-class="content-class" />
    </van-cell-group> -->
    <!-- <div class="title">电话问诊记录(1)</div>
    <div class="record-group">
      <div class="record-block" @click="navigateToPhoneRecord">
        <div class="time">{{formattedTime}}</div>
        <div class="content">电话问诊</div>
        <img class="right-arrow" src="/static/icons/right-arrow.png" />
      </div>
    </div> -->
    <div class="title">电话问诊记录({{phoneVisitList.length}})</div>
    <div class="record-group">
      <div class="record-block" @click="navigateToFaceRecord(item)" v-for="(item,index) in phoneVisitList" :key="index">
        <div class="time">{{item.visitDate}}</div>
        <div class="content">{{item.type === '0' ? '面访': '电话问诊'}}</div>
        <img class="right-arrow" src="/static/icons/right-arrow.png" />
      </div>
    </div>
    <div class="title">面访记录({{faceVisitList.length}})</div>
    <div class="record-group">
      <div class="record-block" @click="navigateToFaceRecord(item)" v-for="(item,index) in faceVisitList" :key="index">
        <div class="time">{{item.visitDate}}</div>
        <div class="content">{{item.type === '0' ? '面访': '电话问诊'}}</div>
        <img class="right-arrow" src="/static/icons/right-arrow.png" />
      </div>
    </div>
    <custom-modal
      :show="isHangUpModalVisible"
      title="挂起"
      :customStyle="'width: 60%;'"
      @cancel="cancelSubmitPatientStatus"
      @confirm="confirmHangUp"
    >
      <div slot="content">
        <div class="modal-content">
          <div class="label">患者状态：</div>
          <div class="block" @click="patientStatusPickerVisible = true">
            {{currentPatientStatus || '请选择'}}
            <img
              src="/static/icons/arrow-down.png"
              class="arrow-down"
              alt
            />
          </div>
        </div>
      </div>
    </custom-modal>
    <van-popup :show="patientStatusPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择患者状态"
        :columns="statusList"
        :value-key="'value'"
        @confirm="e => confirmPicker(e, 'currentPatientStatus', 'patientStatusPickerVisible')"
        @cancel="patientStatusPickerVisible = false"
      />
    </van-popup>
  </div>
</template>

<script>
import card from "@/components/card";
import CustomModal from "@/components/custom-modal";
import dayjs from "dayjs";
import { formattedGenderDic, formattedStatusDic, statusMap, recursiveFind } from '@/utils';
import { decode } from '@/utils/crypto';
export default {
  data() {
    return {
      patient: {},
      moveOutDialog: false,
      time: new dayjs(),
      isHangUpModalVisible: false,
      patientStatusPickerVisible: false,
      currentPatientStatus: "",
      currentPatientStatusId: "",
      confirmedPatientStatus: "",
      faceVisitList:[],
      phoneVisitList: [],
      statusList: []
    };
  },

  components: {
    "patient-card": card,
    "custom-modal": CustomModal
  },

  methods: {
    confirmMoveOut() {},
    changeHangUp() {
      this.isHangUpModalVisible = true;
    },
    confirmPicker(e, property, visible) {
      this[property] = e.target.value.value;
      this[property + 'Id'] = e.target.value.key;
      this[visible] = false;
    },
    navigateToEdit() {
      mpvue.navigateTo({
        url: '/pages/my-patient/create/main?patientId=' + this.patient.id
      })
    },
    moreClick() {
      console.log("detail more clicked");
      if(this.patient.dicStatusKey == '13001') {
        this.isHangUpModalVisible = true;
      } else {
        let that = this;
        mpvue.showModal({
          title: '提示',
          content: '是否确认取消挂起该名患者？',
          success (res) {
            if (res.confirm) {
              const query = that.$root.$mp.query || {};
              const { patientId } = query;
              that.$api.saveOrUpdatePatientInfo({
                id: patientId,
                dicStatusKey: 13001
              }).then(res => {
                if(res && res.status === 200) {
                  mpvue.showToast({title: '取消挂起成功'});
                  that.getPatientDetail();
                }
              })
            } else if (res.cancel) {
              console.log('用户点击取消')
            }
          }
        })
      }
    },
    submitPatientStatusChange() {},
    cancelSubmitPatientStatus() {
      this.isHangUpModalVisible = false;
      // // 如果未确认状态，将重新赋值
      // if (this.currentPatientStatus !== this.confirmedPatientStatus) {
      //   this.currentPatientStatus = this.confirmedPatientStatus;
      // }
    },
    navigateToPhoneRecord() {
      mpvue.navigateTo({
        url: '/pages/diagnosis/phone-call/main'
      })
    },
    navigateToFaceRecord(item) {
      mpvue.navigateTo({
        url: '/pages/diagnosis/face-to-face/main?id=' + item.id
      })
    },
    confirmHangUp() {
      const query = this.$root.$mp.query || {};
      const { patientId } = query;
      this.$api.saveOrUpdatePatientInfo({
        id: patientId,
        dicStatusKey: this.currentPatientStatusId
      }).then(res => {
        if(res && res.status === 200) {
          mpvue.showToast({title: '挂起成功'});
          this.isHangUpModalVisible = false;
          this.getPatientDetail();
        }
      })
    },
    getPatientDetail() {
      const query = this.$root.$mp.query || {};
      const { patientId } = query;
      const statusList = statusMap();
      let personId = mpvue.getStorageSync('personId');
      mpvue.showLoading({title: '请稍候'});
      this.$api.getPatientDetail({
        id: patientId
      }).then(res => {
        mpvue.hideLoading();
        const { culprit } = res;
        if(culprit) {
          // if(culprit.identification) culprit.identification = culprit.identification.slice(0, length - 4) + decode(culprit.identification.slice(0, length - 4))
          // if(culprit.identification)
          this.patient = culprit;
          this.currentPatientStatus = statusList.get(this.patient.dicStatusKey);
        }
      },() => {
        mpvue.hideLoading();
      });
    },
    makeGuarderPhoneCall() {
      const { guarderPhoto } = this.patient;
      if(guarderPhoto) {
        mpvue.makePhoneCall({
          phoneNumber: guarderPhoto
        })
      } else {
        mpvue.showToast({
          title: '暂无电话信息，无法呼出',
          icon: 'none'
        });
      }
    },
  },
  computed: {
    formattedTime(time) {
      return function(time) {
        return dayjs(time).format('YYYY-MM-DD');
      }
    },
    formattedGender() {
      return formattedGenderDic(this.patient.dicSexKey);
    },
    formattedStatus() {
      return formattedStatusDic(this.patient.dicStatusKey);
    },
    formattedGroup() {
      return recursiveFind(this.patient.groupId) || '暂无'
    },
  },
  mounted() {
    const query = this.$root.$mp.query || {};
    const { patientId } = query;
    let personId = mpvue.getStorageSync('personId');
    mpvue.showLoading({title: '请稍候'});
    this.$api.getPatientDetail({
      id: patientId
    }).then(res => {
      mpvue.hideLoading();
      const { culprit } = res;
      if(culprit) {
        this.patient = culprit;
        this.currentPatientStatus = statusList.get(this.patient.dicStatusKey);
      }
    },() => {
      mpvue.hideLoading();
    });
    mpvue.showLoading({title: '请稍候'});
    this.$api.getVisitList({
      personId,
      culpritId: patientId
    }).then(res => {
      mpvue.hideLoading();
      const { pager } = res;
      pager.list.forEach(item => {
        item.visitDate = dayjs(item.visitDate).format('YYYY-MM-DD');
        if(item.type == '0') {
          this.faceVisitList.push(item);
        }
        if(item.type == '1') {
          this.phoneVisitList.push(item);
        }
      });
      // this.phoneVisitList = pager.list.map(item => {
      //   if(item.type == '1') {
      //     item.visitDate = dayjs(item.visitDate).format('YYYY-MM-DD');
      //     return item;
      //   }
      // });
    })
  },
  onPullDownRefresh() {
    this.faceVisitList = [];
    this.phoneVisitList = [];
    this.patient = {};
    const query = this.$root.$mp.query || {};
    const { patientId } = query;
    let personId = mpvue.getStorageSync('personId');
    mpvue.showLoading({title: '请稍候'});
    this.$api.getPatientDetail({
      id: patientId
    }).then(res => {
      mpvue.hideLoading();
      const { culprit } = res;
      if(culprit) {
        this.patient = culprit;
        this.currentPatientStatus = statusList.get(this.patient.dicStatusKey);
      }
    },() => {
      mpvue.hideLoading();
    });
    mpvue.showLoading({title: '请稍候'});
    this.$api.getVisitList({
      personId,
      culpritId: patientId
    }).then(res => {
      mpvue.hideLoading();
      const { pager } = res;
      pager.list.forEach(item => {
        item.visitDate = dayjs(item.visitDate).format('YYYY-MM-DD');
        if(item.type == '0') {
          this.faceVisitList.push(item);
        }
        if(item.type == '1') {
          this.phoneVisitList.push(item);
        }
      });
    })
    mpvue.stopPullDownRefresh();
  },
  created() {
    const statusList = statusMap();
    for(let [key, value] of statusList) {
      this.statusList.push({key, value})
    }
  },
  onUnload() {
    this.patient = {};
    this.moveOutDialog = false;
    this.time = new dayjs();
    this.isHangUpModalVisible = false;
    this.patientStatusPickerVisible = false;
    this.currentPatientStatus = "";
    this.currentPatientStatusId = "";
    this.confirmedPatientStatus = "";
    this.faceVisitList = [];
    this.phoneVisitList = [];
  }
};
</script>

<style lang="scss">
.patient-container {
  padding: 10px 0;
  .edit-block {
    font-size: 14px;
    color: white;
    text-align: center;
    display: block;
    float: right;
    background: #2196fb;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    .edit-icon {
      width: 16px;
      height: 16px;
      margin: 0 3px;
    }
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .title {
    margin: 20px 0 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
  }
  .content-class {
    text-align: left;
    &.blue {
      color: #3888E7;
    }
  }
  .more-info {
    z-index: 10;
    .hangup {
      color: #3888e7;
      margin: 0 5px;
    }
  }
  .record-group {
    .record-block {
      position: relative;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding: 10px 15px;
      font-size: 14px;
      line-height: 24px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
      align-items: center;
      .time {
        margin-right: 10px;
      }
      .content {
        flex: 1;
      }
      .right-arrow {
        width: 8px;
        height: 11px;
        margin-right: 10px;
      }
    }
  }
  .modal-content {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .label {
      display: inline-block;
    }
    .block {
      width: 129px;
      height: 24px;
      background: rgba(103, 172, 255, 1);
      opacity: 1;
      border-radius: 5px;
      color: white;
      padding: 0 5px;
      margin: 0 5px;
      text-align: center;
      line-height: 24px;
      position: relative;
      .arrow-down {
        width: 12px;
        height: 7px;
        position: absolute;
        top: 9px;
        right: 10px;
      }
    }
  }
}
</style>