<template>
  <div class="login">
    <div class="logo">
      <img class="icon" src="/static/icons/logo.png" alt="">
    </div>
    <div class="form">
      <div class="input-group">
        <input type="text" class="custom-input" placeholder="请在此输入账号" v-model="form.username">
        <img src="/static/icons/person.png" alt="" class="icon">
      </div>
      <div class="input-group">
        <input type="password" class="custom-input" placeholder="请在此输入密码" v-model="form.password">
        <img src="/static/icons/lock.png" alt="" class="icon">
      </div>
    </div>
    <img src="/static/images/login-background.png" alt="" class="background">
    <div class="btn" @click="login">
      登录
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      }
    };
  },

  components: {
   
  },

  methods: {
    login() {
      const { username, password } = this.form;
      if(!username) {
        mpvue.showToast({
          title: '请输入用户名',
          icon: 'none'
        })
        return;
      } else if(!password) {
        mpvue.showToast({
          title: '请输入密码',
          icon: 'none'
        });
        return;
      }
      mpvue.showLoading({
        title: '请稍候',
      });
      this.$api.login({
        username,
        password
      }).then(res => {
        wx.clearStorage();
        mpvue.hideLoading();
        mpvue.showToast({
          title: '登录成功',
          icon: 'success'
        });

        const { token, personId } = res;
        
        mpvue.setStorage({
          key: "token",
          data: token
        });

        mpvue.setStorage({
          key: "personId",
          data: personId
        });

        setTimeout(() => {
          mpvue.redirectTo({
            url: '/pages/index/main'
          });
        }, 1500);
 
        
      }, res => {
        mpvue.hideLoading();
        mpvue.showToast({
          title: res,
          icon: 'none'
        });
      });
     
    }
  },
  computed: {
  },
  created() {
    // let app = getApp()
  }
};
</script>

<style lang="scss" >
page {
  background: white;
  padding: 0;
}
.login {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-top: 39px;
    .icon {
      height: 72px;
      width: 72px;
    }
  }
  .form {
    margin-top: 106px;
    .input-group {
      position: relative;
      width: 296px;
      height: 30px;
      box-sizing: border-box;
      margin: 16PX 0;
      .custom-input {
        border-bottom: 1px solid rgba(112,112,112,0.26);
        padding-left: 30px;
        padding-bottom: 8px;
        font-size: 14px;
      }
      .icon {
        width: 20px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .btn {
    width:288px;
    height:40px;
    background:rgba(56,136,231,1);
    opacity:1;
    border-radius:7px;
    margin-top: 64px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: white;
    box-shadow: 0px 3px 10px rgb(185, 216, 255);
  }
  .background {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
  }
}
</style>
