<template>
  <div class="medicine-search">
    <van-search :value="searchValue" placeholder="搜索" @search="onSearch($event.mp.detail)" />
    <div class="header">
      <div class="col" style="width: 50%;">药品名称</div>
      <div
        class="col"
        style="width: 30%; height: 20px; line-height: 20px; border-left: 1px solid #eee; border-right: 1px solid #eee;"
      >产品规格</div>
      <div class="col" style="width: 20%;">产品产地</div>
    </div>
    <div class="content">
      <div class="item" v-for="(item,index) in medicineList" :key="index" @click="chooseMedicine(item)">
        <div class="col name">{{item.name}}</div>
        <div class="col specs">{{item.specifications}}</div>
        <div class="col origin">{{item.origin}}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchValue: "",
      medicineList: [],
      page: 1,
      pageSize: 10
    };
  },

  components: {
  },

  methods: {
    onSearch(value) {
      this.searchValue = value;
      this.medicineList = [];
      this.fetchDrugList(1,10, value);
    },
    onCancel() {},
    chooseMedicine(medicine) {
      var pages = getCurrentPages();
      var prevPage = pages[pages.length - 2];  //上一个页面
      prevPage.data.$root[0].currentMedicine.medicineName = medicine.name;
      prevPage.data.$root[0].currentMedicine.id = medicine.id;
      mpvue.navigateBack();
    },
    fetchDrugList(page = 1, pageSize = 10, name = '') {
      mpvue.showLoading({title: '请稍候'});
      let params = {
        page,
        pageSize
      };
      if(name) {
        params.name = name;
      }
      this.$api.getDrugList(params).then(res => {
        mpvue.hideLoading();
        const { pager } = res;
        if(!pager.list.length) {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
        }
        this.medicineList = this.medicineList.concat(pager.list);
      },() => {
        mpvue.hideLoading();
      })
    },
  },
  mounted() {
    if(!this.medicineList.length) {
      this.fetchDrugList();
    }
  },
  onReachBottom() {
    this.page++;
    this.fetchDrugList(this.page, this.pageSize, this.searchValue);
  },
  onUnload() {
    this.searchValue = "";
    this.medicineList = [];
    this.page = 1;
    this.pageSize = 10;
  }
};
</script>

<style lang="scss">
.medicine-search {
  padding: 10px 0;
  .header {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    margin: 10px 0;
    display: flex;
    align-items: center;
    .col {
      height: 50px;
      text-align: center;
      font-size: 14px;
      line-height: 50px;
    }
  }
  .content {
    .item {
      width: 100%;
      height: 50px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      display: flex;
      align-items: center;
      position: relative;
      .col {
        height: 50px;
        text-align: left;
        font-size: 14px;
        line-height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 2px;
        &.name {
          padding-left: 10px;
          width: 50%;
        }
        &.specs {
          width: 30%;
        }
        &.origin {
          width: 20%;
          padding-right: 10px;
        }
      }
      &:after {
        content: " ";
        position: absolute;
        pointer-events: none;
        box-sizing: border-box;
        -webkit-transform-origin: center;
        transform-origin: center;
        top: auto;
        left: 15px;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        border-bottom: 2px solid #eee;
      }
    }
  }
}
</style>