<template>
  <div class="change-password">
    <div class="input-group">
      <input type="text" class="input" placeholder="请在此填写原始密码" v-if="oldPassOpen" v-model="oldPassword" @input="checkOldPassword">
      <input type="password" class="input" placeholder="请在此填写原始密码" v-else v-model="oldPassword" @input="checkOldPassword">
      <img src="/static/icons/lock-open-gray.png" alt="" class="icon" v-if="!oldPassword">
      <img src="/static/icons/lock-open-blue.png" alt="" class="icon" v-else>
      <cover-image src="/static/icons/eye-closed.png" alt="眼睛" class="eye-icon closed" style="right: 5px" v-if="oldPassword && !oldPassOpen" @click="oldPassOpen = true" />
      <cover-image src="/static/icons/eye-open.png" alt="眼睛" class="eye-icon" style="right: 5px" v-if="oldPassword && oldPassOpen" @click="oldPassOpen = false" />
      
      <div class="alert-message" v-if="oldPasswordMessage.length > 0">
        {{oldPasswordMessage}}
      </div>
    </div>
    <div class="input-group">
      <input type="text" class="input" placeholder="请填写由字母、数字组合的6~18位新密码" v-if="newPassOpen" v-model="newPassword" @input="checkNewPassword">
      <input type="password" class="input" placeholder="请填写由字母、数字组合的6~18位新密码" v-else v-model="newPassword" @input="checkNewPassword">
      <img src="/static/icons/lock-gray.png" alt="" class="icon" v-if="!newPassword">
      <img src="/static/icons/lock-blue.png" alt="" class="icon" v-else>
      <img src="/static/icons/eye-closed.png" alt="眼睛" class="eye-icon closed" v-if="newPassword && !newPassOpen" @click="newPassOpen = true">
      <img src="/static/icons/eye-open.png" alt="眼睛" class="eye-icon" v-if="newPassword && newPassOpen" @click="newPassOpen = false">
      <div class="alert">
        <img src="/static/icons/error.png" alt="" class="alert-icon" v-if="newPasswordMessage">
        <img src="/static/icons/success.png" alt="" class="alert-icon" v-if="newPassword  && !newPasswordMessage">
      </div>
      <div class="alert-message" v-if="newPasswordMessage.length > 0">
        {{newPasswordMessage}}
      </div>
    </div>
    <div class="input-group">
      <input type="text" class="input" placeholder="再次填写您的新密码" v-if="confirmPassOpen" v-model="confirmNewPassword" @input="checkConfirmPassword">
      <input type="password" class="input" placeholder="再次填写您的新密码" v-else v-model="confirmNewPassword" @input="checkConfirmPassword">
      <img src="/static/icons/lock-success-gray.png" alt="" class="icon" v-if="!confirmNewPassword">
      <img src="/static/icons/lock-success-blue.png" alt="" class="icon" v-else>
      <img src="/static/icons/eye-closed.png" alt="眼睛" class="eye-icon closed" v-if="confirmNewPassword && !confirmPassOpen" @click="confirmPassOpen = true">
      <img src="/static/icons/eye-open.png" alt="眼睛" class="eye-icon" v-if="confirmNewPassword && confirmPassOpen" @click="confirmPassOpen = false">
      <div class="alert">
        <img src="/static/icons/error.png" alt="" class="alert-icon" v-if="confirmNewPasswordMessage">
        <img src="/static/icons/success.png" alt="" class="alert-icon" v-if="!confirmNewPasswordMessage && confirmNewPassword">
      </div>
      <div class="alert-message" v-if="confirmNewPasswordMessage.length > 0">
        {{confirmNewPasswordMessage}}
      </div>
    </div>
    <van-popup
      :show="messageVisible"
      position="center"
      custom-style="border-radius: 5px; padding: 10px 20px; font-size: 14px;"
      @close="messageVisible = false"
    >
      <div class="message-block">
        <img src="/static/icons/success.png" class="icon" alt="">修改成功
      </div>
      <div class="message-block" v-if="false">
        <img src="/static/icons/error.png" class="icon" alt=""> {{errorMessage}}
      </div>
    </van-popup>
    <button :class="['submit-button', isChangePasswordActive ? 'active' : '']" @click="changePassword">
      确认修改
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      oldPassword: '',
      oldPasswordMessage: '',
      newPassword: '',
      confirmNewPassword: '',
      newPasswordMessage: '',
      confirmNewPasswordMessage: '',
      submitFlag: false,
      errorMessage: '',
      messageVisible: false,
      oldPassOpen: false,
      newPassOpen: false,
      confirmPassOpen: false
    };
  },

  components: {

  },

  methods: {
    changePassword() {
      let personId = mpvue.getStorageSync('personId');
      const { oldPassword, newPassword } = this;
      if(this.isChangePasswordActive) {
        mpvue.showLoading({title: '请稍候'});
        this.$api.changePassword({
          id: personId,
          oldPassword,
          newPassword
        }).then(res => {
          mpvue.hideLoading();
          if(res && res.status == 200) {
            this.$toast.success('修改密码成功');
            setTimeout(() => mpvue.navigateBack(), 1000);
          }
        }, err => {
          mpvue.hideLoading();
          this.$toast.error(err);
        });
      }
    },
    checkOldPassword() {
      if(this.oldPassword.length <= 0) {
        this.oldPasswordMessage = '请输入旧密码'
        return;
      } else {
        this.oldPasswordMessage = '';
        return true;
      }
    },
    checkNewPassword() {
      if(this.newPassword.length <= 0) {
        this.newPasswordMessage = '请输入新密码'
        return;
      } else if(!/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,18}$/.test(this.newPassword)) {
        this.newPasswordMessage = '请填写由字母、数字组合的6~18位新密码';
        return;
      } else {
        this.newPasswordMessage = '';
        return true;
      }
    },
    checkConfirmPassword() {
      if(this.confirmNewPassword.length <= 0) {
        this.confirmNewPasswordMessage = '请确认新密码'
        return;
      } else if(this.newPassword !== this.confirmNewPassword) {
        this.confirmNewPasswordMessage = '两次输入的密码不一致';
        return;
      } else {
        this.confirmNewPasswordMessage = '';
        return true;
      }
    },
  },
  computed: {
    isChangePasswordActive() {
      if(this.newPassword
       && this.confirmNewPassword 
       && this.oldPassword 
       && this.oldPasswordMessage === ''
       && this.newPasswordMessage === ''
       && this.confirmNewPasswordMessage === ''
      ) return true;
      return false;
    }
  },
  created() {
    
  },
  onUnload() {
    this.oldPassword = '';
    this.oldPasswordMessage = '';
    this.newPassword = '';
    this.confirmNewPassword = '';
    this.newPasswordMessage = '';
    this.confirmNewPasswordMessage = '';
    this.submitFlag = false;
    this.errorMessage = '';
    this.messageVisible = false;
    this.oldPassOpen = false;
    this.newPassOpen = false;
    this.confirmPassOpen = false;
  }
};
</script>

<style lang="scss" scoped>
.change-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-group {
    margin: 16px 0;
    width:312px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .input {
      width: 100%;
      height:40px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(112,112,112,0.18823529411764706);
      opacity:1;
      box-sizing: border-box;
      border-radius:4px;
      padding: 0 35px;
      font-size: 12px;
      flex: 1;
    }
    .icon {
      width: 18px;
      height: 19px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .eye-icon {
      width: 22px;
      height: 12px;
      position: absolute;
      top: 15px;
      right: 35px;
      &.closed {
        height: 9px;
        top: 17px;
      }
    }
    .alert {
      .alert-icon {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    }
    .alert-message {
      position: absolute;
      bottom: -20px;
      font-size: 14px;
      left: 0px;
      padding-left: 8px;
      color: #7B7B7B;
      &:before {
        position: absolute;
        left: 0PX;
        top: -2px;
        font-size: 14px;
        color: #f44;
        content: "*";
      }
    }
  }
  .submit-button {
    width:312px;
    height:40px;
    background:rgba(91,91,91,0.38);
    opacity:1;
    border-radius:4px;
    line-height: 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 34px;
    &.active {
      background: #3888E7;
    }
    &::after {
      border: none;
    }
  }
  .message-block {
    display: flex; 
    justify-content: center; 
    align-items: center;
    .icon {
      width: 18px;
      height: 19px;
      margin: 0 10px;
    }
  }
}
</style>
