<template>
  <div class="new">
    <receiver-select-modal
      :show="showStaffModal"
      @cancel="showStaffModal = false"
      @confirm="pickReceiver"
      ref="receivermodal"
    >
    </receiver-select-modal>
    <div class="form">
      <div class="record-block is-required">
        <div class="label">主题：</div>
        <div class="value">
          <input type="text" placeholder="请输入主题" v-model="form.title"/>
        </div>
      </div>
      <textarea rows="3" class="textarea-content" placeholder="请在此输入文本" v-if="!isPickerVisible" v-model="form.content" />
      <text class="textarea-content" v-else>{{form.content || '请在此输入文本'}}</text>
      <div class="dealtime">
        处理时间：
        <div :class="['timeblock', dealTimeSelected ? 'selected' : '']" @click="dealTimePickerVisible = true">
          <div class="time">{{formattedDealTime || '请选择'}}</div>
          <img class="arrow-down" src="/static/icons/arrow-down.png" alt />
        </div>
        <van-popup :show="dealTimePickerVisible" position="bottom">
          <van-datetime-picker
            type="datetime"
            :value="dealTimeTimeStamp"
            @confirm.prevent="confirmDatePick"
            @cancel="dealTimePickerVisible = false"
          />
        </van-popup>
      </div>
      <div class="dealtime" style="display: flex; align-items: center;">
        接收人员：{{receiversName}}
        <div style="flex: 1; justify-content: flex-end; display: flex;">
          <img
            src="/static/icons/add.png"
            style="width: 21px; height: 21px;"
            @click="showStaffModal = true"
          />
        </div>
      </div>
      <div class="add-attachment">
        <div class="add-btn" @click="addAttachment">
          <img src="/static/icons/paper-clip.png" class="paper-clip" />添加附件
        </div>
        <div class="attachment-list">
          <div class="attachment-item" v-for="(item, index) in attachmentList" :key="index">
            {{item.name}}
            <div class="right">
              <div class="delete-btn" @click="deleteAttachment(index)">删除</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="submit" @click="submitTask">确定</div>
  </div>
</template>

<script>
import ReceiveStaffModal from "@/components/receiver-select-modal";
import { REQUEST_URL } from '@/utils/config';
import dayjs from "dayjs";
import { debounce } from '@/utils'

export default {
  data() {
    return {
      showStaffModal: false,
      result: [],
      form: {
        title: "",
        content: ""
      },
      dealTime: new dayjs(),
      dealTimePickerVisible: false,
      dealTimeSelected: false,
      attachmentList: [],
      receiverList: [],
      destoryFlag: false
    };
  },

  components: {
    "receiver-select-modal": ReceiveStaffModal
  },

  methods: {
    onChange(e) {
      this.activeIndex = e.target.index;
    },
    changeModalVisible(flag) {
      this.showStaffModal = flag;
    },
    onItemChange(e) {
      this.result = e.mp.detail;
    },
    confirmDatePick(e) {
      this.dealTime = dayjs(e.mp.detail);
      this.dealTimePickerVisible = false;
      this.dealTimeSelected = true;
    },
    addAttachment() {
      const promise = new Promise((resolve, reject) => {
        wx.chooseMessageFile({
          count: 10,
          type: 'all',
          success (res) {
            const tempFilePaths = res.tempFiles;
            resolve(tempFilePaths)
          }
        });
      }).then(res => {
        this.attachmentList = this.attachmentList.concat(res);
      });
    },
    deleteAttachment(index) {
      this.attachmentList.splice(index, 1);
    },
    uploadAttachments() {
      const token = wx.getStorageSync('token');
      return Promise.all(this.attachmentList.map(item => {
        return new Promise((resolve, reject) => {
          wx.uploadFile({
            url: `${REQUEST_URL}/sys/file/upload`, 
            filePath: item.path,
            name: 'file',
            header: {
              token
            },
            success (res){
              const data = res.data;
              let parsedData = JSON.parse(data);
              if(parsedData.status == 300) {
                mpvue.showToast({
                  title: '附件内容不能为空',
                  icon: 'none'
                })
                reject();
                return;
              }
              resolve(parsedData.data[0]);
            }
          })
        })
      })).catch(err => console.log(err))
    },
    pickReceiver(list) {
      this.receiverList = list;
    },
    checkForm() {
      const { title, content } = this.form;
      if(!title) {
        this.$toast.error('请输入主题');
        return false;
      }
      if(!content) {
        this.$toast.error('请输入内容');
        return false;
      }
      if(!this.receiverList.length) {
        this.$toast.error('请选择接收人员');
        return false;
      }
      if(!this.dealTimeSelected) {
        this.$toast.error('请选择处理时间');
        return false;
      }
      return true;
    },
    submitTask: debounce(function() {
      if(!this.checkForm()) {
        return;
      }
      let personId = mpvue.getStorageSync('personId')
      this.uploadAttachments().then(res => {
        const fileList = res;
        const originNames = [],
            fileNames = [],
            urls = [];
        for(let item of fileList) {
          if(item) {
            fileNames.push(item.fileName);
            urls.push(item.url);
          }
        }
        for(let item of this.attachmentList) {
          originNames.push(item.name);
        }
        const receiverIds = this.receiverList.map(item => {
          return item.split(',')[1]
        });
        const { title, content } = this.form;
        let params = {
          title,
          content,
          personId
        };
        params.receiverIds = receiverIds.join(',') || '';
        params.handleDateStr = this.dealTime.format('YYYY-MM-DD HH:mm');
        params.originName = originNames;
        params.fileName = fileNames;
        params.url = urls;
        mpvue.showLoading({title: '请稍候'});
        for(let prop in params) {
          if(!params[prop]) delete params[prop];
          if(Array.isArray(params[prop]) && !params[prop].length) delete params[prop];
        }
        this.$api.saveTask(params).then(res => {
          mpvue.hideLoading();
          if(res && res.status == 200) {
            mpvue.showToast({
              title: '保存成功'
            });
            const pages = getCurrentPages();
            const prevPage = pages[pages.length - 2];
            setTimeout(() => mpvue.navigateBack(), 1000);
          } else {
            mpvue.showToast({
              title: res.msg,
              icon: 'none'
            })
          }
        })
      }).catch(err => console.log(err));
    }, 300),
  },

  computed: {
    formattedDealTime() {
      return this.dealTime.format("YYYY-MM-DD HH:mm");
    },
    isPickerVisible() {
      return this.showStaffModal || this.dealTimePickerVisible;
    },
    dealTimeTimeStamp() {
      return this.dealTime.valueOf();
    },
    receiversName() {
      let names = [];
      for(let item of this.receiverList) {
        names.push(item.split(',')[2]);
      }
      return names.join('、');
    }
  },
  mounted() {
    this.$refs.receivermodal.refresh();
  },
  destory() {
    
  },
  onUnload() {
    this.showStaffModal = false;
    this.dealTimePickerVisible = false;
    this.form =  {
      title: "",
      content: ""
    },
    this.dealTime = new dayjs();
    this.dealTimeSelected = false;
    this.attachmentList = [];
    this.receiverList =  [];
    this.destoryFlag = false;
  }
};
</script>

<style lang="scss">
.van-cell__title,
.van-cell__value {
  flex: none !important;
}
.new {
  padding: 10px;
  .submit {
    width:216px;
    height:40px;
    background:rgba(56,136,231,1);
    opacity:1;
    border-radius:6px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    margin: 48px auto;
    text-align: center;
  }
  .content {
    font-size: 16px;
    padding: 10px 20px;
    .group-name {
      position: relative;
      margin: 10px 0;
      .group-sign {
        width: 13px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: -17px;
      }
    }
    .group-children {
      .children-item {
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }
  .form {
    .textarea-content {
      width: 100%;
      background: white;
      padding: 10PX 15PX;
      font-size: 14px;
      box-sizing: border-box;
      margin: 10px 0;
      height: 100px;
      display: block;
    }
    .textarea-placeholder {
      z-index: 1;
    }
    .record-block {
      position: relative;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding: 15px 18px;
      font-size: 14px;
      line-height: 24px;
      color: #333;
      background-color: #fff;
      box-sizing: border-box;
      align-items: center;
      .value {
        color: #999;
        display: flex;
        flex-direction: row;
        flex: 1;
        .time {
          flex: 1;
          text-align: right;
        }
        .right-arrow {
          width: 8px;
          height: 14px;
        }
      }
      &.is-required:before {
        position: absolute;
        left: 12px;
        font-size: 14px;
        color: #f44;
        content: "*";
      }
    }
    .dealtime {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      background: white;
      font-size: 14px;
      margin: 10px 0;
      .timeblock {
        margin: 0 10px;
        position: relative;
        width: 132px;
        height: 24px;
        background: rgba(170, 159, 159, 0.48);
        border-radius: 5px;
        color: rgba(91, 91, 91, 1);
        font-size: 12px;
        padding: 5px;
        display: flex;
        align-items: center;
        &.selected {
          background: #67ACFF;
          color: white;
        }
        .time {
          text-align: center;
          flex: 1;
        }
        .arrow-down {
          width: 12px;
          height: 7px;
          position: absolute;
          right: 5px;
        }
      }
    }

    .history-title {
      margin: 30px 0;
      .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #393838;
        position: relative;
      }
      .text {
        width: 136px;
        text-align: center;
        background: #f7f8fa;
        position: absolute;
        left: 104px;
        top: -10px;
      }
    }
    .history-info {
      width: 100%;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
      .info-content {
        margin: 5px 0;
      }
    }
    .history-content {
      margin: 10px 0;
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 1);
      padding: 10px;
      font-size: 14px;
    }
    .add-attachment {
      .add-btn {
        width: 77px;
        height: 24px;
        background: rgba(44, 167, 249, 1);
        opacity: 1;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        .paper-clip {
          width: 8px;
          height: 14px;
          margin: 0 9px;
        }
      }
    }
    .attachment-list {
      .attachment-item {
        margin: 10px auto;
        width: 100%;
        height: 24px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(107, 107, 107, 1);
        opacity: 1;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          .delete-btn {
            width: 44px;
            height: 24px;
            background: rgba(255, 0, 0, 1);
            opacity: 1;
            line-height: 24px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
