<template>
  <div class="diagnosis-main">
    <div class="search-bar">
      <img class="search-icon" src="/static/icons/search-icon-blue.png" />
      <input type="text" placeholder="请在此输入关键字" class="search-input" @confirm="search">
      <div  @click="dateTimePickerVisible = true">
        <img class="calendar-icon" src="/static/icons/calendar.png" alt />
      </div>
      <van-popup :show="dateTimePickerVisible" position="bottom">
        <van-datetime-picker
          type="date"
          :value="timestamp"
          :minDate="minDate"
          @confirm.prevent="confirmDatePick"
          @cancel="dateTimePickerVisible = false"
        />
      </van-popup>
    </div>
    <img src="/static/icons/bar.png" class="bar" :style="{height: barHeight}" alt />
    <!-- <div class="no-result" v-if="visitRecordList.length <= 0">
      <img src="/static/icons/empty.png" alt="" class="empty-icon">
      暂无结果
    </div> -->
    <div class="record-list">
      <div class="record-item" v-for="(item, index) in visitRecordList" @click="navigateToHistory(item)" :key="item.id">
        <p class="paragraph">
          患者名称：
          <span>{{item.culpritName}}</span>
        </p>
        <p class="paragraph">
          诊疗方式：
          <span>{{item.type === '0' ? '面访' : '电话问诊'}}</span>
        </p>
        <p class="paragraph">
          问诊记录：
          <img class="voice" src="/static/icons/voice.png" alt="" v-if="item.type === '电话问诊'">
          <span v-else>{{item.result}}</span>
        </p>
        <p class="paragraph">
          随访时间：
          <span>{{item.visitDate}}</span>
        </p>
        <p class="paragraph">
          责任医生：
          <span>{{item.doctorName}}</span>
        </p>
        <img src="/static/icons/triple-bubble.png" class="triple-bubble" alt="">
        <img class="circle" src="/static/icons/circle.png" alt />
      </div>
    </div>
    <div class="add-transaction" @click="navigateToNewDiagnosis">
      <img class="icon" src="/static/icons/add-transaction.png" alt="">
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
import dayjs from "dayjs";
import LocalizedFormat from "dayjs/plugin/localizedFormat";
import "dayjs/locale/zh-cn"; // 按需加载
dayjs.locale("zh-cn");
dayjs.extend(LocalizedFormat);

export default {
  data() {
    return {
      activeIndex: 0,
      isOpenList: false,
      visitRecordList: [],
      show: false,
      searchDate: new dayjs(),
      dateTimePickerVisible: false,
      minDate: new dayjs(),
      barHeight: '100%',
      page: 1,
      pageSize: 5,
      searchName: '',
      searchDatePicked: false
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    confirmDatePick(e) {
      this.searchDate = dayjs(e.mp.detail);
      this.dateTimePickerVisible = false;
      this.searchDatePicked = true;
      this.visitRecordList = [];
      this.getVisitList(1, this.pageSize, this.searchDate.format('YYYY-MM-DD'));
    },
    navigateToHistory(item) {
      let { type, id } = item;
      if(type == "面访") {
        type = "face"
      } else {
        type = "phone"
      }
      mpvue.navigateTo({
        url: `/pages/diagnosis/face-to-face/main?type=${type}&id=${id}`
      });
    },
    navigateToNewDiagnosis() {
      mpvue.navigateTo({
        url: '/pages/diagnosis/face-to-face/create/main'
      })
    },
    updateBarHeight() {
      const query = wx.createSelectorQuery()
      this.$nextTick(() => {
        query.select('.record-list').boundingClientRect()
        query.selectViewport().scrollOffset()
        query.exec(res => {
          this.barHeight = res[0].height + 30 + 'px';
        })
      })
    },
    getVisitList(page = 1, pageSize = this.pageSize) {
      let personId = mpvue.getStorageSync('personId');
      mpvue.showLoading({
        title: '请稍候'
      });
      let params = {
        personId,
        page,
        pageSize
      };

      if(this.searchDate && this.searchDatePicked) {
        params.searchVisitStartDate = this.searchDate.format('YYYY-MM-DD');
        params.searchVisitEndDate = this.searchDate.format('YYYY-MM-DD');
      }
      
      if(this.searchName) params.culpritName = this.searchName;
      
      this.$api.getVisitList(params).then(res => {
        mpvue.hideLoading();
        const { pager } = res;
        if(!pager || pager.list.length <= 0) {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
          return;
        }
        if(pager && pager.list.length > 0) {
          const { list } = pager;
          for(let item of list) {
            item.visitDate = dayjs(item.visitDate).format('YYYY-MM-DD');
          }
          if(list.length > 0 && this.visitRecordList.length > 0) {
            this.visitRecordList = this.visitRecordList.concat(list);
          } else if(list.length <=0 && this.visitRecordList.length > 0){
            
          } else if(list.length > 0 && this.visitRecordList.length <= 0) {
            this.visitRecordList = list;
          }
          this.updateBarHeight();
        }
      }, rej => {
        mpvue.hideLoading();
      });
    },
    search(e) {
      const { value } = e.mp.detail;
      this.searchName = value;
      this.visitRecordList = [];
      this.getVisitList(1, this.pageSize);
    },
  },
  mounted() {
    this.getVisitList(this.page);
  },
  computed: {
    formattedDate() {
      return this.searchDate.format("YYYY-MM-DD dddd");
    },
    timestamp() {
      return this.searchDate.valueOf();
    },
  },
  onReachBottom() {
    this.page++;
    this.getVisitList(this.page);
  },
  onPullDownRefresh() {
    this.visitRecordList = [];
    this.getVisitList(1, this.page * this.pageSize);
    mpvue.stopPullDownRefresh();
  },
  
  onUnload() {
    this.activeIndex = 0;
    this.isOpenList = false;
    this.visitRecordList = [];
    this.show = false;
    this.searchDate = new dayjs();
    this.dateTimePickerVisible = false;
    this.minDate = new dayjs();
    this.barHeight = '100%';
    this.page = 1;
    this.pageSize = 5;
    this.searchName = '';
    this.searchDatePicked = false;
  }
};
</script>

<style lang="scss" scoped>
.diagnosis-main {
  height: 100%;
  padding-top: 45px;
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(109, 109, 109, 1);
    opacity: 1;
    background: white;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    .calendar-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 20px;
      top: 24px;
    }
    .search-icon {
      width: 12px;
      height: 12px;
      position: absolute;
      left: 112px;
      top: 24px;
    }
    .search-input {
      width:280px;
      height:32px;
      background:rgba(175,175,175,0.12);
      border-radius:16px;
      padding-left: 90px;
      box-sizing: border-box;
      font-size: 14px;
    }
  }
  .no-result {
    margin-left: 22px;
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    color: #707070;
    .empty-icon {
      display: block;
      width: 64px;
      height: 64px;
      margin: 20px auto;
    }
  }
  .bar {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 62px;
    left: 22px;
  }
  .record-list {
    margin-left: 35px;
    .record-item {
      width: 322px;
      height: 163px;
      background: center / contain no-repeat url('../../../static/icons/talk-bubble.png');
      padding: 25px;
      margin: 20px 0;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: rgba(88, 88, 88, 0.88);
      opacity: 1;
      span {
        color: rgba(3, 146, 255, 1);
      }
      position: relative;
      .circle {
        position: absolute;
        bottom: -20px;
        left: -19px;
        width: 16px;
        height: 16px;
      }
      .triple-bubble {
        width: 19px;
        height: 5px;
        position: absolute;
        right: 20px;
        top: 35px;
      }
      .paragraph {
        display: flex;
        align-items: center;
        .voice {
          width:91px;
          height:16px;
        }
        span {
          width: 130px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .add-transaction {
    position: fixed;
    right: 15px;
    bottom: 88px;
    .icon {
      width: 48px;
      height: 48px;
    }
  }
}
</style>