<template>
  <div class="task-detail">
    <div class="user-card">
      <img class="avatar" src="/static/icons/male-avatar.png" alt />
      <div class="info">
        <div class="name">{{creator.accountname}}</div>
        <div class="workplace">{{creator.groupName}}</div>
      </div>
      <img src="/static/icons/phone.png" alt class="phone-call" @click="makePhoneCall(creator.mobile)"/>
    </div>
    <div class="content">
      <div class="record-block">
        <div class="label">主题：</div>
        <div class="value">
          {{task.title}}
          <div class="time">{{createDate}}</div>
        </div>
      </div>
      <div class="theme-content">{{task.content}}</div>
      <van-cell title="处理时间：" :value="dealDate" value-class="text-left" />
      <div class="attachments" v-if="attachmentList.length > 0">
        <div class="title">附件</div>
        <div class="item" v-for="(item,idx) in attachmentList" :key="idx" @click="previewAttachment(item)">{{item.originName}} <img src="/static/icons/right-arrow.png" alt="" class="right-arrow"></div>
      </div>
      <div class="record-block" style="position: relative" @click="toReceiveStaff">
        <div class="label">接收人：</div>
        <div class="value">
          <div class="receivers" v-if="receiverList.length > 1">
            {{receivers}} 等{{receiverList.length}}人
          </div>
          <div class="receivers" v-else>
            {{receivers}}
          </div>
          
          <div class="right-content">
            <div class="right-status">
              已处理
              <span class="finished-count">{{receiverReplied}}</span>/{{receiverList.length}}
            </div>
          </div>
          <img class="right-arrow" src="/static/icons/right-arrow.png" alt />
        </div>
      </div>
      <div class="history-block" v-for="(item,index) in pTaskList" :key="index">
        <div class="history-title">
          <div class="line">
            <div class="text">历史交办事项</div>
          </div>
        </div>
        <div class="history-item" >
          <div class="history-info">
            <div class="info-item">发件人：{{item.createrName}}</div>
            <div class="info-item">发送时间：{{item.created}}</div>
            <div class="info-item">收件人：{{item.receiverName}}</div>
            <div class="info-item">主题：{{item.title}}</div>
          </div>
          <div class="history-content">{{item.content}}</div>
        </div>
      </div>
      <div class="feedback-list">
        <div class="feedback-block" v-for="item in feedbackList" :key="item.id">
          <div class="history-title">
              <div class="line">
                <div class="text">信息确认</div>
              </div>
          </div>
          <div class="reply-title">回复信息</div>
          <div class="history-content" style="max-height: 100px;">
            {{item.content}}
          </div>
          <div class="reply-title" v-if="item.fileList &&item.fileList.length > 0">附件</div>
          <div class="attachments" v-for="(feedAttachmentItem, fidx) in item.fileList" :key="fidx" @click="previewAttachment(feedAttachmentItem)">
            <div class="item">{{feedAttachmentItem.originName}}<img src="/static/icons/right-arrow.png" alt="" class="right-arrow"></div>
          </div>
        </div>
      </div>
      <div class="button-group" v-if="showButton">
        <button class="btn" @click="navigateToForward">转发</button>
        <button class="btn" @click="remindMeLater">稍后提醒</button>
        <button class="btn" style="background: #3888E7" @click="showConfirmModal = true">回复</button>
      </div>
    </div>
    <custom-modal
      :show="showConfirmModal"
      title="信息确认"
      :customStyle="'width: 80%; background: #F7F8FA;'"
      @cancel="showConfirmModal = false"
      @confirm="submitReply"
    >
      <div slot="content">
        <div class="modal-content">
          <div class="title">备注</div>
          <textarea name id rows="5" class="textarea-content" v-model="form.replyContent"></textarea>
          <div class="add-attachment">
            <div class="add-btn" @click="addReplyAttachment">
              <img src="/static/icons/paper-clip.png" class="paper-clip" />添加附件
            </div>
            <div class="attachment-list">
              <div class="attachment-item" v-for="(item, index) in replyAttachmentList" :key="index">
                {{item.name}}
                <div class="delete-btn"  @click="deleteReplyAttachment(index)">删除</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </custom-modal>
  </div>
</template>

<script>
import dayjs from "dayjs";
import CustomModal from "@/components/custom-modal";
import { isAssetTypeAnImage, isAssetTypeAvailable, debounce } from '@/utils';
import { DOWNLOAD_FILE_URL, REQUEST_URL } from '@/utils/config';
export default {
  data() {
    return {
      task: {},
      creator: {},
      showDatePicker: false,
      currentDate: new dayjs(),
      showConfirmModal: false,
      showButton: true,
      attachmentList: [],
      receiverList: [],
      pTaskList: [],
      feedbackList: [],
      replyAttachmentList: [],
      form: {
        replyContent: ''
      },
      downloadProgress: 0
    };
  },
  components: {
    "custom-modal": CustomModal
  },

  methods: {
    onInput() {},
    toReceiveStaff() {
      mpvue.navigateTo({
        url: "/pages/tasks/receive-staff/main?taskId=" + this.task.id
      });
    },
    navigateToForward() {
      mpvue.navigateTo({
        url: "/pages/tasks/forward/main?taskId=" + this.task.id
      });
    },
    changeModalVisible(flag) {
      this.showConfirmModal = flag;
    },
    previewAttachment(item) {
      const { name } = item;
      //获取最后一个.的位置
      let dotIndex= name.lastIndexOf(".");
      //获取后缀
      let fileExt = name.substr(dotIndex + 1);
      if(isAssetTypeAnImage(fileExt)) {
        mpvue.showLoading({title: '请稍候'});
        wx.previewImage({
          urls: [`${DOWNLOAD_FILE_URL}/${item.path}/${item.name}`], // 需要预览的图片http链接列表
          complete() {
            mpvue.hideLoading();
          }
        });
        return;
      } else if(isAssetTypeAvailable(fileExt)) {
        mpvue.showLoading({
          title: `下载文件中(${this.downloadProgress}%)`
        })
        const downloadTask = wx.downloadFile({
          url:  `${DOWNLOAD_FILE_URL}/${item.path}/${item.name}`,
          success: function(res){
            mpvue.hideLoading();
            console.log(res)
            mpvue.showLoading({title: '打开文件中'});
            wx.openDocument({
              filePath: res.tempFilePath,
              success: function (res) {
                mpvue.hideLoading();
                console.log('打开文档成功')
              },
              fail(res) {
                mpvue.hideLoading();
                
                console.log(res);
              }
            })
            // 只要服务器有响应数据，就会把响应内容写入文件并进入 success 回调，业务需要自行判断是否下载到了想要的内容
            // if (res.status === 200) {
            //   // 将临时地址转存到本地缓存中
            //   wx.saveFile({
            //     tempFilePath: res.tempFilePath,
            //     success: function (res) {
            //       console.log(res);
            //       var savedFilePath = res.savedFilePath;
            //       console.log('文件已下载到' + savedFilePath);
            //       // 查看下载的文件列表
            //       wx.getSavedFileList({
            //         success: function (res){
            //           console.log(res);
            //         },
            //         fail: function(res) {
            //           console.log(res);
            //         }
            //       })
            //       // 打开文档
                  
            //     }
            //   })
            }
          });

          // end of downloadTask
          downloadTask.onProgressUpdate((res) => {
              console.log('下载进度', res.progress)
              this.downloadProgress = res.progress;
              console.log('已经下载的数据长度', res.totalBytesWritten)
              console.log('预期需要下载的数据总长度',            res.totalBytesExpectedToWrite)
          })
      } else {
        mpvue.showModal({
          title: '提示',
          content: '当前只支持打开图片以及 doc,docx,xls,xlsx,ppt,pptx,pdf 格式的文件',
          showCancel: false,
          confirmText: '我知道了'
        })
      }
    },
    deleteReplyAttachment(index) {
      this.replyAttachmentList.splice(index, 1);
    },
    addReplyAttachment() {
      const promise = new Promise((resolve, reject) => {
        wx.chooseMessageFile({
          count: 10,
          type: 'all',
          success (res) {
            const tempFilePaths = res.tempFiles;
            resolve(tempFilePaths)
          }
        });
      }).then(res => {
        this.replyAttachmentList = this.replyAttachmentList.concat(res);
      });
    },
    uploadAttachments() {
      const token = wx.getStorageSync('token');
      return Promise.all(this.replyAttachmentList.map(item => {
        return new Promise((resolve, reject) => {
          wx.uploadFile({
            url: `${REQUEST_URL}/sys/file/upload`, 
            filePath: item.path,
            name: 'file',
            header: {
              token
            },
            success (res){
              const data = res.data;
              let parsedData = JSON.parse(data);
              if(parsedData.status == 300) {
                mpvue.showToast({
                  title: '附件内容不能为空',
                  icon: 'none'
                })
                reject();
                return;
              }
              resolve(parsedData.data[0]);
            }
          })
        })
      }))
    },
    submitReply: debounce(function() {
      let personId = mpvue.getStorageSync('personId')
      if(!this.form.replyContent) {
        mpvue.showToast({title: '请输入内容', icon: 'none'});
        return;
      }
      this.uploadAttachments().then(res => {
        const fileList = res;
        const originNames = [],
              fileNames = [],
              urls = [];
        for(let item of fileList) {
          fileNames.push(item.fileName);
          urls.push(item.url);
        }
        for(let item of this.replyAttachmentList) {
          originNames.push(item.name);
        }
        const { replyContent } = this.form;
        let params = {
          content: replyContent,
          personId,
          taskId: this.task.id
        };
        params.originName = originNames;
        params.fileName = fileNames;
        params.url = urls;
        for(let prop in params) {
          if(!params[prop]) delete params[prop];
          if(Array.isArray(params[prop]) && !params[prop].length) delete params[prop];
        }
        mpvue.showLoading({title: '请稍候'});
        this.$api.updateFeedBack(params).then(res => {
          mpvue.hideLoading();
          if(res && res.status == 200) {
            mpvue.showToast({
              title: '保存成功'
            });
            this.showConfirmModal = false;
            this.form.replyContent = '';
            this.replyAttachmentList = [];
            this.getDetail();
          } else {
            mpvue.showToast({
              title: res.msg,
              icon: 'none'
            })
          }
        }).catch(err => console.log(err))
      }).catch(err => console.log(err));
    }, 300),
    makePhoneCall(phoneNumber) {
      if(phoneNumber) {
        mpvue.makePhoneCall({
          phoneNumber
        })
      } else {
        mpvue.showToast({
          title: '暂无用户电话信息，无法呼出',
          icon: 'none'
        })
      }
    },
    getDetail() {
      const query = this.$root.$mp.query || {};
      let personId = mpvue.getStorageSync('personId');
      const { taskId } = query;
      mpvue.showLoading({title: '请稍候'});
      this.$api.getTaskDetail({
        taskId,
        personId
      }).then(res => {
        console.log(res);
        const { task, taskReceiverList, fileList = [], pTaskList = [], feedbackList =[] } = res;
        if(task) {
          this.task = task;
          this.attachmentList = fileList;
          this.pTaskList = pTaskList;
          this.feedbackList = feedbackList;
          console.log(this.attachmentList);
          this.$api.getMyDetail({
            personId: task.personId
          }).then(res => {
            const { sysAccount } = res;
            this.creator = sysAccount;
            mpvue.hideLoading();
          })
        }
        if(taskReceiverList) {
          this.receiverList = taskReceiverList;
        }
      });
    },
    remindMeLater() {
      const query = this.$root.$mp.query || {};
      let personId = mpvue.getStorageSync('personId');
      const { taskId } = query;
      mpvue.showLoading();
      this.$api.readTask({
        taskId,
        personId,
        isRead: 0
      }).then(res => {
        mpvue.hideLoading();
        mpvue.showToast({
          title: '设置成功'
        });
        setTimeout(() => mpvue.navigateBack(), 1000);
      })
    }
  },
  computed: {
    createDate() {
      return dayjs(this.task.created).format("YYYY-MM-DD HH:mm");
    },
    dealDate() {
      return dayjs(this.task.handleDate).format('YYYY-MM-DD HH:mm');
    },
    receivers() {
      let strArr = [];
      for(let item of this.receiverList) {
        strArr.push(item.personName);
      }
      if(this.receiverList.length > 1) {
        return strArr.slice(0,2).join('、');
      } else {
        return strArr.join('');
      }
    },
    receiverReplied() {
      let count = 0;
      for(let item of this.receiverList) {
        if(item.isFeedback === '16002') {
          count++;
        }
      }
      return count;
    },
  },
  mounted() {
    const query = this.$root.$mp.query || {};
    const { taskId } = query;
    let personId = mpvue.getStorageSync('personId');
    if (query.type === "myAssignment") {
      this.showButton = false;
    } else {
      this.showButton = true;
    }
    this.getDetail();
    this.$api.readTask({
      taskId,
      personId,
      isRead: 1
    }).then(res => {
      console.log(res);
    })
  },

  created() {
    // let app = getApp()
  },
  onUnload() {
    this.showConfirmModal = false;
    this.showDatePicker = false;
    this.form = {
      theme: ""
    }
  }
};
</script>

<style lang="scss">
.van-cell__title,
.van-cell__value {
  flex: none !important;
}
.task-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  .receivers {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .record-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0; 
    .value {
      color: #999;
      display: flex;
      flex-direction: row;
      flex: 1;
      position: relative;
      .time {
        flex: 1;
        text-align: right;
      }
      .right-content {
        position: absolute;
        right: 10px;
        font-size: 14px;
        top: 0px;
        .right-status {
          text-align: right;
          .finished-count {
            color: #67acff;
          }
        }
      }
      .right-arrow {
        width: 8px;
        height: 14px;
        position: absolute;
        right: -5px;
        top: 5px;
      }
    }
    // &:after {
    //   content: " ";
    //   position: absolute;
    //   pointer-events: none;
    //   box-sizing: border-box;
    //   -webkit-transform-origin: center;
    //   transform-origin: center;
    //   top: auto;
    //   left: 15px;
    //   right: 0;
    //   bottom: 0;
    //   -webkit-transform: scaleY(0.5);
    //   transform: scaleY(0.5);
    //   border-bottom: 2px solid #eee;
    // }
  }
  .user-card {
    display: flex;
    align-items: center;
    width: 344px;
    height: 56px;
    border-radius: 8px;
    background: white;
    align-self: center;
    padding: 5px;
    margin-top: 7px;
    margin-bottom: 10px;
    .info {
      flex: 1;
      color: #5b5b5b;
      font-size: 14px;
    }
    .avatar {
      margin: 0 10px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    .phone-call {
      width: 27px;
      height: 27px;
      margin-right: 9px;
    }
  }
  .text-left {
    text-align: left;
  }
  .content {
    width: 344px;
    align-self: center;
    .theme-content {
      min-height: 104px;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      font-size: 12px;
      padding: 15px 20px;
      align-self: center;
      margin: 8px auto 8px auto;
    }
    .attachments {
      margin: 10px 0;
      .title {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: rgba(57, 56, 56, 1);
        opacity: 1;
        margin-left: 20px;
      }
      .item {
        margin: 10px 0;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        padding: 15px 20px;
        font-size: 14px;
        color: #999;
        position: relative;
        .right-arrow {
          width: 8px;
          height: 11px;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }
    }
    .history-title {
      margin: 30px 0;
      .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #393838;
        position: relative;
      }
      .text {
        width: 136px;
        text-align: center;
        background: #f7f8fa;
        position: absolute;
        left: 104px;
        top: -10px;
        font-size: 14px;
      }
    }
    .history-info {
      width: 100%;
      background: rgba(255, 255, 255, 1);
      opacity: 1;
      padding: 10px;
      font-size: 14px;
      box-sizing: border-box;
      .info-item {
        margin: 5px 0;
        padding: 0 10px;
      }

    }
    .history-content {
      margin: 10px 0;
      width: 100%;
      min-height: 104px;
      box-sizing: border-box;
      background: rgba(255, 255, 255, 1);
      padding: 10px 20px;
      font-size: 14px;
    }
    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 40px;
      .btn {
        width: 80px;
        height: 40px;
        background: rgba(103, 172, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 14px;
        color: white;
        padding: 0;
        line-height: 40px;
      }
    }
  }
  .feedback-list {
    .reply-title {
      font-size: 14px;
    }
  }
  .modal-content {
    padding: 10px;
    box-sizing: border-box;
    .title {
      font-size: 14px;
    }
    .textarea-content {
      background: rgba(255, 255, 255, 1);
      border: 1px solid rgba(112, 112, 112, 0.21176470588235294);
      opacity: 1;
      width: 100%;
      height: 80px;
      margin: 5px 0;
      font-size: 12px;
      padding: 5px;
      box-sizing: border-box;
      overflow: scroll;
    }
    .add-attachment {
      .add-btn {
        width: 77px;
        height: 24px;
        background: rgba(44, 167, 249, 1);
        opacity: 1;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        .paper-clip {
          width: 8px;
          height: 14px;
          margin: 0 9px;
        }
      }
    }
    .attachment-list {
      .attachment-item {
        margin: 5px auto;
        width: 100%;
        min-height: 24px;
        background: rgba(255, 255, 255, 1);
        opacity: 1;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(107, 107, 107, 1);
        opacity: 1;
        line-height: 24px;
        .delete-btn {
          width: 44px;
          height: 22px;
          background: rgba(255, 0, 0, 1);
          opacity: 1;
          border-radius: 5px;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: rgba(255, 255, 255, 1);
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          float: right;
        }
      }
    }
  }
}
</style>
