<template>
  <div class="phone-call-record">
    <div style="align-self: center;">
      <patient-card :patient="patient"></patient-card>
    </div>

    <div class="title">基本信息</div>
    <van-cell title="随访对象" value="患者本人" />
    <div class="record-block">
      <div class="label">危险系数</div>
      <div class="value">
        <div class="level-block" :style="{'background-color': color}">{{patient.status}}级</div>
      </div>
    </div>
    <van-cell title="共同随访人员" value="王强医生" />
    <div class="title">随访信息</div>
    <van-cell title="随访分类" value="基本稳定" />
    <van-cell title="下次随访时间" value="14天后" />
    <van-cell title="下次随访方式" value="电话问诊" />
    <div class="title">电话问诊记录</div>
    <div class="record-block">
      <div class="label">{{formattedTime}}</div>
      <div class="value" style="text-align: left; flex: 2; align-items: center; display: flex;">
        电话问诊
        <img class="voice" src="/static/icons/voice.png" alt />
      </div>
    </div>
    <div class="title">本次问诊结论</div>
    <textarea name id rows="5" class="textarea-content" disabled value="1243"></textarea>
    <div class="title">附件</div>
    <div class="attachment-list">
      <div class="attachment-item">
        <img src alt class="attachment-img" />
      </div>
    </div>
    <div class="title">签到定位</div>
    <div
      class="title"
      style="margin-top: 0px; color: #2b2b2b;"
    >浙江省温州市鹿城区新城大道400号数码大厦 2019-09-09 14:00</div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import card from "@/components/card";
export default {
  data() {
    return {
      patient: {},
      statusMap: {
        "0,1": "#20D381",
        "2,3": "#FC984C",
        "4,5": "#FF4B4C"
      },
      color: "",
      time: new dayjs()
    };
  },

  components: {
    "patient-card": card
  },

  methods: {},
  watch: {
    patient(newValue) {
      for (let prop in this.statusMap) {
        if (prop.indexOf(newValue.status) > -1) {
          this.color = this.statusMap[prop];
        }
      }
    }
  },
  computed: {
    formattedTime() {
      return this.time.format("YYYY-MM-DD");
    }
  },
  created() {
    setTimeout(() => {
      this.patient = {
        name: "艾莱依123",
        avatar: "https://pic.qqtn.com/up/2017-11/15114862092111097.jpg",
        address: "鹿城区新城街道数码城大厦1003-1004",
        lastRecord:
          "上次诊疗记录：定义进入过渡的结束状态。在元素被插入之后下一帧生效 (与此同时 enter-class 被移除)，在过渡/动画完成之后移除。",
        status: 5,
        careFlag: 0
      };
    }, 1000);
  }
};
</script>

<style lang="scss" scoped>
.phone-call-record {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
   margin: 20px 0 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
  }
  .level-block {
    width: 40px;
    height: 20px;
    opacity: 1;
    border-radius: 5px;
    color: white;
    text-align: center;
    float: right;
  }
  .record-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    .time {
      margin-right: 10px;
    }
    .content {
      flex: 1;
    }
    .right-arrow {
      width: 8px;
      height: 11px;
      margin-right: 10px;
    }
    &:after {
      content: " ";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      -webkit-transform-origin: center;
      transform-origin: center;
      top: auto;
      left: 15px;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      border-bottom: 2px solid #eee;
    }
    .label,
    .value {
      -webkit-flex: 1;
      flex: 1;
    }
    .value {
      overflow: hidden;
      color: #999;
      text-align: right;
      vertical-align: middle;
    }
  }
  .voice {
    width: 91px;
    height: 20px;
    margin-left: 10px;
  }
  .textarea-content {
    width: 100%;
    background: white;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  .attachment-list {
    padding: 0 20px;
    .attachment-item {
      position: relative;
      display: inline-block;
      .delete-icon {
        width: 11px;
        height: 11px;
        position: absolute;
        top: 0;
        right: 3px;
      }
      .attachment-img {
        width: 56px;
        height: 56px;
        background: gray;
        margin: 5px 10px;
        box-sizing: border-box;
      }
    }
  }
}
</style>