<template>
  <div class="my-patient">
    <map
      id="map"
      :markers="markers"
      :scale="16"
      :latitude="location.lat"
      :longitude="location.lng"
      @callouttap="gotoMarkerDetail"
      @end="regionchange"
      @begin="regionchange"
      @regionchange="regionchange"
      @markertap="gotoMarkerDetail"
      show-location
      :style="{height: mapHeight, width: '100vw'}"
    />
    <div class="footer-content">
      <div class="up-icon" @click="changeOpenList(!isOpenList)">
        <img
          src="/static/icons/up.png"
          alt
          :style="{transform: isOpenList ? 'rotate(0.5turn)' : 'rotate(1turn)'}"
        />
      </div>
      <div class="input-group">
        <div
          class="search-input search-placeholder"
          @click="navigateToSearch"
        >请在此输入患者名称</div>
        <img src="/static/icons/search-icon.png" alt class="search-icon" />
        <div class="search-text">搜索</div>
        <div class="add-patient-container" @click="navigateToNewPatient">
          <img src="/static/icons/add-patient.png" alt />
          <div class="text">添加患者</div>
        </div>
      </div>
      <div class="line"></div>
      <div class="option-list">
        <div class="text-block" style="position: relative;">
          <span :class="{ active: activeIndex == 0 }" @click="changeIndex(0)">患者列表</span>
          <div
            style="width: 1px; height: 19px; position: absolute; right: 0px; top: 10px; background: rgba(112,112,112,1); opacity:0.4;"
          ></div>
        </div>
        <div class="horizontal-line"></div>
        <div class="text-block">
          <span :class="{ active: activeIndex == 1 }" @click="changeIndex(1)">特别关注</span>
        </div>
      </div>
      <scroll-view class="patient-list" :class="{ hide: !isOpenList }" scroll-y="true" enable-flex="true" @scrolltolower="onReachLower">
        <patient-card
          v-for="(item, index) in patientsList"
          :key="index"
          :patient="item"
          :index="index"
          @click="navigateToPatientGuide(item.id)"
        >
          <div slot="more">
            <div @click="navigateToPatientDetail(item.id)">
              查看详情
            </div>
          </div>
        </patient-card>
      </scroll-view>
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
import { navigateToPatientDetail as navigateToDetail } from "@/utils/index";
import patientPoints from '@/utils/patientPoints';
export default {
  data() {
    return {
      activeIndex: 0,
      isOpenList: false,
      patientsList: [],
      show: false,
      page: 1,
      pageSize: 10,
      location: {
        lng: "120.705796",
        lat: "28.001835"
      },
      markers: [],
      mapHeight: '75vh'
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    showMoveOutDialog(flag) {
      this.moveOutDialog = flag;
    },
    confirmMoveOut() {},
    changeIndex(index) {
      this.isOpenList = true;
      this.activeIndex = index;
    },
    changeOpenList(flag) {
      this.isOpenList = flag;
    
    },
    onChangeFlag(index) {
      this.patientsList[index].careFlag = !this.patientsList[index].careFlag;
      if (this.patientsList[index].careFlag) {
        this.show = true;
        setTimeout(() => (this.show = false), 800);
      }
    },
    navigateToPatientGuide(id) {
      mpvue.navigateTo({
        url: "/pages/my-patient/cover-patient-guide/main?patientId=" + id
      });
    },
    navigateToPatientDetail(id) {
      mpvue.navigateTo({
        url: "/pages/my-patient/detail/main?patientId=" + id
      });
    },
    navigateToSearch() {
      mpvue.navigateTo({
        url: "/pages/my-patient/search/main"
      });
    },
    navigateToNewPatient() {
      mpvue.navigateTo({
        url: "/pages/my-patient/create/main"
      });
    },
    onReachLower() {
      this.page++;
      if(this.activeIndex === 0) {
        this.fetchPatientList(this.page, this.pageSize)
      } else {
        this.fetchPatientList(this.page, this.pageSize, true)
      }

    },
    fetchPatientList(page = 1, pageSize = 10, special = false) {
      let personId = mpvue.getStorageSync('personId');
      mpvue.showLoading({title: '请稍候'});
      let params = {
        personId,
        page,
        pageSize
      };
      if(special) params.isfocus = 1;
      this.$api.getPatientList(params).then(res => {
        mpvue.hideLoading();
        const { pager } = res;
        if(pager && pager.list.length > 0) {
          this.patientsList = this.patientsList.concat(pager.list);
        } else {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
        }
      });
    },
    gotoMarkerDetail(e) {
      const patientId = e.mp.markerId;
      mpvue.navigateTo({
        url: "/pages/my-patient/patient-guide/main?patientId=" + patientId
      });
    }
  },
  watch: {
    activeIndex(newValue) {
      if(newValue === 0) {
        this.page = 1;
        this.patientsList = [];
        this.fetchPatientList(this.page, this.pageSize);
      } else if(newValue === 1){
        this.page = 1;
        this.patientsList = [];
        this.fetchPatientList(this.page, this.pageSize, true);
      }
    },
    isOpenList(newValue) {
      const query = wx.createSelectorQuery();
      this.$nextTick(() => {
        query.select('.footer-content').boundingClientRect()
        query.selectViewport().scrollOffset()
        mpvue.showLoading();
        setTimeout(() => {
          mpvue.hideLoading();
          query.exec(res => {
            console.log(res[0].height)
            this.mapHeight = `calc(100vh - ${res[0].height}px)`;
          })
        });
      })
    }
  },
  onShow() {
    const query = this.$root.$mp.query || {};
    let that = this;
    mpvue.getLocation({
      type: "gcj02",
      success(res) {
        console.log(res);
        const latitude = res.latitude;
        const longitude = res.longitude;
        that.location.lng = longitude;
        that.location.lat = latitude;
      }
    });
    this.patientsList = [];
    // 根据 我的 页面导航的URL，直接设置activeIndex
    if(query.type == '0') {
      this.activeIndex = 0;
      this.isOpenList = true;
      this.fetchPatientList();
      return;
    } else if(query.type == '1') {
      this.activeIndex = 1;
      this.isOpenList = true;
      return;
    }

    this.page = 1;
    if(this.activeIndex === 0) {
      this.fetchPatientList(this.page, this.pageSize);
    } else if(this.activeIndex === 1){
      this.fetchPatientList(this.page, this.pageSize, true);
    }

    const elementQuery = wx.createSelectorQuery()
    this.$nextTick(() => {
      elementQuery.select('.footer-content').boundingClientRect()
      elementQuery.selectViewport().scrollOffset()
      elementQuery.exec(res => {
        this.mapHeight = `calc(100vh - ${res[0].height}px)`;
      })
    })
  },
  onUnload() {
    this.patientsList = [];
    this.activeIndex = 0;
    this.isOpenList = false;
    this.show = false;
    this.page = 1;
    this.pageSize = 10;
  }
};
</script>

<style lang="scss" scoped>
.my-patient {
  .footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-radius: 10px 10px 0px 0px;
    .up-icon {
      display: flex;
      justify-content: center;
      padding: 20px 0;
      img {
        width: 21px;
        height: 12px;
        margin-top: 10px;
      }
    }
    .input-group {
      position: relative;
      .search-input {
        width: 310px;
        height: 32px;
        box-sizing: border-box;
        background: rgba(149, 149, 149, 0.15);
        border-radius: 7px;
        margin-top: 6px;
        margin-left: 8px;
        padding-left: 30px;
        padding-right: 40px;
        font-size: 14px;
      }
      .search-icon {
        position: absolute;
        top: 9px;
        left: 15px;
        width: 16px;
        height: 16px;
      }
      .search-placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: rgba(64, 64, 64, 1);
        opacity: 0.6;
      }
      .search-text {
        position: absolute;
        right: 70px;
        top: 7px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(56, 136, 231, 1);
        opacity: 1;
      }
      .add-patient-container {
        display: flex;
        position: absolute;
        right: 8px;
        top: 0px;
        justify-content: center;
        flex-direction: column;
        img {
          width: 17px;
          height: 17px;
          align-self: center;
        }
        .text {
          font-size: 10px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(56, 136, 231, 1);
          opacity: 1;
        }
      }
    }
    .line {
      margin-top: 16px;
      height: 1px;
      background: rgba(112, 112, 112, 1);
      opacity: 0.2;
    }
    .option-list {
      display: flex;
      border-bottom: 1px solid #EEEEEE;
      .text-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        font-size: 14px;
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(91, 91, 91, 1);
          &.active {
            border-bottom: 2px solid rgba(56, 136, 231, 1);
            color: rgba(56, 136, 231, 1);
          }
        }
      }
    }
    .patient-list {
      background: white;
      width: 100%;
      height: 70vh;
      overflow: scroll;
      // transition: height 0.5s ease;
      flex-direction: column;
      align-items: center;
      // flex-wrap: wrap;
      // align-items: center;
      display: flex;
      &.hide {
        height: 0;
      }
    }
  }
  .alert {
    position: fixed;
    top: 100px;
    left: 114px;
    width: 132px;
    height: 31px;
    background: rgba(207, 229, 255, 1);
    opacity: 1;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(56, 136, 231, 1);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
</style>