<template>
  <div class="index-container">
    <img class="banner" src="/static/images/banner.png" />
    <div class="notification-bar" @click="navigateToTasks">
      <img class="icon" src="/static/icons/tasks.png" alt />
      <span class="text">
        交办事务
        <div class="message-number">
          <img src="/static/icons/badge.png" alt class="badge" />
          <span class="number">{{computedMessageNumber}}</span>
        </div>
      </span>
      <!-- <div class="unread-message">未读1条</div> -->
    </div>
    <div class="item-list">
      <div class="service-item" @click="navigateToSchedule">
        <div class="color-block">
          <img src="/static/icons/home.png" alt />
        </div>近期随访
      </div>
      <div class="service-item" @click="navigateToMyPatients">
        <div class="color-block" style="background: #FC984C;">
          <img src="/static/icons/patient.png" alt />
        </div>患者管理
      </div>
      <div class="service-item" @click="navigateToVisitHistory">
        <div class="color-block" style="background: #20D381;">
          <img src="/static/icons/record.png" alt />
        </div>随访记录
      </div>
      <div class="service-item" @click="navigateToMyDocument">
        <div class="color-block" style="background: #1AD8E2;">
          <img src="/static/icons/document.png" alt />
        </div>我的档案
      </div>
    </div>
    <div class="footer">
      <img src="/static/icons/e-care.png" alt />
      智慧e护
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
import { compareVersion } from '@/utils';

export default {
  data() {
    return {
      messageNumber: 0
    };
  },

  components: {
    card
  },

  methods: {
    bindViewTap() {
      const url = "../logs/main";
      if (mpvuePlatform === "wx") {
        mpvue.switchTab({ url });
      } else {
        mpvue.navigateTo({ url });
      }
    },
    clickHandle(ev) {
      console.log("clickHandle:", ev);
      // throw {message: 'custom test'}
    },
    navigateToTasks() {
      mpvue.navigateTo({
        url: "/pages/tasks/main"
      });
    },
    navigateToSchedule() {
      mpvue.navigateTo({
        url: "/pages/recent-schedule/main"
      });
    },
    navigateToMyPatients() {
      wx.getSystemInfo({
        success(res) {
          const { SDKVersion } = res;
          console.log(SDKVersion)
          if (compareVersion(SDKVersion, '2.8.0') >= 0) {
            mpvue.navigateTo({
              url: "/pages/my-patient/main"
            });
          } else {
            mpvue.navigateTo({
              url: "/pages/my-patient/stretch-index/main"
            });
          }
        }
      })
    },
    navigateToVisitHistory() {
      mpvue.navigateTo({
        url: "/pages/diagnosis/main"
      });
    },
    navigateToMyDocument() {
      mpvue.navigateTo({
        url: '/pages/my-document/main'
      })
    }
  },
  computed: {
    // 计算属性的 getter
    computedMessageNumber: function() {
      // `this` 指向 vm 实例
      return this.messageNumber > 99 ? 99 : this.messageNumber;
    }
  },
  onPullDownRefresh() {
    let personId = mpvue.getStorageSync('personId');
    mpvue.showLoading({
      title: '请稍候'
    });
    this.$api.getTaskCount({
      isRead: 0,
      receiver: personId
    }).then(res => {
      mpvue.hideLoading();
      if(typeof res === 'number') {
        this.messageNumber = res;

      }
    },() => {
      mpvue.hideLoading();
    })
    mpvue.stopPullDownRefresh();
  },
  onShow() {
    let personId = mpvue.getStorageSync('personId');
    this.$api.getTaskCount({
      isRead: 0,
      receiver: personId
    }).then(res => {
      if(typeof res === 'number') {
        this.messageNumber = res;
                
      }
    })
  },
  mounted() {
    // let personId = mpvue.getStorageSync('personId');
    // mpvue.showLoading({
    //   title: '请稍候'
    // });
    // this.$api.getTaskCount({
    //   isRead: 0,
    //   receiver: personId
    // }).then(res => {
    //   mpvue.hideLoading();
    //   if(typeof res === 'number') {
    //     this.messageNumber = res;
    //   }
    // },() => {
    //   mpvue.hideLoading();
    // })
  },
  onUnload() {
    this.messageNumber =  0
  }
};
</script>

<style lang="scss" scoped>
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 5px;
  .banner {
    width: 344px;
    height: 144px;
  }

  .notification-bar {
    width: 344px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgb(224, 238, 255);
    border-radius: 2px;
    margin: 10px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #393838;
    font-size: 16px;
    .unread-message {
      line-height: 16px;
      color: #67acff;
      font-weight: 400;
      font-size: 12px;
      flex: 1;
      text-align: right;
      margin-right: 16px;
    }
    .icon {
      width: 20px;
      height: 24px;
      margin: 0 10px 0 5px;
    }
    .text {
      position: relative;
      .message-number {
        display: flex; 
        justify-content: center; 
        width: 15px;
        height: 15px;
        position: absolute;
        right: -15px;
        top: -10px;
      }
      .badge {
        width: 15px;
        height: 15px;
      }
      .number {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 15px;
        height: 15px;
        text-align: center;
        font-size: 10px;
        color: white;
      }
    }
  }

  .item-list {
    width: 344px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-around;
    .service-item {
      height: 56px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
      opacity: 1;
      border-radius: 8px;
      width: 48%;
      margin: 10px 0;
      display: flex;
      align-items: center;
      font-size: 16px;
      .color-block {
        width: 27px;
        height: 27px;
        background: rgba(103, 172, 255, 1);
        opacity: 1;
        border-radius: 4px;
        margin: 0 12px;
        img {
          width: 19px;
          height: 19px;
          margin: 4px;
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 21px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(103, 172, 255, 0.22);
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 17px;
      margin-right: 10px;
    }
  }
}
</style>
