<template>
  <div class="my-patient">
    <map
      id="map"
      :markers="markers"
      :scale="scale"
      :latitude="28.001835"
      :longitude="120.705796"
      @callouttap="goToClass"
      @end="regionchange"
      @begin="regionchange"
      @regionchange="regionchange"
      show-location
      style="width: 100%; height: 100vh"
    />
    <div class="footer-content">
      <div class="up-icon" @click="changeOpenList(!isOpenList)">
        <img
          src="/static/icons/up.png"
          alt
          :style="{transform: isOpenList ? 'rotate(0.5turn)' : 'rotate(1turn)'}"
        />
      </div>
      <div class="input-group">
        <input
          type="text"
          class="search-input"
          placeholder="请在此输入患者名称"
          placeholder-class="search-placeholder"
        />
        <img src="/static/icons/search-icon.png" alt class="search-icon" />
        <div class="search-text">搜索</div>
        <div class="add-patient-container">
          <img src="/static/icons/add-patient.png" alt />
          <div class="text">添加患者</div>
        </div>
      </div>
      <div class="line"></div>
      <div class="option-list">
        <div class="text-block" style="position: relative;">
          <span :class="{ active: activeIndex == 0 }" @click="changeIndex(0)">患者列表</span>
          <div
            style="width: 1px; height: 19px; position: absolute; right: 0px; top: 10px; background: rgba(112,112,112,1); opacity:0.4;"
          ></div>
        </div>
        <div class="horizontal-line"></div>
        <div class="text-block">
          <span :class="{ active: activeIndex == 1 }" @click="changeIndex(1)">特别关注</span>
        </div>
      </div>
      <div class="patient-list" :class="{ hide: !isOpenList }">
        <patient-card
          v-for="(item, index) in patientsList"
          :key="index"
          :patient="item"
          :index="index"
          @click="navigateToPatientDetail"
        >
          <div slot="more">查看详情</div>
        </patient-card>
      </div>
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
export default {
  data() {
    return {
      activeIndex: 0,
      isOpenList: false,
      patientsList: [],
      show: false
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    showMoveOutDialog(flag) {
      this.moveOutDialog = flag;
    },
    confirmMoveOut() {},
    changeIndex(index) {
      this.activeIndex = index;
    },
    changeOpenList(flag) {
      this.isOpenList = flag;
    },
    onChangeFlag(index) {
      this.patientsList[index].careFlag = !this.patientsList[index].careFlag;
      if (this.patientsList[index].careFlag) {
        this.show = true;
        setTimeout(() => (this.show = false), 800);
      }
    },
    navigateToPatientDetail() {
      mpvue.navigateTo({
        url: '/pages/my-patient/detail/main'
      })
    }
  },
  created() {
  
    for (let i = 0; i < 10; i++) {
      this.patientsList.push({
        name: "艾莱依",
        avatar: "https://pic.qqtn.com/up/2017-11/15114862092111097.jpg",
        address: "鹿城区新城街道数码城大厦1003-1004",
        lastRecord:
          "上次诊疗记录：定义进入过渡的结束状态。在元素被插入之后下一帧生效 (与此同时 enter-class 被移除)，在过渡/动画完成之后移除。",
        status: "轻度",
        careFlag: 0
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.my-patient {
  padding: 10px 0;
  .footer-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-radius: 10px 10px 0px 0px;
    .up-icon {
      display: flex;
      justify-content: center;
      padding: 10px;
      img {
        width: 21px;
        height: 12px;
        margin-top: 10px;
      }
    }
    .input-group {
      position: relative;
      .search-input {
        width: 310px;
        height: 32px;
        box-sizing: border-box;
        background: rgba(149, 149, 149, 0.15);
        border-radius: 7px;
        margin-top: 6px;
        margin-left: 8px;
        padding-left: 30px;
        padding-right: 40px;
        font-size: 14px;
      }
      .search-icon {
        position: absolute;
        top: 8px;
        left: 15px;
        width: 16px;
        height: 16px;
      }
      .search-placeholder {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(64, 64, 64, 1);
        opacity: 0.6;
      }
      .search-text {
        position: absolute;
        right: 70px;
        top: 7px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(56, 136, 231, 1);
        opacity: 1;
      }
      .add-patient-container {
        display: flex;
        position: absolute;
        right: 8px;
        top: 0px;
        justify-content: center;
        flex-direction: column;
        img {
          width: 17px;
          height: 17px;
          align-self: center;
        }
        .text {
          font-size: 10px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(56, 136, 231, 1);
          opacity: 1;
        }
      }
    }
    .line {
      margin-top: 16px;
      height: 1px;
      background: rgba(112, 112, 112, 1);
      opacity: 0.2;
    }
    .option-list {
      display: flex;
      .text-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 50px;
        font-size: 14px;
        span {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(91, 91, 91, 1);
          &.active {
            border-bottom: 2px solid rgba(56, 136, 231, 1);
            color: rgba(56, 136, 231, 1);
          }
        }
      }
    }
    .patient-list {
      background: white;
      width: 100%;
      height: auto;
      max-height: 70vh;
      overflow: scroll;
      transition: max-height 0.5s ease;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      &.hide {
        max-height: 0;
      }
    }
  }
  .alert {
    position: fixed;
    top: 100px;
    left: 114px;
    width: 132px;
    height: 31px;
    background: rgba(207, 229, 255, 1);
    opacity: 1;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(56, 136, 231, 1);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
</style>