<template>
  <div class="new-record" @click="closeAllFilters">
    <div style="display: flex; justify-content: center;">
      <patient-card v-if="type" :patient="cardPatient"  @more-click="moreClick">
        <div slot="more">
          <div>查看详情</div>
        </div>
      </patient-card>
    </div>
    <div class="record-info" v-if="!type">
      <div class="title is-required">记录信息</div>
      <van-cell title="记录类型：" value="面访" title-class="max100" value-class="text-left" />
      <div class="patientInfo-select">
        <van-field
          readonly
          titleWidth="100px"
          label="患者信息："
          v-model="form.patientInfo"
          placeholder="请选择患者信息"
          input-class="arrow-down-class overflow-class"
          :error-message="errors.patientInfo"
          @click="patientInfoPickerVisible = true"
        />
        <van-popup :show="patientInfoPickerVisible" position="bottom">
          <van-picker
            show-toolbar
            title="请选择患者信息"
            :columns="patientList"
            :value-key="'name'"
            @confirm="e => confirmPatientPick(e, 'patientInfoPickerVisible')"
            @cancel="patientInfoPickerVisible = false"
          />
        </van-popup>
      </div>
    </div>
    <div class="title is-required">基本信息</div>
    <van-field
      readonly
      titleWidth="100px"
      label="随访对象："
      :value="form.visitPersonType"
      placeholder="请选择随访对象"
      input-class="arrow-down-class"
      :error-message="errors.visitPersonType"
      @click="targetPickerVisible = true"
    />
    <van-popup :show="targetPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择随访对象"
        :columns="visitPersonType"
        value-key="value"
        @confirm="e => confirmOtherPick(e, 'visitPersonType', 'targetPickerVisible')"
        @cancel="targetPickerVisible = false"
      />
    </van-popup>
    <van-field
      readonly
      titleWidth="100px"
      label="危险系数："
      :value="form.grade"
      placeholder="请选择危险系数"
      input-class="arrow-down-class"
      :error-message="errors.grade"
      @click="dangerLevelPickerVisible = true"
    />
    <van-popup :show="dangerLevelPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择危险系数"
        :columns="gradeLevels"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'grade', 'dangerLevelPickerVisible')"
        @cancel="dangerLevelPickerVisible = false"
      />
    </van-popup>
    <van-field titleWidth="100px" label="共同随访人员："  :error-message="errors.followPerson" :value="form.followPerson" @input="form.followPerson = $event.mp.detail" placeholder="请输入共同随访人员" />
    <div class="medicine-list">
      <div class="title" style="display: flex; align-items: center;">
        用药情况
        <div class="medicine-add-block" @click="isMedicineModalVisible = true">
          <img
            class="add-white-icon"
            src="/static/icons/add-white.png"
            alt
          />
        </div>
      </div>
      <div class="medicine-item" v-for="(item, idx) in medicineList" :key="idx">
        <div class="text">{{item.medicineName}} {{item.medicineUsage}} {{item.medicineDosage}}</div>
        <div class="btn" @click.stop="changeFilterVisible(idx)">
          操作
          <div :class="['item-list', item.showFilter ? 'active' : '']">
            <div class="item" style="border-bottom: 1px solid rgba(103,172,255, 0.22);" @click.stop="editMedicine(item, idx)">编辑</div>
            <div class="item" @click.stop="deleteMedicine(idx)">删除</div>
          </div>
        </div>
        <!-- <cover-view :style="{position:'absolute', height: overlayHeight, width:' 100vw', top:' 0', left: '0'}" v-if="item.showFilter" @click="changeFilterVisible(idx)"></cover-view> -->
      </div>
    </div>
    <div class="title is-required">随访信息</div>
    <van-field
      readonly
      titleWidth="100px"
      label="随访分类："
      :value="form.lastVisitType"
      placeholder="请选择随访分类"
      input-class="arrow-down-class"
      :error-message="errors.lastVisitType"
      @click="categoryPickerVisible = true"
    />
    <van-popup :show="categoryPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择随访分类"
        :columns="lastVisitTypeList"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'lastVisitType', 'categoryPickerVisible')"
        @cancel="categoryPickerVisible = false"
      />
    </van-popup>
    <van-field
      readonly
      titleWidth="100px"
      label="下次随访时间："
      :value="form.nextVisitTime"
      :error-message="errors.nextVisitTime"
      placeholder="请先选择随访分类"
    />
    <van-field
      readonly
      titleWidth="100px"
      label="下次随访方式："
      :value="form.nextVisitType"
      placeholder="请选择下次随访方式"
      input-class="arrow-down-class"
      :error-message="errors.nextVisitType"
      @click="nextVisitTypePickerVisible = true"
    />
    <van-popup :show="nextVisitTypePickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择下次随访方式"
        :columns="['面访', '电话问诊']"
        @confirm="e => confirmPicker(e, 'nextVisitType', 'nextVisitTypePickerVisible')"
        @cancel="nextVisitTypePickerVisible = false"
      />
    </van-popup>
    <div class="title">本次问诊结论</div>
    <textarea name id rows="3" class="textarea-content" v-if="!isPickerVisible" v-model="form.result" placeholder="请在此填写患者病情"></textarea>
    <text class="textarea-content" v-else :style="{color: form.result ? 'black': '#999'}">{{form.result || '请在此填写患者病情'}}</text>
    <!-- <div class="title">备注</div>
    <textarea name id rows="3" class="textarea-content"  v-if="!isPickerVisible" v-model="form.note"></textarea>
    <text class="textarea-content"  v-else>{{form.note}}</text> -->
    <div class="title is-required">
      附件
      <span>（只可添加图片格式）</span>
    </div>
    <div class="attachment-list">
      <img class="add-attachment-icon" src="/static/icons/add-attachment.png" alt @click="addAttachment"/>
      <div class="attachment-item" v-for="(item,index) in attachmentList" :key="index">
        <img alt class="attachment-img" :src="item.path" />
        <img class="delete-icon" src="/static/icons/delete.png" alt @click="deleteAttachment(index)" />
      </div>
    </div>
    <div class="title">签到定位</div>
    <div
      class="title sign"
    ><span @click="navigateToMap">{{geoAddress}}</span> {{formattedDate}} </div>
    <div class="btn-group">
      <button class="btn second" @click="saveForm">暂存</button>
      <button class="btn primary" @click="isFinishDialogVisible = true">提交随访</button>
    </div>
    <custom-modal
      :show="isMedicineModalVisible"
      title="添加药品"
      :customStyle="'width: 80%;'"
      @cancel="isMedicineModalVisible = false"
      @confirm="saveMedicine"
      v-if="type !== 'phone'"
    >
      <div slot="content">
        <div class="modal-content">
          <div class="item">
            <span class="label">药品名称：</span>
            <div class="medicine-block" @click="navigateToMedicinePage">
              {{currentMedicine.medicineName || '请选择'}}
              <img
                src="/static/icons/arrow-right.png"
                class="arrow-right"
                alt
              />
            </div>
          </div>
          <div class="item">
            <span class="label">用法：</span>
            <van-checkbox-group :value="currentMedicine.medicineUsage" @change="onMedicineUsageChange">
              <van-checkbox
                v-for="(item,index) in medicineTimeItems"
                :key="index"
                :name="item.name"
                :custom-class="'medicine-checkbox'"
              >{{item.value}}</van-checkbox>
            </van-checkbox-group>
          </div>
          <div class="item" style="display: flex; align-items: center;">
            <span class="label">药品用量：</span>
            <input class="medicine-input" v-model.lazy="currentMedicine.medicineDosage" placeholder="如3粒/次" />
          </div>
          <div class="confirm-add-next" @click="saveMedicineAddNext" v-if="!edit">确定并添加下一条</div>
        </div>
      </div>
    </custom-modal>
    <van-dialog
      use-slot
      :show="isFinishDialogVisible"
      show-cancel-button
      @confirm="finishDiagnosis"
      @close="isFinishDialogVisible = false"
    >
      <div style="text-align:center; padding: 25px; font-size: 14px">
        确定提交本次随访记录吗？
      </div>
    </van-dialog>
  </div>
</template>

<script>
import card from "@/components/card";
import CustomModal from "@/components/custom-modal";
import { getPageQuery, visitPersonTypeMap, lastVisitTypeMap, gradeMap, statusMap, debounce } from "@/utils";
import { REQUEST_URL } from "@/utils/config";
import Dialog from "@/../static/vant/dialog/dialog.js";
import dayjs from 'dayjs';
export default {
  data() {
    return {
      form: {
        patientInfo: "",
        visitPersonType: "",
        visitPersonTypeId: "",
        followPerson: "",
        category: "",
        nextVisitTime: "",
        nextVisitType: "",
        grade: "",
        gradeId: "",
        result: "",
        note: "",
        patientId: "",
        lastVisitType: "",
        lastVisitTypeId: ""
      },
      errors: {
        patientInfo: "",
        visitPersonType: "",
        visitPersonTypeId: "",
        followPerson: "",
        category: "",
        nextVisitTime: "",
        nextVisitType: "",
        grade: "",
        gradeId: "",
        result: "",
        note: "",
        patientId: "",
        lastVisitType: "",
        lastVisitTypeId: ""
      },
      medicineList: [],
      currentMedicine: {
        id: "",
        medicineName: "",
        medicineDosage: "",
        medicineUsage: []
      },
      showFilter: false,
      type: "",
      attachmentList: [],
      medicineTimeItems: [
        { name: "早", value: "早" },
        { name: "中", value: "中" },
        { name: "晚", value: "晚" }
      ],
      patientInfoPickerVisible: false,
      targetPickerVisible: false,
      categoryPickerVisible: false,
      dangerLevelPickerVisible: false,
      nextVisitTimePickerVisible: false,
      nextVisitTypePickerVisible: false,
      isMedicineModalVisible: false,
      isFinishDialogVisible: false,
      overlayHeight: '0px',
      patientList: [],
      edit: false,
      currentMedicineIndex: -1,
      visitPersonType: [],
      gradeLevels: [],
      lastVisitTypeList: [],
      uploadedAttachments: [],
      statusList: [],
      location: {
        lng: '',
        lat: ''
      },
      geoAddress: '',
      cardPatient: {},
      currentDate: new dayjs()
    };
  },

  components: {
    "patient-card": card,
    "custom-modal": CustomModal
  },

  methods: {
    moreClick() {
      this.navigateToPatientDetail(this.cardPatient.id)
    },
    confirmPicker(e, property, visible) {
      console.log(e);
      this.form[property] = e.target.value;
      this[visible] = false;
    },
    confirmPatientPick(e, visible) {
      this.form.patientInfo = e.target.value.name;
      this.form.patientId = e.target.value.id;
      this[visible] = false;
    },
    confirmOtherPick(e, property, visible) {
      this.form[property] = e.target.value.value;
      this.form[property + 'Id'] = e.target.value.key;
      this[visible] = false;
      this.$forceUpdate();
    },
    changeFilterVisible(idx) {
      this.medicineList[idx].showFilter = !this.medicineList[idx].showFilter  
      this.$forceUpdate();
    },
    closeAllFilters() {
      for(let item of this.medicineList) {
        item.showFilter = false;
      }
      this.$forceUpdate();
    },
    navigateToMedicinePage() {
      mpvue.navigateTo({
        url: "/pages/diagnosis/face-to-face/create/medicine-search/main"
      });
    },
    onChange(e) {
      console.log(e);
    },
    navigateToPatientDetail(id) {
      mpvue.navigateTo({
        url: "/pages/my-patient/detail/main?patientId=" + id
      });
    },
    navigateToMap() {
      mpvue.navigateTo({
        url: "/pages/diagnosis/face-to-face/map/main"
      });
    },
    saveMedicineAddNext() {
      if(this.checkMedicine()) {
        this.currentMedicine.showFilter = false;
        this.medicineList.push(this.currentMedicine);
        this.currentMedicine = {
          medicineName: "",
          medicineDosage: "",
          medicineUsage: []
        };
      }
    },
    saveMedicine() {
      if(this.checkMedicine() && !this.edit) {
        this.currentMedicine.showFilter = false;
        this.medicineList.push(this.currentMedicine);
        this.currentMedicine = {
          id: "",
          medicineName: "",
          medicineDosage: "",
          medicineUsage: []
        };
        this.isMedicineModalVisible = false;
      } else if(this.checkMedicine() && this.edit) {
        this.medicineList[this.currentMedicineIndex].showFilter = false;
        this.medicineList[this.currentMedicineIndex] = this.currentMedicine;
        this.currentMedicine = {
          id: "",
          medicineName: "",
          medicineDosage: "",
          medicineUsage: []
        };
        this.isMedicineModalVisible = false;
        this.edit = false;
        this.currentMedicineIndex = -1;
      }
    },
    checkMedicine() {
      if(!this.currentMedicine.medicineName) {
        mpvue.showToast({
          title: '请选择药品',
          icon: 'none'
        });
        return false;
      } else if(this.currentMedicine.medicineUsage.length < 1) {
        mpvue.showToast({
          title: '请选择药品用法',
          icon: 'none'
        });
        return false;
      } else if(!this.currentMedicine.medicineDosage) {
        mpvue.showToast({
          title: '请输入药品用量',
          icon: 'none'
        });
        return false;
      } 
      return true;
    },
    onMedicineUsageChange(e) {
      this.currentMedicine.medicineUsage = e.mp.detail;
    },
    deleteMedicine(index) {
      this.medicineList.splice(index, 1);
    },
    editMedicine(item, idx) {
      this.currentMedicine = item;
      this.isMedicineModalVisible = true;
      this.currentMedicineIndex = idx;
      this.edit = true;
    },
    addAttachment() {
      let that = this;
      mpvue.chooseImage({
        count: 1,
        sizeType: ['original', 'compressed'],
        sourceType: ['camera'],
        success (res) {
          // tempFilePath可以作为img标签的src属性显示图片
          console.log(res);
          const tempFilePaths = res.tempFiles
          that.attachmentList = that.attachmentList.concat(tempFilePaths);
        }
      });
    },
    deleteAttachment(index) {
      this.attachmentList.splice(index, 1);
    },
    uploadAttachments() {
      const token = wx.getStorageSync('token');
      return Promise.all(this.attachmentList.map((item, idx) => {
        let that = this;
        mpvue.showLoading({title: `上传附件中(${idx}/${this.attachmentList.length})`});
        return new Promise((resolve, reject) => {
          mpvue.hideLoading();
          wx.uploadFile({
            url: `${REQUEST_URL}/sys/file/upload`, 
            filePath: item.path,
            name: 'file',
            header: {
              token
            },
            success (res){
              const data = res.data;
              let parsedData = JSON.parse(data);
              if(parsedData.status == 300) {
                mpvue.showToast({
                  title: '附件内容不能为空',
                  icon: 'none'
                })
                reject();
                return;
              }
              resolve(parsedData.data[0]);
            }
          })
        })
      })).catch(err => console.log(err))
    },
    saveForm() {
      let result = {
        form: this.form,
        medicineList: this.medicineList,
        attachmentList: this.attachmentList
      };
      let diagnosisRecord = mpvue.getStorageSync('diagnosisRecord') || '';
      let faceDiagnosisRecord = mpvue.getStorageSync('faceDiagnosisRecord') || '';
      let phoneDiagnosisRecord = mpvue.getStorageSync('phoneDiagnosisRecord') || '';
      let that = this;
      if(this.type === '0') {
        result = { ...result, patientId: this.cardPatient.id}
        if(faceDiagnosisRecord) {
          mpvue.showModal({
            title: '提示',
            content: '当前已有暂存的记录，是否确认覆盖？',
            success (res) {
              if (res.confirm) {
                mpvue.setStorageSync(
                  'faceDiagnosisRecord',
                  JSON.stringify(result)
                )
                mpvue.showToast({
                  title: '暂存成功',
                  icon: 'success'
                });
                setTimeout(() => {
                  mpvue.navigateBack()
                }, 1500);
              } else if (res.cancel) {
                
              }
            }
          })
        } else {
          mpvue.setStorageSync(
            'faceDiagnosisRecord',
            JSON.stringify(result)
          )
          mpvue.showToast({
            title: '暂存成功',
            icon: 'success'
          });
          setTimeout(() => {
            mpvue.navigateBack()
          }, 1500);
        }
      } else if(this.type === '1') {
        result = { ...result, patientId: this.cardPatient.id}
        if(phoneDiagnosisRecord) {
          mpvue.showModal({
            title: '提示',
            content: '当前已有暂存的记录，确认覆盖？',
            success (res) {
              if (res.confirm) {
                mpvue.setStorageSync(
                  'phoneDiagnosisRecord',
                  JSON.stringify(result)
                )
                mpvue.showToast({
                  title: '暂存成功',
                  icon: 'success'
                });
                setTimeout(() => {
                  mpvue.navigateBack()
                }, 1500);
              } else if (res.cancel) {
                
              }
            }
          })
        } else {
          mpvue.setStorageSync(
            'phoneDiagnosisRecord',
            JSON.stringify(result)
          )
          mpvue.showToast({
            title: '暂存成功',
            icon: 'success'
          });
          setTimeout(() => {
            mpvue.navigateBack()
          }, 1500);
        }
      } else {
        if(diagnosisRecord) {
          mpvue.showModal({
            title: '提示',
            content: '当前已有暂存的记录，是否确认覆盖？',
            success (res) {
              if (res.confirm) {
                mpvue.setStorageSync(
                  'diagnosisRecord',
                  JSON.stringify(result)
                )
                mpvue.showToast({
                  title: '暂存成功',
                  icon: 'success'
                });
                setTimeout(() => {
                  mpvue.navigateBack()
                }, 1500);
              } else if (res.cancel) {
                
              }
            }
          })
        } else {
          mpvue.setStorageSync(
            'diagnosisRecord',
            JSON.stringify(result)
          )
          mpvue.showToast({
            title: '暂存成功',
            icon: 'success'
          });
          setTimeout(() => {
            mpvue.navigateBack()
          }, 1500);
        }
      }
      
      
    },
    checkForm() {
      const {
        patientInfo,
        visitPersonType,
        visitPersonTypeId,
        followPerson,
        category,
        nextVisitTime,
        nextVisitType,
        grade,
        gradeId,
        result,
        note,
        patientId,
        lastVisitType,
        lastVisitTypeId
      } = this.form;
      if(!patientInfo && !this.type) {
        this.errors.patientInfo = "请选择患者信息";
      } else {
        this.errors.patientInfo = "";
      }
      if(!visitPersonType) {
        this.errors.visitPersonType = "请选择随访对象";
      } else {
        this.errors.visitPersonType = "";
      }
      if(!grade) {
        this.errors.grade = "请选择危险等级";
      } else {
        this.errors.grade = '';
      }
      if(!followPerson) {
        this.errors.followPerson = "共同随访人员不能为空";
      } else {
        this.errors.followPerson = '';
      }
      if(!lastVisitType) {
        this.errors.lastVisitType = '请选择随访分类';
      } else {
        this.errors.lastVisitType = '';
      }
      if(!nextVisitType) {
        this.errors.nextVisitType = '请选择下次随访方式';
      } else {
        this.errors.nextVisitType = '';
      }
      
    },
    finishDiagnosis: debounce(function() {
      // 隐藏键盘
      this.checkForm();
      for(let prop in this.errors) {
        if(this.errors[prop]) {
          this.$toast.error(this.errors[prop]);
          return;
        }
      }
      if(this.attachmentList.length <=0) {
        this.$toast.error('请至少上传一个附件');
        return;
      }
      mpvue.hideKeyboard();
      const [fileName,originName,url] = [[], [] ,[]];
      const [drugIds, takeTimes, takeNums] = [[], [] ,[]];
      this.uploadAttachments().then(res => {
        for(let i=0; i< res.length; i++) {
          fileName.push(res[i].fileName);
          originName.push(new dayjs().format('YYYYMMDD') + '随访图片' + (i + 1));
          url.push(res[i].url);
        }

        for(let item of this.medicineList) {
          drugIds.push(item.id);
          takeTimes.push(item.medicineUsage.join('、'));
          takeNums.push(item.medicineDosage);
        }

        const { visitPersonTypeId, followPerson, nextVisitTime, gradeId, result, note, patientId, lastVisitTypeId, nextVisitType } = this.form;
        
        let params = {
          visitPersonType: visitPersonTypeId,
          followPerson,
          grade: gradeId,
          result,
          note,
          culpritId: patientId,
          lastVisitType: lastVisitTypeId,
          visitDateStr: new dayjs().format('YYYY-MM-DD'),
          nextVisitTimeStr: nextVisitTime,
          nextType: nextVisitType === '面访' ? '0' : '1'
        }

        if(this.geoAddress) params.visitAddress = this.geoAddress;
        if(this.location.lng && this.location.lat) {
          params.lon = this.location.lng;
          params.lat = this.location.lat;
        }

        params.type =  this.type || 0; // 本次随访记录，0为面访，1为电话
        params.fileOriginName = originName.join(',');
        params.fileUrl = url.join(',');
        params.fileName = fileName.join(',');
        params.drugsIds = drugIds.join(',');
        params.takeTimes = takeTimes.join(',');
        params.takeNums = takeNums.join(',');

        this.$api.saveVisitRecord(params).then(res => {
          mpvue.showToast({
            title: '提交随访记录成功',
            icon: 'success'
          });
          mpvue.navigateBack();
          let faceDiagnosisRecord = mpvue.getStorageSync('faceDiagnosisRecord') || '';
          let phoneDiagnosisRecord = mpvue.getStorageSync('phoneDiagnosisRecord') || '';
          if(this.type && this.type === '0') {
            faceDiagnosisRecord = JSON.parse(faceDiagnosisRecord);
            if(faceDiagnosisRecord.patientId === patientId) {
              mpvue.setStorageSync('faceDiagnosisRecord', '');
            }
          } else if(this.type && this.type === '1') {
            phoneDiagnosisRecord = JSON.parse(phoneDiagnosisRecord);
            if(phoneDiagnosisRecord.patientId === patientId) {
              mpvue.setStorageSync('phoneDiagnosisRecord', '');
            }
          } else {
            mpvue.setStorageSync('diagnosisRecord', '');
          }
        }).catch(err => {
          mpvue.showToast({
            title: err,
            icon: 'none'
          })
        })
      }).catch(err => console.log(err));
    }, 300)
  },
  mounted() {
    let personId = mpvue.getStorageSync('personId');
    const query = this.$root.$mp.query || {};
    const { patientId } = query;
    if (query.type === "phone") {
      mpvue.setNavigationBarTitle({
        title: "新增电话问诊记录"
      });
      this.type = "1";
    } else if(query.type === 'face') {
      mpvue.setNavigationBarTitle({
        title: "新增面访记录"
      });
      this.type = "0";
    }
    if(patientId && this.type) {
      mpvue.showLoading({ title: '请稍候' });
      this.$api.getPatientDetail({
        id: patientId
      }).then(res => {
        mpvue.hideLoading();
        const { culprit } = res;
        this.cardPatient = culprit;
        this.form.patientId = patientId;
      })
    }
    let diagnosisRecord = mpvue.getStorageSync('diagnosisRecord') || '';
    let faceDiagnosisRecord = mpvue.getStorageSync('faceDiagnosisRecord') || '';
    let phoneDiagnosisRecord = mpvue.getStorageSync('phoneDiagnosisRecord') || '';
    if(diagnosisRecord && !this.type) {
      diagnosisRecord = JSON.parse(diagnosisRecord);
      mpvue.showToast({
        title: '已填充上次暂存的记录',
        icon: 'none'
      });
      this.form = diagnosisRecord.form;
      this.medicineList = diagnosisRecord.medicineList || [];
      this.attachmentList = diagnosisRecord.attachmentList || [];
    }
    if(faceDiagnosisRecord && this.type === '0') {
      faceDiagnosisRecord = JSON.parse(faceDiagnosisRecord);
      if(faceDiagnosisRecord.patientId == patientId) {
        mpvue.showToast({
          title: '已填充上次暂存的记录',
          icon: 'none'
        });
        this.form = faceDiagnosisRecord.form;
        this.medicineList = faceDiagnosisRecord.medicineList || [];
        this.attachmentList = faceDiagnosisRecord.attachmentList || [];
      }
    }
    if(phoneDiagnosisRecord && this.type === '1') {
      phoneDiagnosisRecord = JSON.parse(phoneDiagnosisRecord);
      if(phoneDiagnosisRecord.patientId == patientId) {
        mpvue.showToast({
          title: '已填充上次暂存的记录',
          icon: 'none'
        });
        this.form = phoneDiagnosisRecord.form;
        this.medicineList = phoneDiagnosisRecord.medicineList || [];
        this.attachmentList = phoneDiagnosisRecord.attachmentList || [];
      }
    }

    // 获取患者列表
    this.$api.getPatientList({
      personId,
      page: 1,
      pageSize: 100000
    }).then(res => {
      const { pager } = res;
      this.patientList = pager.list;
    });

    let that = this;
    this.currentDate = new dayjs();
    mpvue.getLocation({
      type: "gcj02",
      success(res) {
        console.log(res);
        const latitude = res.latitude;
        const longitude = res.longitude;
        that.location.lng = longitude;
        that.location.lat = latitude;
        mpvue.showLoading({title: '获取定位中'});
        that.$api.reGeoCode({
          location: that.location.lng + "," + that.location.lat
        }).then(res => {
          mpvue.hideLoading();
          const { regeocode } = res;
          const { formatted_address} = regeocode;
          that.geoAddress = formatted_address;
          console.log(res);
        });

        that.$api.convertCooridate({
          location: that.location.lng + "," + that.location.lat
        }).then(res => {
          const { locations } = res;
          const cooridate = locations.split(',');
          that.location.lng = cooridate[0];
          that.location.lat = cooridate[1];
        })
      }
    });
    
  },
  created() {
    const visitPerson = visitPersonTypeMap();
    const grades = gradeMap();
    const lastVisitType = lastVisitTypeMap();
    for (let [key, value] of visitPerson) {
      this.visitPersonType.push({key, value});
    }
    for (let [key, value] of grades) {
      this.gradeLevels.push({key, value});
    }
    for (let [key, value] of lastVisitType) {
      this.lastVisitTypeList.push({key, value});
    }

    
  },
  watch: {
    "form.lastVisitType" (newValue) {
      let date = new dayjs();
      if(newValue === '不稳定') {
        this.form.nextVisitTime = date.add(14, 'day').format('YYYY-MM-DD');
      } else if(newValue === '基本稳定') {
        this.form.nextVisitTime = date.add(30, 'day').format('YYYY-MM-DD');
      } else if(newValue === '稳定') {
        this.form.nextVisitTime = date.add(90, 'day').format('YYYY-MM-DD');
      }
    }
  },
  computed: {
    isPickerVisible() {
      return this.patientInfoPickerVisible ||
      this.targetPickerVisible ||
      this.categoryPickerVisible ||
      this.dangerLevelPickerVisible ||
      this.nextVisitTimePickerVisible ||
      this.nextVisitTypePickerVisible ||
      this.isMedicineModalVisible ||
      this.isFinishDialogVisible;
    },
    formattedDate() {
      return this.currentDate.format('YYYY-MM-DD HH:mm')
    }
  },
  onUnload() {
    this.form = {
      patientInfo: "",
      visitPersonType: "",
      visitPersonTypeId: "",
      followPerson: "",
      category: "",
      nextVisitTime: "",
      nextVisitType: "",
      grade: "",
      gradeId: "",
      result: "",
      note: "",
      patientId: "",
      lastVisitType: "",
      lastVisitTypeId: ""
    };
    this.errors = {
        patientInfo: "",
        visitPersonType: "",
        visitPersonTypeId: "",
        followPerson: "",
        category: "",
        nextVisitTime: "",
        nextVisitType: "",
        grade: "",
        gradeId: "",
        result: "",
        note: "",
        patientId: "",
        lastVisitType: "",
        lastVisitTypeId: ""
    };
    this.medicineList = [];
    this.currentMedicine = {
      medicineName: "",
      medicineDosage: "",
      medicineUsage: []
    }
    this.cardPatient = {};
    this.type = '';
    this.attachmentList = [];
  }
};
</script>

<style lang="scss">
._van-checkbox-group {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px 0;
}
.new-record {
  padding: 10px 0;
  .arrow-down-class {
    background: url(../../../../../static/icons/arrow-down-thin.png) no-repeat scroll right center transparent;
    background-size: 11px 6px;
  }
  .overflow-class {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .title {
    margin: 20px 0 20px 15PX;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
    position: relative;
    &.is-required:before {
      position: absolute;
      left: -6PX;
      top: -2px;
      font-size: 14px;
      color: #f44;
      content: "*";
    }
    .medicine-add-block {
      width:32px;
      height:16px;
      background:rgba(103,172,255,1);
      opacity:1;
      border-radius:2px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      .add-white-icon {
        width: 12px;
        height: 12px;
      }
    }
    &.sign {
      font-size: 14px;
      margin-top: 0px; 
      color: #2b2b2b; 
      font-size: 14px;
    }
  }
  .max100 {
    max-width: 100PX;
    min-width: 100PX;
  }
  .text-left {
    text-align: left;
    flex: 1;
    color: black;
  }
  .medicine-item {
    background: white;
    display: flex;
    align-items: center;
    padding: 15PX;
    font-size: 14px;
    .text {
      flex: 1;
    }
    .btn {
      width: 38px;
      height: 18px;
      background: rgba(103, 172, 255, 1);
      opacity: 1;
      border-radius: 2px;
      color: white;
      font-size: 12px;
      text-align: center;
      position: relative;
      .item-list {
        width: 56px;
        max-height: 0px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 3px 6px rgba(103, 172, 255, 0.41);
        opacity: 1;
        position: absolute;
        right: 0px;
        top: 20px;
        z-index: 100;
        text-align: center;
        transition: 0.2s all ease;
        .item {
          visibility: hidden;
          height: 37px;
          line-height: 37px;
          font-size: 14px;
          font-weight: 400;
          color: rgba(103, 172, 255, 1);
          opacity: 1;
          box-sizing: border-box;
        }
        &.active {
          max-height: 106px;
          .item {
            visibility: visible;
          }
        }
      }
    }
  }
  .textarea-content {
    width: 100%;
    background: white;
    padding: 10PX 15PX;
    font-size: 14px;
    box-sizing: border-box;
    margin: 10px 0;
    height: 100px;
    display: block;
  }
  text.textarea-content {
    overflow: hidden;
  }
  .attachment-list {
    padding: 0 20px;
    .attachment-item {
      position: relative;
      display: inline-block;
      .delete-icon {
        width: 11px;
        height: 11px;
        position: absolute;
        top: 0;
        right: 3px;
      }
      .attachment-img {
        width: 56px;
        height: 56px;
        background: gray;
        margin: 5px 10px;
        box-sizing: border-box;
      }
    }
  }
  .add-attachment-icon {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    margin: 5px 10px;
  }
  .btn-group {
    text-align: center;
    .btn {
      width: 96px;
      height: 34px;
      opacity: 1;
      border-radius: 5px;
      display: inline-block;
      margin: 5px 28px;
      font-size: 14px;
      text-align: center;
      color: white;
      &.second {
        background: rgba(103, 172, 255, 1);
      }
      &.primary {
        background: #3888e7;
      }
    }
  }
  .modal-content {
    padding: 10px;
    font-size: 16px;
    .item {
      display: flex;
      margin: 20px 0;
      align-items: center;
      .label {
        width: 80px;
        margin: 0px 5px;
        text-align: right;
        display: inline-block;
      }
      .medicine-block {
        width: 170px;
        height: 24px;
        padding: 0 10px;
        background: rgba(103, 172, 255, 1);
        opacity: 1;
        border-radius: 5px;
        display: inline-block;
        color: white;
        padding: 0 5px;
        position: relative;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .arrow-right {
          width: 7px;
          height: 12px;
          position: absolute;
          top: 6px;
          right: 8px;
        }
      }
      .medicine-checkbox {
        margin-left: 10px;
      }
    }
    .medicine-input {
      width: 150px;
      display: inline-block;
      border-bottom: 1px solid #eee;
      text-align: center;
    }
    .confirm-add-next {
      text-align: center;
      color: #67ACFF;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}
</style>