<template>
  <div class="my-document">
    <div class="avatar-intro">
      <img class="avatar" src="/static/icons/male-avatar.png" alt />
      <div class="name">{{accountName}}</div>
      <div class="occupation">{{groupName}}</div>
      <div class="intro-list">
        <div class="item" @click="navigateToMyPatients">
          <div class="number">{{totalCulprit}}</div>
          <div class="category">我的患者</div>
        </div>
        <div class="item" @click="navigateToMyFollow">
          <div class="number">{{focusCulprit}}</div>
          <div class="category">特别关注</div>
        </div>
        <div class="item" @click="navigateToVisit">
          <div class="number">{{totalVisit}}</div>
          <div class="category">随访次数</div>
        </div>
      </div>
    </div>
    <div class="feature" @click="navigateToChangePassword">
      <img class="left-icon" src="/static/icons/settings.png" alt />
      <div class="feature-name">修改密码</div>
      <img src="/static/icons/right-arrow.png" alt class="right-icon" />
    </div>
    <div class="feature" @click="navigateToHistoryVersion">
      <img class="left-icon" src="/static/icons/update.png" alt />
      <div class="feature-name">历史版本</div>
      <img src="/static/icons/right-arrow.png" alt class="right-icon" />
    </div>
    <navigator open-type="exit" target="miniProgram" @click="clearThings">
      <div class="feature">
        <img class="left-icon" src="/static/icons/exit.png" alt />
        <div class="feature-name">退出登录</div>
      </div>
     </navigator> 
    <div class="footer-content">
      <div class="description">技术支持：中国电信股份有限公司温州分公司</div>
      <div class="description">客服热线：4008770811</div>
    </div>
  </div>
</template>

<script>
import { compareVersion } from '@/utils';
export default {
  data() {
    return {
      accountName: '',
      groupName: '',
      focusCulprit: 0,
      totalCulprit: 0,
      totalVisit: 0
    };
  },

  components: {},

  methods: {
    navigateToChangePassword() {
      mpvue.navigateTo({
        url: '/pages/my-document/change-password/main'
      })
    },
    navigateToHistoryVersion() {
      mpvue.navigateTo({
        url: '/pages/my-document/history-version/main'
      })
    },
    navigateToMyPatients() {
      wx.getSystemInfo({
        success(res) {
          const { SDKVersion } = res;
          console.log(SDKVersion)
          if (compareVersion(SDKVersion, '2.8.0') >= 0) {
            mpvue.navigateTo({
              url: "/pages/my-patient/main?type=0"
            });
          } else {
            mpvue.navigateTo({
              url: "/pages/my-patient/stretch-index/main?type=0"
            });
          }
        }
      })
    },
    navigateToMyFollow() {
      wx.getSystemInfo({
        success(res) {
          const { SDKVersion } = res;
          console.log(SDKVersion)
          if (compareVersion(SDKVersion, '2.8.0') >= 0) {
            mpvue.navigateTo({
              url: "/pages/my-patient/main?type=1"
            });
          } else {
            mpvue.navigateTo({
              url: "/pages/my-patient/stretch-index/main?type=1"
            });
          }
        }
      })
    },
    navigateToVisit() {
      mpvue.navigateTo({
        url: '/pages/diagnosis/main'
      });
    },
    clearThings() {
      mpvue.setStorageSync('diagnosisRecord', '');
      mpvue.setStorageSync('phoneDiagnosisRecord', '');
      mpvue.setStorageSync('faceDiagnosisRecord', '');
    }
  },

  mounted() {
    let personId = mpvue.getStorageSync('personId');
    this.$api.getMyCountById({
      personId
    }).then(res => {
      const { focusCulprit, totalCulprit, totalVisit } = res;
      this.focusCulprit = focusCulprit;
      this.totalCulprit = totalCulprit;
      this.totalVisit = totalVisit;
    });
    this.$api.getMyDetail({
      personId
    }).then(res => {
      const { sysAccount } = res;
      const { accountname, groupName } = sysAccount;
      this.accountName = accountname;
      this.groupName = groupName;
    })
  }
};
</script>

<style lang="scss" scoped>
.my-document {
  .avatar-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: white;
    padding: 20px 0;
    .avatar {
      border-radius: 50%;
      width: 72px;
      height: 72px;
    }
    .name {
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: rgba(83, 83, 83, 1);
      margin-top: 5px;
    }
    .occupation {
      font-size: 12px;
      font-family: Microsoft YaHei;
      font-weight: 400;
      line-height: 16px;
      color: rgba(83, 83, 83, 1);
      opacity: 1;
    }
    .intro-list {
      display: flex;
      width: 100%;
      margin-top: 20px;
      .item {
        flex: 1;
        text-align: center;
        .number {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: rgba(56, 136, 231, 1);
          opacity: 1;
        }
        .category {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          color: rgba(83, 83, 83, 1);
          opacity: 1;
          margin-top: 4px;
        }
      }
    }
  }
  .feature {
    display: flex;
    align-items: center;
    background: white;
    padding: 11px 0;
    margin: 10px 0;
    .left-icon {
      width: 17px;
      height: 17px;
      margin-left: 16px;
      margin-right: 10px;
    }
    .feature-name {
      flex: 1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(91, 91, 91, 1);
      opacity: 1;
    }
    .right-icon {
      width: 9px;
      height: 16px;
      margin-right: 16px;
    }
  }
  .footer-content {
    position: fixed;
    bottom: 70px;
    width: 100%;
    text-align: center;
    .description {
      color: #575555;
      font-size: 14px;
      opacity: 0.49;
    }
  }
}
</style>
