<template>
  <div class="card">
    <div class="top-content">
      <img class="avatar" :src="patient.dicSexKey === '10001' ? '/static/icons/male-avatar.png' : '/static/icons/female-avatar.png'" alt />
      <div class="name">
        <span class="name-content">{{patient.name}}</span>

        <div class="patient-status" :style="{'background-color': color}" v-if="patient.grade">{{patient.grade}}级</div>
        <div class="patient-status" :style="{'background-color': '#888'}" v-else>暂无</div>
        <img
          class="star"
          :src="patient.isfocus - '0' ? '/static/icons/star-full.png' : '/static/icons/star-empty.png'"
          @click="changeCareFlag"
          alt
        />
      </div>
      <div>
        <img class="navigator" src="/static/icons/navigator.png" alt />
        <div class="address" @click="navigateToMap">{{patient.address}}</div>
      </div>
      <div>
        <img class="time-icon" src="/static/icons/time.png" alt />
        <div class="time">下次随访时间：{{formattedDate}}</div>
      </div>
      <!-- <div class="last-record">{{patient.lastRecord}}</div> -->
      <div class="more" @click.stop="moreClick">
        <slot name="more"></slot>
      </div>
    </div>
    <div class="footer-content" v-if="showMethod || false">
      <div class="footer-item" @click="navigateToPhoneDiagnosis">
        <img src="/static/icons/phone-aid.png" alt class="icon" />
        电话问诊
        <div
          style="width: 1px; height: 19px; position: absolute; right: 0px; top: 6px; background: #3888E7; opacity: 0.47;"
        ></div>
      </div>
      <div class="footer-item" @click="navigateToFaceToFaceDiagnosis">
        <img src="/static/icons/face-to-face-aid.png" alt class="icon" />
        上门就诊
      </div>
    </div>
    <van-transition :show="showAlert">
      <cover-view class="alert" v-if="patient.isfocus == '1'">
        <cover-image class="star-icon" src="/static/icons/star-full.png" alt />
        <cover-view>成功关注此患者！</cover-view>
      </cover-view>
      <cover-view  class="alert" v-else>
        <cover-image class="star-icon" src="/static/icons/star-empty-blue.png" alt />
        <cover-view>成功取消关注此患者！</cover-view>
      </cover-view>
    </van-transition>
    <img :class="['phone', showMethod ? 'showMethod': '']" src="/static/icons/phone.png" alt @click.stop="callPerson(patient.contactPhone)" />
    <div
      @click="clicked"
      style="position: absolute;top: 0px;width: 293px;height: 68px; z-index: 1;"
    ></div>
    <van-dialog id="van-dialog" />
    </div>
</template>

<script>
import Dialog from "@/../static/vant/dialog/dialog.js";
import dayjs from "dayjs";
import { decode } from '@/utils/crypto'
export default {
  props: ["patient", "index", "showMethod"],
  data() {
    return {
      statusMap: {
        "0,1": "#20D381",
        "2,3": "#FC984C",
        "4,5": "#FF4B4C"
      },
      color: "",
      time: new dayjs(),
      showAlert: false
    };
  },
  methods: {
    moreClick() {
      // this.$parent.moreClick();
      this.$emit("more-click");
    },
    changeCareFlag() {
      this.$api.saveOrUpdatePatientInfo({
        id: this.patient.id,
        isfocus: this.patient.isfocus === '0' ? '1' : '0'
      }).then(res => {
        this.patient.isfocus = this.patient.isfocus === '0' ? '1' : '0';
        this.showAlert = true;
        setTimeout(() => {
          this.showAlert = false;
        }, 1500);
      })
    },
    navigateToMap() {
      Dialog.confirm({
        message: `是否确认导航至${this.patient.address}？`
      })
      .then(() => {
      const { lon, lat, address } = this.patient;
      if(lon && lat && address) {
        wx.openLocation({
          latitude: lat,
          longitude: lon,
          name: address,
          scale: 15
        });
      } else {
        mpvue.showToast({
          title: '暂无该用户地理位置数据',
          icon: 'none'
        });
      }
        
      })
      .catch(() => {
        // on cancel
      });
    },
    clicked() {
      this.$emit("click");
    },
    changeColor(patient) {
      for (let prop in this.statusMap) {
        if (prop.indexOf(patient.grade) > -1) {
          this.color = this.statusMap[prop];
        }
      }
    },
    callPerson(phoneNumber) {
      if(phoneNumber) {
        // phoneNumber = decode(phoneNumber);
        mpvue.makePhoneCall({
          phoneNumber
        })
      } else if(this.patient.guarderPhoto) {
        // phoneNumber = decode(this.patient.guarderPhoto);
        phoneNumber = this.patient.guarderPhoto;
        let that = this;
        wx.showModal({
          title: '提示',
          content: '即将拨打监护人的电话，确认继续？',
          success (res) {
            if (res.confirm) {
              mpvue.makePhoneCall({
                phoneNumber: phoneNumber
              })
            } else if (res.cancel) {
              console.log('用户点击取消')
            }
          }
        });
      } else {
        mpvue.showToast({
          title: '暂无用户电话信息，无法呼出',
          icon: 'none'
        })
      }
    },

    navigateToPhoneDiagnosis() {
      mpvue.navigateTo({
        url: "/pages/diagnosis/face-to-face/create/main?type=phone&patientId=" + this.patient.id
      });
    },
    navigateToFaceToFaceDiagnosis() {
      mpvue.navigateTo({
        url: "/pages/diagnosis/face-to-face/create/main?type=face&patientId=" + this.patient.id
      });
    }
  },
  computed: {
    formattedDate() {
      if(this.patient.nextVisitTime) {
        return dayjs(this.patient.nextVisitTime).format("YYYY-MM-DD");
      } else {
        return new dayjs().format("YYYY-MM-DD");
      }
    }
  },
  watch: {
    patient(newValue, oldValue) {
      this.changeColor(newValue);
    }
  },
  created() {
    this.changeColor(this.patient);
  }
};
</script>

<style lang="scss" scoped>
.card {
  width: 344px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgb(224, 238, 255);
  margin: 10px;
  background: white;
  position: relative;
  .phone {
    width: 27px;
    height: 27px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    z-index: 10;
    &.showMethod {
      top: calc(50% - 14px);
    }
  }
  .top-content {
    position: relative;
    height: 80px;
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 8px;
    }
    .name {
      position: absolute;
      left: 56px;
      top: 6px;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      display: flex;
      align-items: center;
      .name-content {
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .patient-status {
        border-radius: 2px;
        font-size: 10px;
        margin-left: 10px;
        padding: 0 5px;
        color: white;
      }
      .star {
        width: 12px;
        height: 12px;
        margin-left: 12px;
        z-index: 10;
        display: block;
      }
    }
    .navigator {
      width: 11px;
      height: 11px;
      position: absolute;
      left: 56px;
      top: 34px;
    }
    .address {
      width: 177px;
      height: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      position: absolute;
      left: 70px;
      top: 30px;
      z-index: 10;
    }
    .time-icon {
      width: 11px;
      height: 11px;
      position: absolute;
      left: 56px;
      top: 55px;
    }
    .time {
      position: absolute;
      left: 70px;
      top: 52px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .last-record {
      width: 309px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(91, 91, 91, 1);
      opacity: 1;
      position: absolute;
      left: 10px;
      top: 54px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .more {
      font-size: 12px;
      color: rgba(149, 149, 149, 1);
      position: absolute;
      right: 8px;
      top: 5px;
      z-index: 10;
    }
  }
  .footer-content {
    display: flex;
    .footer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 172px;
      height: 32px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(56, 136, 231, 1);
      opacity: 1;
      position: relative;
      .icon {
        width: 16px;
        height: 17px;
        margin-right: 6px;
      }
    }
  }

  .alert {
    position: fixed;
    top: 60px;
    left: 114px;
    min-width: 150px;
    height: 31px;
    line-height: 31px;
    background: rgba(207, 229, 255, 1);
    opacity: 1;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(56, 136, 231, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 10px;
    .star-icon {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}
</style>
