<template>
  <van-popup :show="show" :custom-style="'border-radius: 8px;' + customStyle">
    <div class="custom-modal">
      <div class="header">{{title}}</div>
      <div class="content">
        <slot name="content" />
      </div>
      <div class="footer">
        <div class="cancel" @click="cancel">取消</div>
        <div class="confirm" @click="confirm">确认</div>
      </div>
    </div>
  </van-popup>
</template>

<script>
export default {
  props: ["show", "title", "customStyle"],
  data() {
    return {};
  },
  methods: {
    changeModalVisible(flag) {
      this.$parent.changeModalVisible(false);
    },
    cancel() {
      this.$emit("cancel");
    },
    confirm() {
      this.$emit('confirm');
    }
  },
  watch: {},
  created() {}
};
</script>

<style lang="scss" scoped>
.custom-modal {
  box-shadow: 0px 3px 6px rgb(224, 238, 255);
  .header {
    color: white;
    background: #3888e7;
    text-align: center;
    padding: 10px;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
  }
  .footer {
    display: flex;
    .cancel {
      flex: 1;
      background: rgba(223, 223, 223, 0.6);
      opacity: 1;
      font-weight: 400;
      line-height: 16px;
      color: rgba(91, 91, 91, 1);
      opacity: 1;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .confirm {
      flex: 1;
      width: 105px;
      background: rgba(56, 136, 231, 1);
      opacity: 1;
      font-weight: 400;
      line-height: 16px;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
}
</style>
