<template>
  <div class="receiver-select-modal">
    <custom-modal
      :show="show"
      title="选择行政区划"
      @cancel="cancelModal"
      @confirm="confirmPick"
      :customStyle="'width: 70%;'"
    >
      <div slot="content">
        <div class="content" style="max-height: 50vh; overflow:scroll;">
          <van-checkbox-group @change="onItemChange" :value="result">
            <div class="group-item" v-for="(item, index) in group" :key="item.id">
              <div class="group-name" @click="item.isOpened = !item.isOpened">
                <img
                  class="group-sign collapse"
                  src="/static/icons/group-sign.png"
                  alt
                  :style="{transform: item.isOpened ? 'rotate(0deg)':'rotate(-90deg)'}"
                />
                {{item.text}}
              </div>
              <div class="group-children" v-if="item.isOpened">
                <div class="group-name" style="margin-left: 10px;"  v-for="(childItem, sidx) in item.children" :key="sidx"  @click.stop="changeStreetOpen(sidx)">
                  <img
                    class="group-sign collapse"
                    src="/static/icons/group-sign.png"
                    alt
                    :style="{transform: childItem.isOpened ? 'rotate(0deg)':'rotate(-90deg)'}"
                  />
                  {{childItem.text}}
                  <div class="group-children" v-if="childItem.isOpened">
                    <van-checkbox
                      @click.stop
                      v-for="(grandChildItem, cidx) in childItem.children"
                      :key="cidx"
                      :name="grandChildItem.id + ',' + grandChildItem.text"
                      :custom-class="'children-item'"
                    >{{grandChildItem.text}}</van-checkbox>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div v-for="(menuItem,index) in menus" :key="index">
              <tree-menu :model="menuItem"></tree-menu>
            </div> -->
          </van-checkbox-group>
        </div>
      </div>
    </custom-modal>
  </div>
</template>

<script>
import CustomModal from './custom-modal';
import TreeMenu from './tree-menu';
import menus from '@/utils/groupTree';
export default {
  props: ["show", "customStyle", "limitNumber"],
  data() {
    return {
      group: [],
      doctorList: [],
      result: []
    };
  },
  components: {
    "custom-modal": CustomModal,
    'tree-menu': TreeMenu
  },
  methods: {
    cancelModal() {
      this.$emit('cancel');
    },
    recursion(item) {
      if(item.children && item.children.length) {
        item.isOpened = false;
        return recursion(item.children)
      } else {
        item.checked = false;
        return item;
      }
    },
    fetchDoctors(groupId) {
      return new Promise(resolve => {
        this.$api.findPersonsByGroupId({
          groupId
        }).then(res => {
          const { list = [] } = res;
          resolve(list);
        })
      })
      
    },
    changeStreetOpen(sidx) {
      this.group[0].children[sidx].isOpened = !this.group[0].children[sidx].isOpened;
    },
    // changeVillageOpen(sidx, cidx, groupId) {
    //   this.group[0].children[sidx].children[cidx].isOpened = !this.group[0].children[sidx].children[cidx].isOpened;
    //   if(this.group[0].children[sidx].children[cidx].isOpened) {
    //     this.fetchDoctors(groupId).then(list => {
    //       this.group[0].children[sidx].children[cidx].doctorList = list;
    //     });
    //   }
    // },
    onItemChange(e) {
      this.result = e.mp.detail.slice(e.mp.detail.length - 1);
    },
    confirmPick() {
      this.$emit('confirm', this.result);
      this.$emit('cancel');
    },
    refresh() {
      const personId = mpvue.getStorageSync('personId');
      this.$api.loadGroupTree({
        personId: 0
      }).then(res => {
        res[0].isOpened = false;
        for(let i = 0;i < res[0].children.length; i++) {
          res[0].children[i].isOpened = false;
          for(let j = 0;j < res[0].children[i].children.length; j++) {
            res[0].children[i].children[j].isOpened = false;
            // res[0].children[i].children[j].doctorList = [];
          }
        }
        this.group = res;
      })
    }
  },
  watch: {
    show(newValue) {
      console.log(newValue);
    }
  },
  created() {
    console.log(this.show)
  },
  mounted() {
    console.log('mounted');
    const personId = mpvue.getStorageSync('personId');
    this.$api.loadGroupTree({
      personId: 0
    }).then(res => {
      res[0].isOpened = false;
      for(let i = 0;i < res[0].children.length; i++) {
        res[0].children[i].isOpened = false;
        for(let j = 0;j < res[0].children[i].children.length; j++) {
          res[0].children[i].children[j].isOpened = false;
          // res[0].children[i].children[j].doctorList = [];
        }
      }
      this.group = res;
    })
  },
  onUnload() {
    this.group = [];
    this.doctorList = [];
    this.result = [];
  }
};
</script>

<style lang="scss" scoped>
.receiver-select-modal {
  box-shadow: 0px 3px 6px rgb(224, 238, 255);
  .header {
    color: white;
    background: #3888e7;
    text-align: center;
    padding: 10px;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
  }
  .footer {
    display: flex;
    .cancel {
      flex: 1;
      background: rgba(223, 223, 223, 0.6);
      opacity: 1;
      font-weight: 400;
      line-height: 16px;
      color: rgba(91, 91, 91, 1);
      opacity: 1;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    .confirm {
      flex: 1;
      width: 105px;
      background: rgba(56, 136, 231, 1);
      opacity: 1;
      font-weight: 400;
      line-height: 16px;
      color: rgba(255, 255, 255, 1);
      opacity: 1;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }
  .group-item {
    .group-name {
      position: relative;
      margin: 10px 0;
      .group-sign {
        width: 13px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: -17px;
      }
    }
    .group-children {
      .children-item {
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }
}
</style>
