<template>
  <div class="group-item">
    <div class="group-name" @click="this.open = !this.open">
      <img
        class="group-sign collapse"
        src="/static/icons/group-sign.png"
        alt
        :style="{transform: this.open ? 'rotate(0deg)':'rotate(-90deg)'}"
      />
      {{model.text}}
    </div>
    <div class="group-children" v-show="this.open" v-if="hasChild">
      <!-- <div class="children-item"></div> -->
      <!-- <van-checkbox
        @change="onChange"
        v-for="(person, idx) in item.children"
        :key="person.id"
        :name="person.id"
        :custom-class="'children-item'"
      >{{person.name}}</van-checkbox> -->
      <tree-menu v-for="(item,index) in model.children" :model="item" :key="index"></tree-menu>
    </div>
  </div>
</template>

<script>
export default {
  name: "treeMenu",
  props: ['model'],
  data(){
    return {
      open: false
    }
  },
  computed:{
    hasChild(){
      return this.model.children && this.model.children.length
    }
  },
  methods:{
    
  },
  mounted() {
    console.log(this.model);
  }
}
</script>

<style lang="scss" scoped>
.group-item {
  .group-name {
    position: relative;
    margin: 10px 0;
    .group-sign {
      width: 13px;
      height: 7px;
      position: absolute;
      top: 10px;
      left: -17px;
    }
  }
  .group-children {
    .children-item {
      margin-left: 15px;
      margin-top: 10px;
    }
  }
}
</style>