<template>
  <div class="phone-call-record">
    <div style="align-self: center;">
      <patient-card :patient="culprit" @more-click="moreClick">
        <div slot="more">
          <div>查看详情</div>
        </div>
      </patient-card>
    </div>
    <div class="title">基本信息</div>
    <van-cell title="随访对象" :value="formattedVisitObject" />
    <div class="record-block">
      <div class="label">危险系数</div>
      <div class="value">
        <div class="level-block" :style="{'background-color': color}">{{visit.grade}}级</div>
      </div>
    </div>
    <van-cell title="共同随访人员" :value="visit.followPerson" />
    <div class="medicine-div" v-if="visit.type !== '1'">
      <div class="title">用药情况</div>
      <div class="medicine-item" v-for="(item, idx) in drugList" :key="idx">
          <div class="text">{{item.drugsName}} {{item.takeTime}} {{item.specifications}}</div>
      </div>
    </div>
    
    <div class="title">随访信息</div>
    <van-cell title="随访分类" :value="formattedLastVisitType" />
    <van-cell title="下次随访时间" :value="formattedNextVisitTime" />
    <van-cell title="下次随访方式" :value="visit.nextType === '0' ? '面访' : '电话面诊'" />
    <!-- <div class="title">电话问诊记录</div>
    <div class="record-block">
      <div class="label">{{formattedTime}}</div>
      <div class="value" style="text-align: left; flex: 2; align-items: center; display: flex;">
        电话问诊
        <img class="voice" src="/static/icons/voice.png" alt />
      </div>
    </div> -->
    <div class="title">本次问诊结论</div>
    <textarea name id rows="5" class="textarea-content" disabled :value="visit.result"></textarea>
    <div class="title">备注</div>
    <textarea name id rows="5" class="textarea-content" disabled :value="visit.note"></textarea>
    <div class="title">附件</div>
    <div class="attachment-list">
      <div class="attachment-item" v-for="(item,idx) in attachmentList" :key="idx">
        <img alt class="attachment-img" :src="item.path" @click="previeImage(idx)"/>
      </div>
    </div>
    <div class="title">签到定位</div>
    <div
      class="title"
      style="margin-top: 0px; color: #2b2b2b; font-size: 12px;"
    ><span @click="navigateToMap">{{visit.visitAddress}}</span> {{formattedCreated}}</div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import card from "@/components/card";
import { lastVisitTypeMap } from '@/utils';
import { visitPersonTypeMap } from '@/utils';
import { DOWNLOAD_FILE_URL, REQUEST_URL } from '@/utils/config';
export default {
  data() {
    return {
      visit: {},
      statusMap: {
        "0,1": "#20D381",
        "2,3": "#FC984C",
        "4,5": "#FF4B4C"
      },
      color: "",
      time: new dayjs(),
      culprit: {},
      drugList: [],
      attachmentList: []
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    previeImage(index) {
      const imageUrls = [];
      for(let item of this.attachmentList) {
        imageUrls.push(item.path);
      }
      wx.previewImage({
        current: imageUrls[index], // 当前显示图片的http链接
        urls: imageUrls // 需要预览的图片http链接列表
      })
    },
    navigateToMap() {
      const { lon, lat } = this.visit;
      mpvue.navigateTo({
        url: `/pages/diagnosis/face-to-face/map/main?lon=${lon}&lat=${lat}`
      });
    },
    moreClick() {
      mpvue.navigateTo({
        url: "/pages/my-patient/detail/main?patientId=" + this.culprit.id
      });
    },
  },
  watch: {
    visit(newValue) {
      for (let prop in this.statusMap) {
        if (prop.indexOf(newValue.grade) > -1) {
          this.color = this.statusMap[prop];
        }
      }
    }
  },
  computed: {
    formattedTime() {
      return this.time.format("YYYY-MM-DD");
    },
    formattedLastVisitType() {
      return lastVisitTypeMap().get(this.visit.lastVisitType);
    },
    formattedFilePath(path, name) {
      return function(path, name) {
        console.log(path ,name);
        if(path && name) {
          return `${DOWNLOAD_FILE_URL}/${path}/${name}`;
        }
        return '';
      }
    },
    formattedNextVisitTime() {
      return dayjs(this.visit.nextVisitTime).format('YYYY-MM-DD')
    },
    formattedVisitObject() {
      const visitObjectMap = visitPersonTypeMap();
      return visitObjectMap.get(this.visit.visitPersonType);
    },
    formattedCreated() {
      return dayjs(this.visit.created).format('YYYY-MM-DD HH:mm');
    }
  },
  mounted() {
    const query = this.$root.$mp.query || {};
    const { id } = query;
    mpvue.showLoading({title: '请稍候'});
    this.$api.getVisitDetail({
      id
    }).then(res => {
      if(res.visit) {
        this.visit = res.visit;
        if(this.visit.type == '1') {
          mpvue.setNavigationBarTitle({
            title: "电话问诊记录"
          });
        }
        this.$api.getPatientDetail({
          id: res.visit.culpritId
        }).then(res => {
          mpvue.hideLoading();
          this.culprit = res.culprit;
        });
      }
    })
    this.$api.getVisitDrugList({
      visitId: id,
      page: 1,
      pageSize: 10000
    }).then(res => {
      const { pager } = res;
      if(pager) {
        this.drugList = pager.list;
      }
    });
    this.$api.getVisitFileList({
      recordId: id
    }).then(res => {
      for(let item of res.fileList) {
        item.path = `${DOWNLOAD_FILE_URL}/${item.path}/${item.name}`
      }
      this.attachmentList = res.fileList
    });
  },
  created() {
    
  }
};
</script>

<style lang="scss" scoped>
.phone-call-record {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
   margin: 20px 0 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
  }
  .level-block {
    width: 40px;
    height: 20px;
    opacity: 1;
    border-radius: 5px;
    color: white;
    text-align: center;
    float: right;
  }
  .record-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 10PX 15PX;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    .time {
      margin-right: 10px;
    }
    .content {
      flex: 1;
    }
    .right-arrow {
      width: 8px;
      height: 11px;
      margin-right: 10px;
    }
    &:after {
      content: " ";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      -webkit-transform-origin: center;
      transform-origin: center;
      top: auto;
      left: 15px;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      border-bottom: 1PX solid #eee;
    }
    .label,
    .value {
      -webkit-flex: 1;
      flex: 1;
    }
    .value {
      overflow: hidden;
      color: #999;
      text-align: right;
      vertical-align: middle;
    }
  }
  .voice {
    width: 91px;
    height: 20px;
    margin-left: 10px;
  }
  .textarea-content {
    width: 100%;
    background: white;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  .attachment-list {
    padding: 0 20px;
    .attachment-item {
      position: relative;
      display: inline-block;
      .delete-icon {
        width: 11px;
        height: 11px;
        position: absolute;
        top: 0;
        right: 3px;
      }
      .attachment-img {
        width: 56px;
        height: 56px;
        background: gray;
        margin: 5px 10px;
        box-sizing: border-box;
      }
    }
  }
  .medicine-item {
    background: white;
    display: flex;
    align-items: center;
    padding: 15PX;
    font-size: 14px;
  }
}
</style>