<template>
  <div class="create-patient">
    <div class="title is-required">
      基本信息
    </div>
    <van-field
      label="患者姓名："
      placeholder="请输入患者姓名"
      :border="true"
      :value="form.name"
      :error-message="errors.name"
      title-width="100px"
      @input="form.name = $event.mp.detail"
    />
    <div class="record-block">
      <div class="label">性别：</div>
      <div class="value">
        <van-radio-group :value="form.dicSexKey" @change="e => onRadioItemClick(e, 'dicSexKey')">
          <van-radio name="10001" custom-class="custom-radio">男</van-radio>
          <van-radio name="10002" custom-class="custom-radio">女</van-radio>
        </van-radio-group>
        <div class="error-message" v-if="errors.dicSexKey">
          {{errors.dicSexKey}}
        </div>
      </div>
    </div>
    <van-field
      readonly
      label="危险等级："
      :value="form.grade"
      placeholder="请选择危险等级"
      title-width="100px"
      :error-message="errors.grade"
      @click="dangerLevelPickerVisible = true"
      input-class="arrow-down-class"
    />
    <van-popup :show="dangerLevelPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择危险等级"
        :columns="gradeLevels"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'grade', 'dangerLevelPickerVisible')"
        @cancel="dangerLevelPickerVisible = false"
      />
    </van-popup>
    <div class="record-block">
      <div class="label">是否领取残疾人证：</div>
      <div class="value">
        <van-radio-group
          :value="form.isDisable"
          @change="e => onRadioItemClick(e, 'isDisable')"
        >
          <van-radio name="0" custom-class="custom-radio">是</van-radio>
          <van-radio name="1" custom-class="custom-radio">否</van-radio>
        </van-radio-group>
        <div class="error-message" v-if="errors.isDisable">
          {{errors.isDisable}}
        </div>
      </div>
    </div>
    <van-field
      label="残疾鉴定号："
      placeholder="请输入残疾鉴定号"
      v-if="form.isDisable === '0'"
      :border="true"
      :value="form.disableCard"
      :error-message="errors.disableCard"
      title-width="100px"
      @input="form.disableCard = $event.mp.detail"
    />
    <div class="record-block">
      <div class="label">是否领取低保证：</div>
      <div class="value">
        <van-radio-group
          :value="form.isAllowance"
          @change="e => onRadioItemClick(e, 'isAllowance')"
        >
          <van-radio name="0" custom-class="custom-radio">是</van-radio>
          <van-radio name="1" custom-class="custom-radio">否</van-radio>
        </van-radio-group>
        <div class="error-message" v-if="errors.isAllowance">
          {{errors.isAllowance}}
        </div>
      </div>
    </div>
    <van-field
      label="低保证号："
      v-if="form.isAllowance === '0'"
      placeholder="请输入低保证号"
      :border="true"
      :value="form.allowanceCard"
      :error-message="errors.allowanceCard"
      title-width="100px"
      @input="form.allowanceCard = $event.mp.detail"
    />
    <van-field
      readonly
      label="状态："
      :value="form.dicStatusKey"
      placeholder="请选择状态"
      @click="statusPickerVisible = true"
      :error-message="errors.dicStatusKey"
      title-width="100px"
      input-class="arrow-down-class"
    />
    <van-popup :show="statusPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择状态"
        :columns="statusList"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'dicStatusKey', 'statusPickerVisible')"
        @cancel="statusPickerVisible = false"
      />
    </van-popup>
    <van-field
      label="目前诊断："
      placeholder="请输入目前诊断"
      :border="true"
      :value="form.diacrisis"
      :error-message="errors.diacrisis"
      title-width="100px"
      @input="form.diacrisis = $event.mp.detail"
    />
    <van-field
      readonly
      label="管理所在行政区："
      :value="formattedRegion"
      placeholder="请选择行政区"
      @click="showStaffModal = true"
      :error-message="errors.region"
      title-width="100px"
      input-class="arrow-down-class"
    />
     <van-field
      readonly
      label="责任医生："
      :value="form.doctor"
      placeholder="请选择责任医生"
      @click="doctorPickerVisible = true"
      :error-message="errors.doctor"
      title-width="100px"
      input-class="arrow-down-class"
    />
    <van-popup :show="doctorPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择责任医生"
        :columns="doctorList"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'doctor', 'doctorPickerVisible')"
        @cancel="doctorPickerVisible = false"
      />
    </van-popup>
    <!-- <van-popup :show="regionPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择行政区"
        :columns="['暂无数据']"
        @confirm="e => confirmPicker(e, 'region', 'regionPickerVisible')"
        @cancel="regionPickerVisible = false"
      />
    </van-popup> -->
    <van-field label="身份证号码：" 
      placeholder="请在此填写身份证号码" 
      :border="true" 
      :value="form.identification"  
      title-width="100px"
      :error-message="errors.identification"
      @input="form.identification = $event.mp.detail" 
    />
    <van-field label="联系电话：" 
      placeholder="请在此填写联系电话" 
      :border="true" 
      :value="form.contactPhone"  
      :error-message="errors.contactPhone"
      title-width="100px"
      @input="form.contactPhone = $event.mp.detail" 
    />
    <van-field label="居民住处：" 
      placeholder="请在此填写居民住处" 
      :border="true" 
      :value="form.address"  
      :error-message="errors.address"
      title-width="100px"
      @input="form.address = $event.mp.detail" 
    />
    <div class="title is-required">
      监护人信息
    </div>
    <van-field
      label="监护人姓名："
      placeholder="请输入监护人姓名"
      :border="true"
      :value="form.guarderName"
      :error-message="errors.guarderName"
      title-width="100px"
      @input="form.guarderName = $event.mp.detail" 
    />
    <van-field
      label="监护人与患者关系："
      placeholder="请输入监护人与患者关系"
      :border="true"
      :value="form.guarderRelation"
      :error-message="errors.guarderRelation"
      title-width="100px"
      @input="form.guarderRelation = $event.mp.detail" 
    />
    <van-field
      label="监护人联系方式："
      placeholder="请输入监护人联系方式"
      :border="true"
      :value="form.guarderPhoto"
      :error-message="errors.guarderPhoto"
      title-width="100px"
      @input="form.guarderPhoto = $event.mp.detail" 
    />
    <div class="title is-required">
      随访信息
    </div>
    <van-field
      readonly
      label="上次随访分类："
      :value="form.prevVisitType"
      placeholder="请选择上次随访分类"
      title-width="100px"
      :error-message="errors.prevVisitType"
      @click="prevVisitTypePickerVisible = true"
      input-class="arrow-down-class"
    />
    <van-popup :show="prevVisitTypePickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择上次随访分类"
        :columns="lastVisitTypeList"
        :value-key="'value'"
        @confirm="e => confirmOtherPick(e, 'prevVisitType', 'prevVisitTypePickerVisible')"
        @cancel="prevVisitTypePickerVisible = false"
      />
    </van-popup>
    <van-field readonly 
      :value="formattedLastVisitTime" 
      label="上次随访时间：" 
      placeholder="请选择上次随访时间"
      @click="lastVisitTimePickerVisible = true" 
      title-width="100px"
      input-class="arrow-down-class"
    />
    <van-popup :show="lastVisitTimePickerVisible" position="bottom">
      <van-datetime-picker
        type="date"
        :value="lastVisitTimeTimeStamp"
        @confirm.prevent="e => confirmDatePick(e, 'lastVisitTime', 'lastVisitTimePickerVisible')"
        @cancel="lastVisitTimePickerVisible = false"
      />
    </van-popup>
    <van-field 
      readonly 
      :value="form.nextVisitTime" 
      label="下次随访时间：" 
      placeholder="请先选择上次随访分类" 
      title-width="100px"
    />
    <van-field
      readonly
      label="下次随访方式："
      :value="form.nextVisitType"
      placeholder="请选择下次随访方式"
      :error-message="errors.nextVisitType"
      @click="nextVisitTypePickerVisible = true"
      title-width="100px"
      input-class="arrow-down-class"
    />
    <van-popup :show="nextVisitTypePickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择下次随访方式"
        :columns="['面访','电话问诊']"
        @confirm="e => confirmPicker(e, 'nextVisitType', 'nextVisitTypePickerVisible')"
        @cancel="nextVisitTypePickerVisible = false"
      />
    </van-popup>
    <!-- <div class="title is-required">
      设备信息
    </div>
    <van-field
      readonly
      label="设备类型："
      :value="form.deviceType"
      placeholder="请选择设备类型"
      @click="deviceTypePickerVisible = true"
      input-class="arrow-down-class"
    />
    <van-popup :show="deviceTypePickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择设备类型"
        :columns="['手环','工牌']"
        @confirm="e => confirmPicker(e, 'deviceType', 'deviceTypePickerVisible')"
        @cancel="deviceTypePickerVisible = false"
      />
    </van-popup>
    <van-field
      readonly
      label="设备ID："
      :value="form.deviceId"
      placeholder="请选择设备ID"
      @click="deviceIdPickerVisible = true"
      input-class="arrow-down-class"
    />
    <van-popup :show="deviceIdPickerVisible" position="bottom">
      <van-picker
        show-toolbar
        title="请选择设备ID"
        :columns="['123','1234']"
        @confirm="e => confirmPicker(e, 'deviceId', 'deviceIdPickerVisible')"
        @cancel="deviceIdPickerVisible = false"
      />
    </van-popup>
    <van-field label="设备状态：" :border="true" :value="form.deviceStatus" @change="onChange" /> -->
    <region-select-modal
      :show="showStaffModal"
      @cancel="showStaffModal = false"
      @confirm="pickReceiver"
      ref="regionselectmodal"
    >
    </region-select-modal>
    <div class="footer">
      <van-button type="info" custom-class="submit-btn" @click="submitForm">提交</van-button>
    </div>
  </div>
</template>

<script>
import card from "@/components/card";
import RegionSelectModal from "@/components/region-select-modal";
import { getPageQuery, visitPersonTypeMap, lastVisitTypeMap, gradeMap, statusMap, debounce } from "@/utils";
import dayjs from "dayjs";
export default {
  data() {
    return {
      time: new dayjs(),
      form: {
        name: "",
        dicSexKey: "",
        dicSexKeyId: "",
        isDisable: "",
        disableCard: "",
        allowanceCard: "",
        isAllowance: "",
        dicStatusKey: "",
        dicStatusKeyId: "",
        diacrisis: "",
        region: "",
        address: "",
        deviceType: "",
        deviceId: "",
        deviceStatus: "",
        lastVisitTime: new dayjs(),
        nextVisitTime: "",
        prevVisitType: "",
        prevVisitTypeId: "",
        nextVisitType: "",
        grade: "",
        guarderName: "",
        guarderRelation: "",
        guarderPhoto: "",
        gradeId: "",
        doctor: "",
        doctorId: "",
        identification: "",
        contactPhone: ""
      },
      errors: {
        name: "",
        dicSexKey: "",
        isDisable: "",
        disableCard: "",
        allowanceCard: "",
        isAllowance: "",
        dicStatusKey: "",
        diacrisis: "",
        region: "",
        address: "",
        deviceType: "",
        deviceId: "",
        deviceStatus: "",
        lastVisitTime: "",
        nextVisitTime: "",
        prevVisitType: "",
        prevVisitTypeId: "",
        nextVisitType: "",
        grade: "",
        guarderName: "",
        guarderRelation: "",
        guarderPhoto: "",
        doctor: "",
        identification: "",
        contactPhone: ""
      },
      dangerLevelPickerVisible: false,
      statusPickerVisible: false,
      regionPickerVisible: false,
      deviceTypePickerVisible: false,
      deviceIdPickerVisible: false,
      lastVisitTimePickerVisible: false,
      nextVisitTimePickerVisible: false,
      prevVisitTypePickerVisible: false,
      nextVisitTypePickerVisible: false,
      doctorPickerVisible: false,
      groupAndDoctor: [],
      showStaffModal: false,
      gradeLevels: [],
      visitPersonType: [],
      lastVisitTypeList: [],
      statusList: [],
      doctorList: []
    };
  },

  components: {
    "patient-card": card,
    "region-select-modal": RegionSelectModal
  },

  methods: {
    confirmMoveOut() {},
    onRadioItemClick(e, property) {
      this.form[property] = e.mp.detail;
      this.$forceUpdate();
    },
    confirmPicker(e, property, visible) {
      this.form[property] = e.target.value;
      this[visible] = false;
    },
    confirmOtherPick(e, property, visible) {
      this.form[property] = e.target.value.value;
      this.form[property + 'Id'] = e.target.value.key;
      this[visible] = false;
      this.$forceUpdate();
    },
    confirmDatePick(e, property, pickerName) {
      this.form[property] = dayjs(e.mp.detail);
      this[pickerName] = false;
    },
    checkForm() {
      const {
        address,
        allowanceCard,
        diacrisis,
        dicSexKey,
        dicStatusKey,
        dicStatusKeyId,
        disableCard,
        gradeId,
        isAllowance,
        isDisable,
        name,
        nextVisitType,
        prevVisitType,
        prevVisitTypeId,
        identification,
        guarderName,
        guarderRelation,
        guarderPhoto,
        lastVisitTime,
        nextVisitTime,
        doctorId,
        doctor,
        contactPhone,
        grade
      } = this.form;
      if(!name) {
        this.errors.name = '患者姓名不能为空';
      } else {
        this.errors.name = '';
      }
      if(!dicSexKey) {
        this.errors.dicSexKey = '请选择性别';
      } else {
        this.errors.dicSexKey = '';
      }
      if(isAllowance === '0' && !allowanceCard) {
        this.errors.allowanceCard = '低保证号不能为空';
      } else if(!isAllowance) {
        this.errors.isAllowance = '必须选择是否领取低保证';
      } else {
        this.errors.allowanceCard = '';
        this.errors.isAllowance = '';
      }
      if(isDisable === '0' && !disableCard) {
        this.errors.disableCard = '残疾鉴定号不能为空';
      } else if(!isDisable) {
        this.errors.isDisable = '必须选择是否领取残疾人证';
      } else {
        this.errors.disableCard = '';
        this.errors.isDisable = '';
      }
      if(!grade) {
        this.errors.grade = '危险等级不能为空';
      } else {
        this.errors.grade = '';
      }
      if(!dicStatusKey) {
        this.errors.dicStatusKey = '状态不能为空';
      } else {
        this.errors.dicStatusKey = '';
      }
      if(!diacrisis) {
        this.errors.diacrisis = '目前诊断不能为空';
      } else {
        this.errors.diacrisis = '';
      }
      if(!this.groupAndDoctor.length) {
        this.errors.region = '必须选择行政区划';
      } else {
        this.errors.region = '';
      }
      if(!doctor) {
        this.errors.doctor = '必须选择医生';
      } else {
        this.errors.doctor = '';
      }
      if(!identification) {
        this.errors.identification = '身份证号码不能为空';
      } else {
        this.errors.identification = '';
      } 
      if(!contactPhone) {
        this.errors.contactPhone = '联系电话不能为空';
      } else {
        this.errors.contactPhone = '';
      }
      if(!address) {
        this.errors.address = '居民住处不能为空';
      } else {
        this.errors.address = '';
      }
      if(!guarderName) {
        this.errors.guarderName = '监护人姓名不能为空';
      } else {
        this.errors.guarderName = '';
      }
      if(!guarderRelation) {
        this.errors.guarderRelation = '监护人与患者关系不能为空';
      } else {
        this.errors.guarderRelation = '';
      }
      if(!guarderPhoto) {
        this.errors.guarderPhoto = '监护人联系方式不能为空';
      } else {
        this.errors.guarderPhoto = '';
      }
      if(!prevVisitType) {
        this.errors.prevVisitType = '上次随访方式不能为空';
      } else {
        this.errors.prevVisitType = '';
      }
      if(!nextVisitType) {
        this.errors.nextVisitType = '下次随访方式不能为空';
      } else {
        this.errors.nextVisitType = '';
      }
    },
    submitForm: debounce(function() {
      this.checkForm();
      for(let prop in this.errors) {
        if(this.errors[prop]) {
          this.$toast.error(this.errors[prop]);
          return;
        }
      }
      const {
        address,
        allowanceCard,
        diacrisis,
        dicSexKey,
        dicStatusKey,
        dicStatusKeyId,
        disableCard,
        gradeId,
        isAllowance,
        isDisable,
        name,
        nextVisitType,
        prevVisitType,
        prevVisitTypeId,
        identification,
        guarderName,
        guarderRelation,
        guarderPhoto,
        lastVisitTime,
        nextVisitTime,
        doctorId,
        contactPhone
      } = this.form;
      let params = {
        name,
        grade: gradeId,
        dicSexKey,
        isDisable,
        disableCard,
        isAllowance,
        allowanceCard,
        dicStatusKey: dicStatusKeyId,
        diacrisis,
        address,
        guarderName,
        guarderRelation,
        guarderPhoto,
        doctorId,
        visitType: prevVisitTypeId,
        nextType: nextVisitType === '面访' ? '0' : '1',
        identification,
        contactPhone,
        isfocus: '0'
      };
      params.lastVisitTimeStr = dayjs(lastVisitTime).format('YYYY-MM-DD');
      params.nextVisitTimeStr = dayjs(nextVisitTime).format('YYYY-MM-DD');
      const doc = this.groupAndDoctor[0];
      const docInfo = doc && doc.split(',');
      params.groupId = docInfo && docInfo[0];
      mpvue.showLoading({title: '请稍候'});
      for(let prop in params) {
        if(!params[prop]) delete params[prop]
      }
      const query = this.$root.$mp.query || {};
      if(query.patientId) {
        params.id = query.patientId;
      }
      this.$api.saveOrUpdatePatientInfo(params).then(res => {
        mpvue.hideLoading();
        if(res.status === 200) {
          mpvue.showToast({
            title: res.msg,
            icon: 'success'
          });
          setTimeout(() => {
            mpvue.navigateBack();
          }, 1000);
        }
      })
    }, 300),
    pickReceiver(list) {
      this.groupAndDoctor = list;
    },
    fetchDoctors(groupId) {
      return new Promise(resolve => {
        mpvue.showLoading({title: '请稍候'});
        this.$api.findPersonsByGroupId({
          groupId
        }).then(res => {
          mpvue.hideLoading();
          const { list = [] } = res;
          resolve(list);
        })
      })
    },
  },
  computed: {
    currentTime() {
      return this.time.format("YYYY-MM-DD");
    },
    formattedLastVisitTime() {
      return this.form.lastVisitTime.format('YYYY-MM-DD');
    },
    // formattedNextVisitTime() {
    //   return this.form.nextVisitTime.format('YYYY-MM-DD');
    // },
    lastVisitTimeTimeStamp() {
      return this.form.lastVisitTime.valueOf();
    },
    nextVisitTimeTimeStamp() {
      return this.form.nextVisitTime.valueOf();
    },
    formattedRegion() {
      if(this.groupAndDoctor[0]) {
        return this.groupAndDoctor[0].split(',')[1]
      } else {
        return ''
      }
      
    },
  },
  mounted() {
    const personId = mpvue.getStorageSync('personId') || '';
    
    // this.$api.loadGroupTree({
    //   personId
    // }).then(res => {
    //   console.log(res);
    // });

    // 路径中存在 patientId 时   自动获取该患者的有关信息
    const query = this.$root.$mp.query || {};
    if(query.patientId) {
      const { patientId } = query;
      mpvue.setNavigationBarTitle({
        title: "编辑患者资料"
      });
      const statusList = statusMap();
      let personId = mpvue.getStorageSync('personId');
      mpvue.showLoading({title: '请稍候'});
      this.$api.getPatientDetail({
        id: patientId
      }).then(res => {
        mpvue.hideLoading();
        const { culprit } = res;
        
        if(culprit) {
          for(let key in culprit) {
            if(key === 'lastVisitTime') {
              this.$set(this.form, key, dayjs(culprit[key]));
            } else {
              this.$set(this.form, key, culprit[key]);
            }
          }
          this.form.grade = gradeMap().get(culprit.grade);
          this.form.gradeId = culprit.grade;
          this.form.dicStatusKey = statusMap().get(culprit.dicStatusKey);
          this.form.dicStatusKeyId = culprit.dicStatusKey;
          this.form.prevVisitType = lastVisitTypeMap().get(culprit.visitType);
          this.form.prevVisitTypeId = culprit.visitType;
          this.form.nextVisitType = culprit.nextType == '0' ? '面访' : '电话问诊';
          this.groupAndDoctor = [culprit.groupId + ',' + culprit.groupName];
          setTimeout(() => {
            this.form.doctor = culprit.doctorName;
            this.form.doctorId = culprit.doctorId;
          }, 0);
        }
      },() => {
        mpvue.hideLoading();
      });
    }


    this.$refs.regionselectmodal.refresh();
  },
  watch: {
    groupAndDoctor(newValue) {
      this.doctorList = [];
      this.form.doctor = '';
      this.form.doctorId = '';
      if(newValue && newValue[0]) {
        const groupId = newValue[0].split(',')[0];
        this.fetchDoctors(groupId).then(list => {
          for(let doctor of list) {
            this.doctorList.push({key: doctor.id, value: doctor.name})
          }
        });
      }
    },
    "form.prevVisitType" (newValue) {
      let date = dayjs(this.form.lastVisitTime);
      if(newValue === '不稳定') {
        this.form.nextVisitTime = date.add(14, 'day').format('YYYY-MM-DD');
      } else if(newValue === '基本稳定') {
        this.form.nextVisitTime = date.add(30, 'day').format('YYYY-MM-DD');
      } else if(newValue === '稳定') {
        this.form.nextVisitTime = date.add(90, 'day').format('YYYY-MM-DD');
      }
    }
  },
  created() {
    const visitPerson = visitPersonTypeMap();
    const grades = gradeMap();
    const lastVisitType = lastVisitTypeMap();
    const status = statusMap();
    for (let [key, value] of visitPerson) {
      this.visitPersonType.push({key, value});
    }
    for (let [key, value] of grades) {
      this.gradeLevels.push({key, value});
    }
    for (let [key, value] of lastVisitType) {
      this.lastVisitTypeList.push({key, value});
    }
    for (let [key, value] of status) {
      this.statusList.push({key, value});
    }
  },
  onUnload() {
    this.form = {
      name: "",
      gender: "",
      isGetCertificate: "",
      disabledSerialNumber: "",
      lowIncomeSerialNumber: "",
      isGetLowIncomeCertificate: "",
      status: "",
      diacrisis: "",
      region: "",
      address: "",
      deviceType: "",
      deviceId: "",
      deviceStatus: "",
      lastVisitTime: new dayjs(),
      nextVisitTime: "",
      prevVisitType: "",
      nextVisitType: ""
    };
    this.errors = {
      name: "",
      dicSexKey: "",
      isDisable: "",
      disableCard: "",
      allowanceCard: "",
      isAllowance: "",
      dicStatusKey: "",
      diacrisis: "",
      region: "",
      address: "",
      deviceType: "",
      deviceId: "",
      deviceStatus: "",
      lastVisitTime: "",
      nextVisitTime: "",
      prevVisitType: "",
      prevVisitTypeId: "",
      nextVisitType: "",
      grade: "",
      guarderName: "",
      guarderRelation: "",
      guarderPhoto: "",
      doctor: "",
      identification: "",
      contactPhone: ""
    };
    this.groupAndDoctor = [];
  }
};
</script>

<style lang="scss">
.create-patient {
  padding: 10px 0;
   .content {
    font-size: 16px;
    padding: 10px 20px;
    .group-name {
      position: relative;
      margin: 10px 0;
      .group-sign {
        width: 13px;
        height: 7px;
        position: absolute;
        top: 10px;
        left: -17px;
      }
    }
    .group-children {
      .children-item {
        margin-left: 15px;
        margin-top: 10px;
      }
    }
  }
  .arrow-down-class {
    background: url(../../../../static/icons/arrow-down-thin.png) no-repeat scroll right center transparent;
    background-size: 11px 6px;
  }
  .title {
    margin: 20px 0 20px 15PX;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(69, 90, 100, 0.6);
    opacity: 1;
    position: relative;
    &.is-required:before {
      position: absolute;
      left: -6PX;
      top: -2px;
      font-size: 14px;
      color: #f44;
      content: "*";
    }
  }
  .footer {
    text-align: center;
    margin-top: 10px;
    .submit-btn {
      width: 80%;
    }
  }
  .record-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 10PX 15PX;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    .time {
      margin-right: 10px;
    }
    .content {
      flex: 1;
    }
    .right-arrow {
      width: 8px;
      height: 11px;
      margin-right: 10px;
    }
    &:after {
      content: " ";
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      -webkit-transform-origin: center;
      transform-origin: center;
      top: auto;
      left: 15px;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      border-bottom: 1PX solid #eee;
    }
    .label {
      max-width: 100PX;
      min-width: 100PX;
    }
    .value {
      overflow: hidden;
      color: #999;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
      padding-left: 10px;
      ._van-radio-group {
        display: flex;
        .custom-radio {
          margin-right: 20px;
        }
      }
      .error-message {
        color: #ee0a24;
        font-size: 12PX;
        text-align: left;
        margin-top: 5px;
      }
    }
  }
}
</style>