<template>
  <div class="recent-schedule">
    <van-tabs :active="active" :color="'#3888E7'" z-index="101" sticky @change="tabChange">
      <van-tab title="近期随访">
        <div class="recent-visit">
          <patient-card
            v-for="(item, index) in recentVisitPatientsList"
            :key="index"
            :patient="item"
            :index="index"
            @click="navigateToPatientDetail(item)"
            :showMethod="true"
            @more-click="navigateToPatientDetail(item)"
          >
            <div slot="more">查看详情</div>
          </patient-card>
          <!-- <div class="no-result" v-if="recentVisitPatientsList.length <= 0">
            <img src="/static/icons/empty.png" alt="" class="empty-icon">
            暂无结果
          </div> -->
        </div>
      </van-tab>
      <van-tab title="逾期随访">
        <div class="recent-visit">
          <patient-card
            v-for="(item, index) in overTimeVisitPatientsList"
            :key="index"
            :patient="item"
            :index="index"
            :showMethod="true"
            @click="navigateToPatientDetail(item)"
            @more-click="navigateToPatientDetail(item)"
          >
            <div slot="more">查看详情</div>
          </patient-card>
          <!-- <div class="no-result" v-if="overTimeVisitPatientsList.length <= 0">
            <img src="/static/icons/empty.png" alt="" class="empty-icon">
            暂无结果
          </div> -->
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import recent from "./recent";

import card from "@/components/card";

export default {
  data() {
    return {
      recentVisitPatientsList: [],
      overTimeVisitPatientsList: [],
      show: false,
      active: 0,
      page: 1,
      pageSize: 10
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    navigateToPatientDetail(item) {
      mpvue.navigateTo({
        url: `/pages/my-patient/detail/main?patientId=${item.id}`
      });
    },
    moreClick() {
      console.log("more-clicked");
    },
    tabChange(e) {
      const { index } = e.mp.detail;
      this.active = index;
      if(index === 0) {
        this.recentVisitPatientsList = [];
        this.getRecentVisitList(1, this.page * this.pageSize);
      } else {
        this.overTimeVisitPatientsList = [];
        this.getOvertimeVisitList(1, this.page * this.pageSize);
      }
    },
    getRecentVisitList(page = 1, pageSize = 10, loading = true) {
      const personId = wx.getStorageSync('personId');
      if(loading)mpvue.showLoading({title: '请稍候'});
      this.$api.getRecentVisitList({
        personId,
        page,
        pageSize
      }).then(res => {
        if(loading)mpvue.hideLoading();
        const { pager } = res;
        if(!pager || pager.list.length <= 0) {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
          return;
        }
        this.recentVisitPatientsList = this.recentVisitPatientsList.concat(pager.list);
      },() => {
        mpvue.hideLoading();
      });
    },
    getOvertimeVisitList(page = 1, pageSize = 10, loading = true) {
      const personId = wx.getStorageSync('personId');
      if(loading)mpvue.showLoading({title: '请稍候'});
      this.$api.getOvertimeVisitList({
        personId,
        page,
        pageSize
      }).then(res => {
        if(loading)mpvue.hideLoading();
        const { pager } = res;
        if(!pager || pager.list.length <= 0) {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          });
          return;
        }
        this.overTimeVisitPatientsList = this.overTimeVisitPatientsList.concat(pager.list);
      },() => {
        mpvue.hideLoading();
      });
    }
  },
  onPullDownRefresh() {
    console.log(this.active);
    if(this.active == 0) {
      this.recentVisitPatientsList = [];
      this.getRecentVisitList(1, this.page * this.pageSize);
    } else {
      this.overTimeVisitPatientsList = [];
      this.getOvertimeVisitList(1, this.page * this.pageSize);
    }
    mpvue.stopPullDownRefresh();
  },
  onReachBottom() {
    this.page++;
    if(this.active == 0) {
      this.getRecentVisitList(this.page);
    } else {
      this.getOvertimeVisitList(this.page);
    }
  },
  watch: {
    active(newValue) {
      this.page = 1;
      this.pageSize = 10;
    }
  },
  // mounted() {
  //   this.recentVisitPatientsList = [];
  //   this.getRecentVisitList();
  // },
  onShow() {
    if(this.recentVisitPatientsList.length || this.overTimeVisitPatientsList.length) {
      if(this.active === 0) {
        this.recentVisitPatientsList = [];
         this.getRecentVisitList(1, this.page * this.pageSize, false);
      } else {
        this.overTimeVisitPatientsList = [];
        this.getOvertimeVisitList(1, this.page * this.pageSize, false);
      }
    } else {
      this.getRecentVisitList(1, this.page * this.pageSize);
    }
  },
  onUnload() {
    this.recentVisitPatientsList = [];
    this.overTimeVisitPatientsList = [];
    this.active = 0;
    this.page = 1;
    this.pageSize = 10;
  }
};
</script>

<style lang="scss" scoped>
.recent-schedule {
  .recent-visit {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .no-result {
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    color: #707070;
    .empty-icon {
      display: block;
      width: 64px;
      height: 64px;
      margin: 20px auto;
    }
  }
}
</style>
