<template>
  <div class="today">
    
  </div>
</template>

<script>
import card from "@/components/card";

export default {
  data() {
    return {
      active: 0,
      patientsList: [],
      show: false
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    bindViewTap() {
      const url = "../logs/main";
      if (mpvuePlatform === "wx") {
        mpvue.switchTab({ url });
      } else {
        mpvue.navigateTo({ url });
      }
    },
    clickHandle(ev) {
      console.log("clickHandle:", ev);
      // throw {message: 'custom test'}
    },
    onChangeFlag(index) {
      this.patientsList[index].careFlag = !this.patientsList[index].careFlag;
      if (this.patientsList[index].careFlag) {
        this.show = true;
        setTimeout(() => (this.show = false), 800);
      }
    }
  },

  created() {
    for (let i = 0; i < 10; i++) {
      this.patientsList.push({
        name: "艾莱依",
        avatar: "https://pic.qqtn.com/up/2017-11/15114862092111097.jpg",
        address: "鹿城区新城街道数码城大厦1003-1004",
        lastRecord:
          "上次诊疗记录：定义进入过渡的结束状态。在元素被插入之后下一帧生效 (与此同时 enter-class 被移除)，在过渡/动画完成之后移除。",
        status: "中度",
        careFlag: 0
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.today {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;

  .alert {
    position: fixed;
    top: 100px;
    left: 114px;
    width: 132px;
    height: 31px;
    background: rgba(207, 229, 255, 1);
    opacity: 1;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(56, 136, 231, 1);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
</style>
