<template>
  <div class="tasks" @click="showFilter = false">
    <van-tabs :active="activeIndex" @change="onChange" :color="'#3888E7'" sticky>
      <van-tab title="交办给我">
        <div class="filter" @click.stop="showFilter = !showFilter">
          <img class="filter-icon" src="/static/icons/filter.png" alt />
          筛选
        </div>
        <div :class="['item-list', showFilter ? 'active' : '']">
          <div class="item" @click="changeTaskStatusSearch(0, '')">全部</div>
          <div
            class="item"
            style="border-top: 1px solid rgba(103,172,255, 0.22);border-bottom: 1px solid rgba(103,172,255, 0.22);"
            @click="changeTaskStatusSearch(0 ,'16002')"
          >已完成</div>
          <div class="item" @click="changeTaskStatusSearch(0, '16001')">未完成</div>
        </div>
        <div class="tasks-list">
          <task-item @click="toTaskDetail(item.id, idx)" v-for="(item, idx) in assignToMeList" :key="idx" :task="item" />
        </div>
        <!-- <div class="no-result" v-if="assignToMeList.length <= 0">
          <img src="/static/icons/empty.png" alt="" class="empty-icon">
          暂无结果
        </div> -->
      </van-tab>
      <van-tab title="我交办的">
        <div class="filter" @click.stop="showFilter = !showFilter">
          <img class="filter-icon" src="/static/icons/filter.png" alt />
          筛选
        </div>
        <div :class="['item-list', showFilter ? 'active' : '']">
          <div class="item" @click="changeTaskStatusSearch(1, '')">全部</div>
          <div
            class="item"
            style="border-top: 1px solid rgba(103,172,255, 0.22);border-bottom: 1px solid rgba(103,172,255, 0.22);"
            @click="changeTaskStatusSearch(1, '16002')"
          >已完成</div>
          <div class="item" @click="changeTaskStatusSearch(1, '16001')">未完成</div>
        </div>
        <div class="tasks-list">
          <task-item @click="toTaskDetail(item.id, '', true)" v-for="(item, idx) in myAssignmentList" :key="idx" :task="item" :myAssignment="true" />
        </div>
        <!-- <div class="no-result" v-if="myAssignmentList.length <= 0">
          <img src="/static/icons/empty.png" alt="" class="empty-icon">
          暂无结果
        </div> -->
      </van-tab>
    </van-tabs>
    <div class="add-transaction" @click="navigateToNewTransaction">
      <img class="icon" src="/static/icons/add-transaction.png" alt />
    </div>
  </div>
</template>

<script>
import TaskItem from "./task-item";

export default {
  data() {
    return {
      showFilter: false,
      assignToMeList: [],
      myAssignmentList: [],
      page: 1,
      pageSize: 10,
      activeIndex: 0,
      status: ''
    };
  },

  components: {
    "task-item": TaskItem
  },

  methods: {
    onChange(e) {
      this.activeIndex = e.mp.detail.index;
      console.log(e);
      this.page = 1;
      if(this.activeIndex === 0) {
        this.assignToMeList = [];
      } else {
        this.myAssignmentList = [];
      }
      this.fetchTaskList(this.page, this.pageSize);
    },
    navigateToNewTransaction() {
      mpvue.navigateTo({
        url: "/pages/tasks/new/main"
      });
    },
    fetchTaskList(page = 1, pageSize = 10, status = '', loading = true) {
      if(loading)  { mpvue.showLoading({title: '请稍候', mask: true}); }
      let personId = mpvue.getStorageSync('personId');
      const type = this.activeIndex === 0 ? '2' : '1';
      let params = {
        personId,
        type,
        page,
        pageSize
      };
      if(status) params.status = status;
      this.$api.getTaskList(params).then(res => {
        if(loading) { mpvue.hideLoading(); }
        const { pager } = res;
        if(pager && pager.list.length > 0) {
          if(this.activeIndex == 0) {
            this.assignToMeList = this.assignToMeList.concat(pager.list);
          } else {
            this.myAssignmentList = this.myAssignmentList.concat(pager.list);
          }
        } else {
          mpvue.showToast({
            title: '已无更多内容',
            icon: 'none'
          })
        }
      })
    },
    toTaskDetail(id, index = '', myAssignment = false) {
      if(index) {
        this.assignToMeList[index].isRead = '1';
      }
      if(myAssignment) {
        mpvue.navigateTo({
          url: '/pages/tasks/detail/main?taskId=' + id + '&type=myAssignment'
        });
        return;
      }
      mpvue.navigateTo({
        url: '/pages/tasks/detail/main?taskId=' + id
      })
    },
    changeTaskStatusSearch(activeIndex, status) {
      this.status = '';
      this.page = 1;
      if(activeIndex === 0) {
        this.assignToMeList = [];
      } else {
        this.myAssignmentList = [];
      }
      this.fetchTaskList(this.page, this.pageSize, status);
    },
  },
  onShow() {
    if(this.assignToMeList.length || this.myAssignmentList.length) {
      if(this.activeIndex === 0) {
        this.assignToMeList = [];
      } else {
        this.myAssignmentList = [];
      }
      this.fetchTaskList(1, this.page * this.pageSize, '', false);
    } else {
      this.fetchTaskList(1, this.page * this.pageSize);
    }
  },
  fetchList() {
    this.fetchTaskList(1, this.page * this.pageSize);
  },
  onReachBottom() {
    this.page++;
    this.fetchTaskList(this.page, this.pageSize, this.status);
  },
  onPullDownRefresh() {
    if(this.activeIndex === 0) {
      this.assignToMeList = [];
    } else {
      this.myAssignmentList = [];
    }
    this.fetchTaskList(1, this.page * this.pageSize);
    mpvue.stopPullDownRefresh();
  },
  watch: {
    // activeIndex(newValue) {
    //   this.page = 1;
    //   this.pageSize = 10;
    //   if(newValue === 0) {
    //     this.assignToMeList = [];
    //   } else {
    //     this.myAssignmentList = [];
    //   }
    // }
  },
  onUnload() {
    this.assignToMeList = [];
    this.myAssignmentList = [];
    this.page = 1;
    this.pageSize = 10;
    this.activeIndex = 0;
  }
};
</script>

<style lang="scss">
page {
  height: 100%;
}
.tasks {
  height: 100%;
  .tasks-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .add-transaction {
    position: fixed;
    right: 15px;
    bottom: 88px;
    .icon {
      width: 48px;
      height: 48px;
    }
  }
  .filter {
    margin: 5px 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(87, 85, 85, 1);
    opacity: 1;
    position: relative;
    height: 30px;
    box-sizing: border-box;
    .filter-icon {
      width: 15px;
      height: 10px;
      margin-right: 5px;
    }
  }
  .item-list {
    width: 56px;
    max-height: 0px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px rgba(103, 172, 255, 0.41);
    opacity: 1;
    position: fixed;
    right: 15px;
    top: 80px;
    z-index: 100;
    text-align: center;
    transition: 0.2s all ease;
    .item {
      visibility: hidden;
      height: 37px;
      line-height: 37px;
      font-size: 10px;
      font-weight: 400;
      color: rgba(103, 172, 255, 1);
      opacity: 1;
      box-sizing: border-box;
    }
    &.active {
      max-height: 106px;
      .item {
        visibility: visible;
      }
    }
  }
  .no-result {
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
    color: #707070;
    .empty-icon {
      display: block;
      width: 64px;
      height: 64px;
      margin: 20px auto;
    }
  }
}
</style>
