<template>
  <div class="task-item" @click="toTaskDetail">
    <div class="red-dot" v-if="!task.isRead && !myAssignment"></div>
    <div class="white-space" v-else></div>
    <!-- <img class="avatar" src="https://pic.qqtn.com/up/2017-11/15114862092111097.jpg" alt /> -->
    <div class="task-text">
      {{(task && task.title) || '暂无主题'}}
      <div class="date">{{formattedDate}}</div>
    </div>
    <div :class="['task-status', task.status === '16002' ? 'finished': '']" v-if="myAssignment">{{task.status === '16002' ? '已完成': '未完成'}}</div>
    <div :class="['task-status', task.feedbackStatus === '16002' ? 'finished': '']" v-else>{{task.feedbackStatus === '16002' ? '已完成': '未完成'}}</div>
    <img src="/static/icons/up.png" class="arrow" alt />
  </div>
</template>

<script>
import dayjs from 'dayjs';
export default {
  props: ["task","myAssignment"],
  data() {
    return {};
  },

  components: {},

  methods: {
    // toTaskDetail() {
    //   if(this.my) {
    //     this.toTaskMy();
    //     return;
    //   }
    //   mpvue.navigateTo({
    //     url: "/pages/tasks/detail/main"
    //   });
      
    // },
    toTaskDetail() {
      this.$emit('click');
    },
  },
  computed: {
    formattedDate() {
      if(this.task && this.task.created) {
        return dayjs(this.task.created).format('YYYY-MM-DD HH:mm:ss');
      } else {
        return new dayjs().format('YYYY-MM-DD HH:mm:ss');
      }
      
    }
  },

  created() {}
};
</script>

<style lang="scss" scoped>
.task-item {
  width: 344px;
  height: 48px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgb(195, 221, 252);
  margin: 10px;
  display: flex;
  align-items: center;
  background: white;
  .red-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff4b4c;
    margin: 0 10px;
  }
  .white-space {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .task-text {
    font-size: 14px;
    margin-left: 10px;
    flex: 1;
  }
  .date {
    font-size: 10px;
    color: #5b5b5b;
  }
  .arrow {
    width: 19px;
    height: 11px;
    margin: 0 10px;
    transform: rotate(90deg);
  }
  .task-status {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(103, 172, 255, 1);
    opacity: 1;
    margin: 0 5px;
    &.finished {
      color: #5b5b5b;
    }
  }
}
</style>
