<template>
  <div class="receive-staff">
    <van-tabs :active="activeIndex" @change="onChange" :color="'#3888E7'">
      <van-tab title="已处理">
        <div class="staff-list">
          <div class="staff-item" v-for="(item,idx) in handledList" :key="idx">
            <img class="avatar" :src="item.sex === '10002' ? '/static/icons/female-avatar.png' : '/static/icons/male-avatar.png'" alt />
            <div class="info">
              <div class="name">{{item.personName}}</div>
              <!-- <div class="workplace"></div> -->
            </div>
             <img src="/static/icons/phone.png" alt class="phone-call" @click="makePhoneCall(item.mobile)" />
          </div>
        </div>
      </van-tab>
      <van-tab title="未处理">
        <div class="staff-list">
          <div class="staff-item" v-for="(item,idx) in unHandledList" :key="idx">
            <img class="avatar" :src="item.sex === '10002' ? '/static/icons/female-avatar.png' : '/static/icons/male-avatar.png'" alt />
            <div class="info">
              <div class="name">{{item.personName}}</div>
              <!-- <div class="workplace"></div> -->
            </div>
            <img src="/static/icons/phone.png" alt class="phone-call" @click="makePhoneCall(item.mobile)" />
          </div>
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      activeIndex: 0,
      handledList:[],
      unHandledList: []
    };
  },

  components: {},

  methods: {
    onChange(e) {
      this.activeIndex = e.target.index;
    },
    makePhoneCall(phoneNumber) {
      if(phoneNumber) {
        mpvue.makePhoneCall({
          phoneNumber
        })
      } else {
        mpvue.showToast({
          title: '暂无用户联系方式，无法呼出',
          icon: 'none'
        })
      }
    },
  },

  mounted() {
    let personId = mpvue.getStorageSync('personId');
    const query = this.$root.$mp.query || {};
    const { taskId } = query;
    mpvue.showLoading({title: '请稍候'});
    this.$api.getTaskDetail({
      taskId,
      personId
    }).then(res => {
      mpvue.hideLoading();
      const { taskReceiverList } = res;
      for(let item of taskReceiverList) {
        if(item.isFeedback === '16002') {
          this.handledList.push(item);
        } else {
          this.unHandledList.push(item);
        }
      }
    })
  },
  onUnload() {
    this.handledList = [];
    this.unHandledList = [];
    this.activeIndex =  0;
  }
};
</script>

<style lang="scss">
page {
  background-color: #F7F8FA;
}
.receive-staff {
  .staff-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .staff-item {
      display: flex;
      align-items: center;
      width: 344px;
      height: 56px;
      border-radius: 8px;
      background: white;
      align-self: center;
      padding: 5px;
      margin-top: 7px;
      margin-bottom: 10px;
      .info {
        flex: 1;
        color: #5b5b5b;
        font-size: 14px;
      }
      .avatar {
        margin: 0 10px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      .phone-call {
        width: 27px;
        height: 27px;
        margin-right: 9px;
      }
    }
  }
}
</style>
