<script>
export default {
  created() {
    // 调用API从本地缓存中获取数据
    /*
     * 平台 api 差异的处理方式:  api 方法统一挂载到 mpvue 名称空间, 平台判断通过 mpvuePlatform 特征字符串
     * 微信：mpvue === wx, mpvuePlatform === 'wx'
     * 头条：mpvue === tt, mpvuePlatform === 'tt'
     * 百度：mpvue === swan, mpvuePlatform === 'swan'
     * 支付宝(蚂蚁)：mpvue === my, mpvuePlatform === 'my'
     */

    // let logs;
    // if (mpvuePlatform === "my") {
    //   logs = mpvue.getStorageSync({ key: "logs" }).data || [];
    //   logs.unshift(Date.now());
    //   mpvue.setStorageSync({
    //     key: "logs",
    //     data: logs
    //   });
    // } else {
    //   logs = mpvue.getStorageSync("logs") || [];
    //   logs.unshift(Date.now());
    //   mpvue.setStorageSync("logs", logs);
    // }
    mpvue.getSetting({
      success(res) {
        if (!res.authSetting["scope.userLocation"]) {
          wx.authorize({
            scope: "scope.userLocation",
            success() {
              mpvue.getLocation({
                type: "gcj02",
                success(res) {
                  console.log(res);
                  const latitude = res.latitude;
                  const longitude = res.longitude;
                  const speed = res.speed;
                  const accuracy = res.accuracy;
                }
              });
            }
          });
        }
      }
    });
    // mpvue.setStorageSync('diagnosisRecord', '');
    // mpvue.setStorageSync('phoneDiagnosisRecord', '');
    // mpvue.setStorageSync('faceDiagnosisRecord', '');
  },
  onHide() {
  },
  log() {
    console.log(`log at:${Date.now()}`);
  }
};
</script>

<style>
.container {
  /* height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box; */
}
/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}
page {
  background: rgba(247, 248, 250, 1);
}
text, textarea {
  font-family: system-ui;
}

.van-cell__title,
.van-cell__value {
  font-size: 14px;
}
.van-cell__value {
  padding-left: 10px;
}
.red-star {
  color: red;
}
</style>
