<template>
  <div class="patient-guide">
    <map
      id="map"
      :markers="markers"
      :scale="16"
      :latitude="location.lat"
      :longitude="location.lng"
      @callouttap="goToClass"
      @end="regionchange"
      @begin="regionchange"
      @regionchange="regionchange"
      show-location
      style="width: 100%; height: 100vh"
    />
    <div class="footer-content">
      <div class="patient-card">
        <div class="top-content">
          <img class="avatar" :src="patient.dicSexKey === '10001' ? '/static/icons/male-avatar.png' : '/static/icons/female-avatar.png'" alt />
          <div class="name">
            <span class="name-content">
             {{patient.name}}
            </span>
            <div class="patient-status" :style="{'background-color': color}" v-if="patient.grade">{{patient.grade}}级</div>
            <div class="patient-status" :style="{'background-color': '#888'}" v-else>暂无</div>
            <img
              class="star"
              :src="patient.isfocus - '0'  ? '/static/icons/star-full.png' : '/static/icons/star-empty.png'"
              @click="changeCareFlag"
              alt
            />
            <img class="phone" src="/static/icons/phone.png" alt @click="makePhoneCall"/>
          </div>
          <div>
            <img class="navigator" src="/static/icons/position.png" alt />
            <div class="address" @click="navigateToMap">{{patient.address}}</div>
          </div>
          <img class="close-icon" src="/static/icons/close.png" @click="navigateToPrevPage" alt />
        </div>
        <div class="footer-content">
          <div @click="navigateToPatientList">
            <img class="list-icon" src="/static/icons/list.png" alt />
            患者列表
          </div>
          <div class="btn-group">
            <div class="btn" @click="navigateToPatientDetail(patient.id)">查看详情</div>
            <div class="btn guide" @click="startNavigation">
              <img class="navigator" src="/static/icons/navigator-white.png" alt  />
              导航
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search-bar" @click="navigateToSearch">
      <input type="text" class="input" placeholder="请输入患者名称" />
      <img class="search-icon" src="/static/icons/search-icon.png" alt />
      <div class="search-text">搜索</div>
    </div>
    <van-transition :show="showAlert">
      <div class="alert" v-if="patient.isfocus == '1'">
        <img class="star-icon" src="/static/icons/star-full.png" alt />
        成功关注此患者！
      </div>
      <div  class="alert" v-else>
        <img class="star-icon" src="/static/icons/star-empty-blue.png" alt />
        成功取消关注此患者！
      </div>
    </van-transition>
  </div>
</template>

<script>
import card from "@/components/card";
import { navigateToPatientDetail as navigateToDetail } from "@/utils/index";
import starFullIcon from '@/../static/icons/star-full.png';
import starEmptyIcon from '@/../static/icons/star-empty-blue.png';
import patientPoints from '@/utils/patientPoints';
export default {
  data() {
    return {
      activeIndex: 0,
      isOpenList: false,
      patientsList: [],
      show: false,
      patient: {},
      statusMap: {
        "0,1": "#20D381",
        "2,3": "#FC984C",
        "4,5": "#FF4B4C"
      },
      color: "",
      location: {
        lng: "120.705796",
        lat: "28.001835"
      },
      showAlert: false,
      markers: []
    };
  },

  components: {
    "patient-card": card
  },

  methods: {
    showMoveOutDialog(flag) {
      this.moveOutDialog = flag;
    },
    changeCareFlag() {
      this.$api.saveOrUpdatePatientInfo({
        id: this.patient.id,
        isfocus: this.patient.isfocus === '0' ? '1' : '0'
      }).then(res => {
        this.patient.isfocus = this.patient.isfocus === '0' ? '1' : '0';
        this.showAlert = true;
        setTimeout(() => {
          this.showAlert = false;
        }, 1500);
      })
    },
    changeIndex(index) {
      this.activeIndex = index;
    },
    changeOpenList(flag) {
      this.isOpenList = flag;
    },
    onChangeFlag(index) {
      this.patientsList[index].careFlag = !this.patientsList[index].careFlag;
      if (this.patientsList[index].careFlag) {
        this.show = true;
        setTimeout(() => (this.show = false), 800);
      }
    },
    navigateToPatientDetail(patientId) {
      navigateToDetail(patientId);
    },
    navigateToSearch() {
      let pages = getCurrentPages();
      let lastPage = pages[pages.length - 2];
      let url = (lastPage || "") && lastPage.route;
      // 判断是否前一张页面为搜索页面，如果是直接返回一层
      if (url.indexOf("pages/my-patient/search/main") > -1) {
        mpvue.navigateBack();
        return;
      }
      mpvue.navigateTo({
        url: "/pages/my-patient/search/main"
      });
    },
    navigateToPatientList() {
      mpvue.navigateTo({
        url: "/pages/my-patient/main"
      });
    },
    makePhoneCall() {
      const phoneNumber = this.patient.contactPhone;
      if(phoneNumber) {
        mpvue.makePhoneCall({
          phoneNumber
        })
      } else if(this.patient.guarderPhoto) {
        let that = this;
        wx.showModal({
          title: '提示',
          content: '即将拨打监护人的电话，确认继续？',
          success (res) {
            if (res.confirm) {
              mpvue.makePhoneCall({
                phoneNumber: that.patient.guarderPhoto
              })
            } else if (res.cancel) {
              console.log('用户点击取消')
            }
          }
        });
      } else {
        mpvue.showToast({
          title: '暂无用户电话信息，无法呼出',
          icon: 'none'
        })
      }
    },
    startNavigation() {
      const { lon, lat, address } = this.patient;
      if(lon && lat && address) {
        wx.openLocation({
          latitude: lat,
          longitude: lon,
          name: address,
          scale: 16
        });
      } else {
        mpvue.showToast({
          title: '暂无该用户详细地理位置数据',
          icon: 'none'
        });
      }
    },
    navigateToPrevPage() {
      mpvue.navigateBack();
    }
  },
  watch: {
    patient(newValue, oldValue) {
      for (let prop in this.statusMap) {
        if (prop.indexOf(newValue.grade) > -1) {
          this.color = this.statusMap[prop];
        }
      }
    }
  },
  mounted() {
    let that = this;
    const query = this.$root.$mp.query || {};
    const { patientId } = query;
    mpvue.getLocation({
      type: "gcj02",
      success(res) {
        console.log(res);
        const latitude = res.latitude;
        const longitude = res.longitude;
        that.location.lng = longitude;
        that.location.lat = latitude;
      }
    });
    this.$api.getPatientDetail({
      id: patientId
    }).then(res => {
      const { culprit } = res;
      this.patient = culprit;
    });
  },
  created() {
    
  },
  onUnload() {
    this.patientsList = [];
  }
};
</script>

<style lang="scss" scoped>
.patient-guide {
  position: relative;
  .footer-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    border-radius: 10px 10px 0px 0px;
    .patient-card {
      .top-content {
        position: relative;
        height: 64px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.11);
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          position: absolute;
          top: 8px;
          left: 8px;
        }
        .name {
          position: absolute;
          left: 56px;
          top: 6px;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          display: flex;
          align-items: center;
          .name-content {
            max-width: 120px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .patient-status {
            border-radius: 2px;
            font-size: 10px;
            margin-left: 10px;
            padding: 0 5px;
            color: white;
          }
          .star {
            width: 12px;
            height: 12px;
            margin-left: 12px;
            z-index: 10;
          }
          .phone {
            width: 14px;
            height: 14px;
            margin-left: 10px;
          }
        }
        .navigator {
          width: 10px;
          height: 13px;
          position: absolute;
          left: 56px;
          top: 31px;
        }
        .address {
          width: 200px;
          height: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          position: absolute;
          left: 70px;
          top: 30px;
          z-index: 10;
        }
        .close-icon {
          width: 18px;
          height: 18px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
      .footer-content {
        display: flex;
        align-items: center;
        height: 45px;
        padding: 5px;
        box-sizing: border-box;
        font-size: 14px;
        .list-icon {
          width: 15px;
          height: 10px;
          margin: 0 6px 0 10px;
        }
        .btn-group {
          flex: 1;
          justify-content: flex-end;
          display: flex;
          .btn {
            width: 80px;
            height: 28px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(112, 112, 112, 0.23137254901960783);
            opacity: 1;
            border-radius: 16px;
            margin: 0 15px;
            font-size: 12px;
            font-weight: 400;
            line-height: 28px;
            color: rgba(91, 91, 91, 1);
            opacity: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            &.guide {
              background: rgba(56, 136, 231, 1);
              border: none;
              color: rgba(255, 255, 255, 1);
              opacity: 1;
            }
            .navigator {
              width: 11px;
              height: 11px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .search-bar {
    position: absolute;
    bottom: 130px;
    left: 15px;
    .input {
      width: 200px;
      height: 32px;
      background: rgba(247, 248, 250, 1);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      opacity: 1;
      border-radius: 7px;
      padding: 0 35px;
      box-sizing: border-box;
      font-size: 14px;
    }
    .search-icon {
      position: absolute;
      top: 8px;
      left: 10px;
      width: 16px;
      height: 16px;
    }
    .search-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      color: rgba(56, 136, 231, 1);
      opacity: 1;
      position: absolute;
      right: 10px;
      top: 6px;
    }
  }
  .alert {
    position: fixed;
    top: 60px;
    left: 114px;
    min-width: 150px;
    height: 31px;
    line-height: 31px;
    background: rgba(207, 229, 255, 1);
    opacity: 1;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(56, 136, 231, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 10px;
    .star-icon {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}
</style>